{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Contest Invitations - {{ contest.title }}
{% endblock %}

{% block backstage_content %}

  {% include 'components/message.jinja2' %}
  <p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInvitationModal">Add invitations</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importInvitationModal">Import from namelist</button>
    <a role="button" class="btn btn-default" href="{{ url('backstage:contest_invitation_download', contest.pk) }}">Download as Excel</a>
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="35%">Invitation</th>
          <th width="35%">Comment</th>
          <th width="15%">Assign</th>
          <th width="15%">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for invitation in invitation_list %}
          <tr>
            <td>{{ invitation.code }}</td>
            <td>{{ invitation.comment }}</td>
            <td><a data-toggle="modal" href="#assignInvitationModal" data-url="{{ url('backstage:contest_invitation_assign', contest.pk, invitation.pk) }}">Assign</a></td>
            <td><a class="text-danger" href="javascript:void(0);" name="delete" data-link="{{ url('backstage:contest_invitation_delete', contest.pk, invitation.pk) }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {{ my_paginator() }}

  {% call modal(title="Paste your namelist", id="importInvitationModal", action=url('backstage:contest_invitation_create', contest.pk)) %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <label for="list" class="form-control-label">Namelist</label>
    <textarea class="form-control" name="list" id="list" rows="7" placeholder="One record per line"></textarea>
  {% endcall %}

  {% call modal(title="Assign invitations", id="assignInvitationModal") %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input class="form-control" id="username" name="username">
      </div>
    </div>
  {% endcall %}

  {% call modal(title="Add invitations", id="addInvitationModal", action=url('backstage:contest_invitation_create', contest.pk)) %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="form-group">
      <label for="number" class="col-sm-2 control-label">Number</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" value="1" id="number" name="number">
      </div>
    </div>
  {% endcall %}

  {{ post_link("[name=delete]") }}

{% endblock %}
