{% extends 'backstage/base.jinja2' %}
{% from 'components/post_link.jinja2' import post_link %}
{% block content_header %}
  Contests
{% endblock %}

{% block backstage_content %}

  <a href="{{ url('backstage:contest_send_invitation') }}">Send invitation letters</a><br>
  <a class="post-link" data-link="{{ url('backstage:contest_apply_ratings_global') }}">Apply rating colors</a>

  <table class="ui center aligned small celled table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Public</th>
        <th colspan="2">Ratings</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr>
          <td scope="row">{{ contest.pk }}</td>
          <td><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
          <td>{{ contest.start_time | date('Y-m-d H:i') }}</td>
          <td>{{ contest.end_time | date('Y-m-d H:i') }}</td>
          <td>{{ contest.public }}</td>
          <td><a class="post-link" data-link="{{ url('backstage:contest_apply_ratings', contest.pk) }}">Apply</a></td>
          <td><a class="post-link" data-link="{{ url('backstage:contest_withdraw_ratings', contest.pk) }}">Withdraw</a></td>
          {# NOTE: Contest cannot be deleted once created #}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

{% endblock %}
