{% extends 'backstage/base.html' %}

{% block backstage_content %}

  {% include 'components/message.html' %}

  <div class="content-header">
    <h2>Manage Contest - {{ contest.title }}</h2>
  </div>
  <table class="table table-responsive full-width-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Testdata</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for contest_problem in contest_problem_list %}
        {% with contest_problem.problem as problem %}
          <tr>
            <th scope="row">{{ problem.pk }}</th>
            <td>{{ problem.title }}</td>
            <td><a href="{% url 'backstage:problem_edit' problem.pk %}" class="text-primary">Edit</a></td>
            <td><a href="{% url 'backstage:problem_testdata' problem.pk %}" class="text-primary">Testdata</a></td>
            <td><a href="#" class="text-danger">Remove(todo)</a></td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-responsive full-width-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Total Number</th>
        <th>Edit</th>
        <th>Manage Group Members</th>
      </tr>
    </thead>
    <tbody>
      {% for group in group_list %}
        <tr>
        <th scope="row">{{ group.pk }}</th>
        <td>{{ group.name }}</td>
        <td>{{ group.members.count }}</td>
        <td><a href="{% url 'backstage:group_edit' group.pk %}" class="text-primary">Edit</a></td>
        <td><a href="{% url 'backstage:group_manage' group.pk %}" class="text-primary">Manage</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </table>

{% endblock %}
