{% extends 'backstage/base.html' %}
{% load paginator %}

{% block backstage_content %}
  <div class="content-header">
    <h2>Contest Invitation - {{ contest.title }}</h2>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInvitationModal">Add invitations</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#importInvitationModal">Import from namelist</button>
  </div>
  <div class="scrollable">
    <table class="table">
      <thead>
        <tr>
          <th width="40%">Invitation</th>
          <th width="40%">Comment</th>
          <th width="20%">Assign</th>
        </tr>
      </thead>
      <tbody>
        {% for invitation in invitation_list %}
          <tr>
            <td>{{ invitation.code }}</td>
            <td>{{ invitation.comment }}</td>
            <td><a href="#">Assign</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="addInvitationModal" tabindex="-1" role="dialog"
       aria-labelledby="addInvitationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addInvitationModalLabel">Add invitations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="mb-0" action="{% url 'backstage:contest_invitation_create' contest.pk %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="form-group row">
              <label for="number" class="col-2 col-form-label">Number</label>
              <div class="col-10">
                <input class="form-control" type="number" value="1" id="number" name="number">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary modal-submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="importInvitationModal" tabindex="-1" role="dialog"
       aria-labelledby="importInvitationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importInvitationModalLabel">Paste your namelist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="mb-0" action="{% url 'backstage:contest_invitation_create' contest.pk %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="form-group">
              <label for="list" class="form-control-label">Namelist</label>
              <textarea class="form-control" name="list" id="list" rows="7" placeholder="One record per line"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary modal-submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  {% paginator %}

{% endblock %}
