{% extends 'backstage/base.jinja2' %}
{% from 'components/post_link.jinja2' import post_link %}
{% block content_header %}
  Manage Contest - {{ contest.title }}
{% endblock %}

{% block backstage_content %}

  {% include 'components/message.jinja2' %}

  <div class="content-section">
    <h3>Contest Profile</h3>
    {% for pro in profile %}
    <div class="row row-with-space">
      <div class="col-sm-3"><strong>{{ pro.0 }}</strong></div>
      <div class="col-sm-9">{{ pro.1 | safe }}</div>
    </div>
    {% endfor %}
    <a role="button" href="{{ url('backstage:contest_edit', contest.pk) }}" class="btn btn-default">
      Edit Profile</a>
  </div>

  <div class="content-section">
    <h3>Contest Problems</h3>
    {% if contest_problem_list %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th width="10%">ID</th>
            <th width="50%">Title</th>
            <th width="10%">Edit</th>
            <th width="16%">Testdata</th>
            <th width="14%">Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for contest_problem in contest_problem_list %}
            {% set problem = contest_problem.problem %}
              <tr>
                <td scope="row">{{ contest_problem.identifier }}</td>
                <td>{{ contest_problem.problem_id }} - {{ problem.title }}</td>
                <td><a href="{{ url('backstage:problem_edit', problem.pk) }}" class="text-primary">Edit</a></td>
                <td><a href="{{ url('backstage:problem_testdata', problem.pk) }}" class="text-primary">Testdata</a></td>
                <td><a data-toggle="modal" href="#problem-remove" class="text-danger"
                       data-url="{{ url('backstage:contest_problem_delete', contest.pk, contest_problem.pk) }}">Remove</a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <form class="form-inline" action="{{ url('backstage:contest_problem_create', contest.pk) }}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <input type="text" class="form-control mr-2 mb-2" id="problem" name="problem" placeholder="Original problem ID" required>
      <button type="submit" class="btn btn-primary mr-2 mb-2">Add a problem</button>
      <button type="button" class="btn btn-default mb-2" data-toggle="modal" data-target="#bulk-add"
        data-action="{{ url('backstage:contest_problem_create', contest.pk) }}">Bulk add</button>
    </form>
  </div>

  <div class="content-section">
    <h3>Contest Participants</h3>
    {% if not contest.public %}
      <div class="row row-with-space">
        <div class="col-sm-3"><strong>Invitation code</strong></div>
        <div class="col-sm-9"><a href="{{ url('backstage:contest_invitation', contest.pk) }}">{{ invitation_count }} unused</a></div>
      </div>
    {% endif %}
    <div class="row row-with-space">
      <div class="col-sm-3"><strong>Participants</strong></div>
      <div class="col-sm-9"><a href="{{ url('backstage:contest_participant', contest.pk) }}">&times; {{ participant_count }}</a></div>
    </div>
  </div>

  {% call modal(title="Confirm", id='problem-remove', button_name="I'm sure") %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div>
      Are you sure you want to delete this problem? Contest information will be lost.
    </div>
  {% endcall %}

  {% call modal(title="Add problems to contest", action=url('backstage:contest_problem_create', contest.pk), id='bulk-add') %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <label for="problems" class="form-control-label">Problems</label>
    <textarea class="form-control" name="problems" id="problems" rows="7" placeholder="One problem per line"></textarea>
  {% endcall %}

  {{ post_link("#delete") }}

{% endblock %}
