{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Contest Participants - {{ contest.title }}
{% endblock %}

{% block backstage_content %}

  {% include 'components/message.jinja2' %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Username</th>
          <th width="50%">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participant_list %}
          <tr>
            <td>{{ participant.user.username }}</td>
            <td>{{ participant.comment }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {{ my_paginator() }}

{% endblock %}
