{% extends 'polygon/edit/base.jinja2' %}

{% macro option_dropdown() %}
  <div class="ui icon right pointing dropdown button">
    <i class="options icon"></i>
    <div class="menu">
      <div class="item">
        <i class="dropdown icon"></i>
        <i class="travel icon"></i> Toolbox
        <div class="menu">
          <div class="item">Google Docs</div>
          <div class="item">Google Drive</div>
          <div class="item">Dropbox</div>
          <div class="item">Adobe Creative Cloud</div>
          <div class="item">Private FTP</div>
          <div class="item">Another Service...</div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="item">
        <i class="edit icon"></i> Edit
      </div>
      <div class="item">
        <i class="pie chart icon"></i> Readjust points
      </div>
      <div class="item">
        <i class="cloud download icon"></i> Download
      </div>
      <div class="divider"></div>
      <div class="item">
        <i class="trash icon"></i> Delete
      </div>
    </div>
  </div>
{% endmacro %}

{% block framework %}

  <div class="ui segments">
    <div class="ui right aligned segment">
      <div class="ui dropdown onhover">
        <button class="ui icon button positive compact text"><i class="plus icon"></i> Add</button>
        <div class="menu">
          <div class="item" v-on:click="showDialogWithOneForm" data-target="#case-add" data-block="true">
            <i class="write icon"></i> Manually</div>
          <div class="item" v-on:click="showDialogWithOneForm" data-target="#case-file-upload"
               data-action="#">
            <i class="upload icon"></i> Upload</div>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui header">Current</div>
      <draggable class="ui middle aligned list" v-model="caseList" :options="{group:'caseList'}">
        <div class="item" v-for="(element, index) in caseList">
          <div class="right floated content">
            {{ option_dropdown() }}
          </div>
          <i class="neuter icon"></i>
          <div class="content">
            <span class="click-able header">Case [[ index + 1 ]]
              <span data-tooltip="Well formed" data-inverted>
                <i class="check circle icon violet"></i>
              </span>
              <span data-tooltip="Model solution output" data-inverted>
                <i class="check circle icon green" v-if="element.model == 1"></i>
                <i class="warning circle icon blue" v-else-if="element.model == -1"></i>
                <i class="help circle icon yellow" v-else></i>
              </span>
              <span data-tooltip="Checked by checker" data-inverted>
                <i class="check circle icon green" v-if="element.checked == 1"></i>
                <i class="warning circle icon blue" v-else-if="element.checked == -1"></i>
                <i class="help circle icon yellow" v-else></i>
              </span>
            </span>
            <div class="description">Modified [[ element.modified_time ]], [[ Math.round(element.size / 1024) ]] KB. Worth [[ element.point ]] points.</div>
          </div>
        </div>
        <div class="ui message" v-if="caseList.length == 0">Empty yet. Drag cases here.</div>
      </draggable>
    </div>
    <div class="ui segment">
      <div class="ui header">Unused Cases</div>
      <draggable class="ui middle aligned list" v-model="unusedCaseList" :options="{group:'caseList'}">
        <div class="item" v-for="element in unusedCaseList">
          <div class="right floated content">
            {{ option_dropdown() }}
          </div>
          <i class="genderless icon"></i>
          <div class="content">
            <span class="header">Case NaN</span>
            <div class="description">Modified [[ element.modified_time ]], [[ Math.round(element.size / 1024) ]] KB. Worth [[ element.point ]] points.</div>
          </div>
        </div>
        <div class="ui message" v-if="unusedCaseList.length == 0">Empty yet. Drag cases here.</div>
      </draggable>
    </div>

    <div class="ui segment">

      <div class="ui icon bottom left pointing dropdown button">
        <i class="travel icon"></i>
        <div class="menu">
          <div class="item">Item 1</div>
        </div>
      </div>

      <div class="ui right floated buttons">
        <a class="ui button" @click="updateCaseList">Reset</a>
        <div class="or"></div>
        <a class="ui teal button" @click="saveCaseOrders"
           data-action="{{ url('polygon:session_update_orders', session.id) }}">
          Save orders</a>
      </div>

    </div>
  </div>


  {% call modal(title="Add a new case", id="case-add", size="small") %}
    <form class="ui form" action="{{ url('polygon:session_create_case_manually', session.id) }}" method="POST"
          data-progress-bar="#files-upload-progress">
      {% csrf_token %}
      <div class="two fields">
        <div class="field">
          <label for="input">Input</label>
          <textarea name="input"></textarea>
        </div>
        <div class="field">
          <label for="output">Output</label>
          <textarea name="output"></textarea>
        </div>
      </div>
      <div class="ui checkbox field">
        <input type="checkbox" name="wellForm" checked>
        <label>Make my tests well-formed</label>
      </div>
    </form>
  {% endcall %}

  {% call modal(title="Upload a new file", id="case-file-upload") %}
    <form class="ui form" action="{{ url('polygon:session_upload_regular_file', session.id) }}" method="POST"
          data-progress-bar="#files-upload-progress">
      {% csrf_token %}
      <div class="field">
        <label for="files">Choose a file</label>
        <div class="ui fluid file input action">
          <input type="text" readonly>
          <input type="file" name="files" autocomplete="off">
          <div class="ui button">Select...</div>
        </div>
      </div>
    </form>
  {% endcall %}

{% endblock %}

{% block tips %}
  <ul class="list">
    <li><b>Well formed</b> means following:
      <ul class="list">
        <li>each line finishes with EOLN;</li>
        <li>doesn't contain characters with codes less than 32;</li>
        <li>doesn't contain leading or trailing spaces;</li>
        <li>doesn't contain two or more consecutive spaces;</li>
        <li>doesn't contain leading or trailing empty lines;</li>
        <li>file is not empty.</li>
      </ul>
    </li>
    <li>You can change case orders randomly, but do not forget to click <b>Save orders</b> below.</li>
  </ul>
{% endblock %}