{% extends 'polygon/edit/base.jinja2' %}

{% block framework %}
  <p style="text-align: right;"><b>Last update: [[ appData.config_update_time ]]</b></p>
  <form class="ui form" action="{{ url('polygon:session_save_meta', session.id) }}" method="POST" id="save-meta-form">

    {% csrf_token %}

    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>ID</label>
          <input type="text" readonly name="id" v-model="appData.problem_id">
        </div>
        <div class="field">
          <label>Alias</label>
          <input type="text" name="alias" v-model="appData.alias">
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Time limit (ms)</label>
          <input type="text" name="time_limit" v-model="appData.time_limit" placeholder="between 200 to 30000">
        </div>
        <div class="field">
          <label>Memory limit (MB)</label>
          <input type="text" name="memory_limit" v-model="appData.memory_limit" placeholder="between 64 to 4096">
        </div>
      </div>

      <div class="field">
        <label>Source</label>
        <input type="text" name="source" v-model="appData.source">
      </div>

      <div class="four fields">
        <div class="field">
          <label>Description file</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="description" v-model="appData.description">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.description ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.statement_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Input file</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="input" v-model="appData.input">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.input ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.statement_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Output file</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="output" v-model="appData.output">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.output ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.statement_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Hint file</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="hint" v-model="appData.hint">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.hint ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.statement_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
      </div>

      <div class="four fields">
        <div class="field">
          <label>Checker</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="checker" v-model="appData.checker">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.checker ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.program_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Interactor</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="interactor" v-model="appData.interactor">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.interactor ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.program_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Validator</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="validator" v-model="appData.validator">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.validator ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.program_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Model solution</label>
          <div class="ui selection fluid dropdown">
            <input type="hidden" name="model" v-model="appData.model">
            <i class="dropdown icon"></i>
            <div class="text">[[ appData.model ]]</div>
            <div class="menu">
              <div class="item" v-for="file in appData.program_file_list" :key="file.filename">[[ file.filename ]]</div>
            </div>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label>Case number</label>
          <input type="number" readonly name="case-number" v-model="appData.case_count">
        </div>
        <div class="field">
          <label>Pretest number</label>
          <input type="number" readonly name="pretest-number" v-model="appData.pretest_count">
        </div>
        <div class="field">
          <label>Sample number</label>
          <input type="number" readonly name="sample-number" v-model="appData.sample_count">
        </div>
      </div>

      <div class="ui checkbox field">
        <input type="checkbox" name="interactive">
        <label>Is interactive</label>
      </div>

    </div>

    <button class="positive ui button" type="submit">Save</button>

  </form>
{% endblock %}

{% block tips %}
  <ul class="list">
    <li>Problem ID is read-only.</li>
    <li>You should be careful to change alias because it may make your teammates confused sometimes.</li>
    <li>Click <b>Save</b> when you are done with this page. Changes might be lost when you come back later.</li>
    <li>There are a lot of read-only fields here. You must edit these fields in other sections. This is just for a quick check.</li>
    <li>When you appoint an interactor here, the problem automatically becomes interactive.</li>
  </ul>
{% endblock %}