<div class="ui grid">
  <div class="twelve wide column">
    <form class="ui form" action="{{ url('polygon:session_save_meta', session.id) }}" method="POST" id="save-meta-form">

      <div class="ui success message">
        <div class="header">Congratulations!</div>
        <p>Your meta data has been saved to your session.</p>
      </div>

      <div class="ui error message">
      </div>

      {% csrf_token %}

      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>ID</label>
            <input type="text" readonly name="id" v-model="appData.problem_id">
          </div>
          <div class="field">
            <label>Alias</label>
            <input type="text" name="alias" v-model="appData.alias">
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Time limit (ms)</label>
            <input type="text" name="time_limit" v-model="appData.time_limit" placeholder="between 200 to 30000">
          </div>
          <div class="field">
            <label>Memory limit (MB)</label>
            <input type="text" name="memory_limit" v-model="appData.memory_limit" placeholder="between 64 to 4096">
          </div>
        </div>

        <div class="field">
          <label>Source</label>
          <input type="text" name="source" v-model="appData.source">
        </div>

        <div class="four fields">
          <div class="field">
            <label>Description file</label>
            <input type="text" readonly name="description" v-model="appData.description">
          </div>
          <div class="field">
            <label>Input file</label>
            <input type="text" readonly name="input" v-model="appData.input">
          </div>
          <div class="field">
            <label>Output file</label>
            <input type="text" readonly name="output" v-model="appData.output">
          </div>
          <div class="field">
            <label>Hint file</label>
            <input type="text" readonly name="hint" v-model="appData.hint">
          </div>
        </div>

        <div class="three fields">
          <div class="field">
            <label>Checker</label>
            <input type="text" readonly name="checker" v-model="appData.checker">
          </div>
          <div class="field">
            <label>Interactor</label>
            <input type="text" readonly name="checker" v-model="appData.interactor">
          </div>
          <div class="field">
            <label>Validator</label>
            <input type="text" readonly name="checker" v-model="appData.validator">
          </div>
        </div>

        <div class="three fields">
          <div class="field">
            <label>Case number</label>
            <input type="number" readonly name="case-number" v-model="appData.case_count">
          </div>
          <div class="field">
            <label>Pretest number</label>
            <input type="number" readonly name="pretest-number" v-model="appData.pretest_count">
          </div>
          <div class="field">
            <label>Sample number</label>
            <input type="number" readonly name="sample-number" v-model="appData.sample_count">
          </div>
        </div>

      </div>

      <button class="positive ui button" type="submit">Save</button>

    </form>
  </div>
  <div class="four wide column">
    <div class="ui info message">
      <div class="header">Quick Reference</div>
      <ul class="list">
        <li>Problem ID is read-only.</li>
        <li>You should be careful to change alias because it may make your teammates confused sometimes.</li>
        <li>Click <b>Save</b> when you are done with this page. Changes might be lost when you come back later.</li>
        <li>There are a lot of read-only fields here. You must edit these fields in other sections. This is just for a quick check.</li>
      </ul>
    </div>
  </div>
</div>
