<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui error message" v-if="errorMessage">
      <i class="close icon" v-on:click="clearErrorMessage"></i>
      [[ errorMessage ]]
    </div>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="3">
            <button class="ui right floated icon button positive compact" v-on:click="showDialogWithOneForm"
                    data-target="#statement-file-create">
              <i class="plus icon"></i> Add
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="file in appData.statement_file_list" :key="file.filename">
          <td>
            <i class="file icon" v-if="file.used"></i>
            <i class="file outline icon" v-else></i> [[ file.filename ]]</td>
          <td class="right aligned collapsing">[[ file.modified_time ]]</td>
          <td class="right aligned collapsing">
            <div class="ui icon compact buttons">
              <button class="ui primary button" v-bind:data-filename="file.filename" v-on:click="showStatementEditor"
                      data-get-content="{{ url('polygon:session_get_statement_raw', session.id) }}"
                      data-action="{{ url('polygon:session_update_statement', session.id) }}">
                <i class="edit icon"></i>
              </button>
              <button class="ui button" v-bind:data-filename="file.filename" v-on:click="showDialogWithOneForm"
                      data-target="#change-file-role" v-bind:data-role="file.used"
                      data-action="{{ url('polygon:session_update_statement_role', session.id) }}">
                <i class="setting icon"></i>
              </button>
              <button class="ui button" data-action="{{ url('polygon:session_delete_statement', session.id) }}"
                      v-bind:data-filename="file.filename" v-on:click="showDeleteDialog">
                <i class="trash icon"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="four wide column">
    <div class="ui info message">
      <div class="header">Quick Tips</div>
      <ul class="list">
        <li>Filename must consist of ascii letters, digits, -, _ and .(dot).</li>
        <li>Some files are not delete-able because they are either used to be a description, or something else. Check before you try again.</li>
        <li>You can but please don't refer two different label to one file, as it will result in chaos.</li>
        <li>If you do not want something (for example, you don't need hint), just leave it empty.</li>
      </ul>
    </div>
  </div>

  {% call modal(title="Create a new statement file", id="statement-file-create") %}
    <form class="ui form" action="{{ url('polygon:session_create_statement', session.id) }}" method="POST">
      {% csrf_token %}
      <div class="field">
        <label>File name with extension</label>
        <input type="text" name="filename">
      </div>
    </form>
  {% endcall %}

  {% call modal(title="Change file roles", id="change-file-role") %}
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      <div class="ui selection dropdown">
        <label>Treat as</label>
        <input type="hidden" name="role" data-important="true">
        <i class="dropdown icon"></i>
        <div class="default text">Role</div>
        <div class="menu">
          <div class="item">Description</div>
          <div class="item">Input</div>
          <div class="item">Output</div>
          <div class="item">Hint</div>
        </div>
      </div>
    </form>
  {% endcall %}

  <div class="ui fullscreen longer modal" id="statement-editor">
    <div class="ui header">Editing [[ statementEditorData.fileName ]]</div>
    <div class="content">
      <div class="ui grid">
        <div class="eight wide column">
          <form class="ui form">
            {% csrf_token %}
            <div class="field">
              <label>Markdown</label>
              <textarea name="text" v-model="statementEditorData.text"></textarea>
            </div>
          </form>
        </div>
        <div class="eight wide column" v-html="statementEditorData.converted">
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui basic cancel button">
        <i class="remove icon"></i> Cancel
      </div>
      <div class="ui green ok button">
        <i class="checkmark icon"></i> Save
      </div>
    </div>
  </div>

</div>
