<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui error message" v-if="errorMessage">
      [[ errorMessage ]]
    </div>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="3">
            <button class="ui right floated icon button positive compact" data-description="open-a-modal-with-one-form" data-target="#statement-file-create">
              <i class="plus icon"></i> Add
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="file in appData.statement_file_list">
          <td>
            <i class="file icon" v-if="file.used"></i>
            <i class="file outline icon" v-else></i> [[ file.filename ]]</td>
          <td class="right aligned collapsing">[[ file.modified_time ]]</td>
          <td class="right aligned collapsing">
            <div class="ui icon compact buttons">
              <button class="ui primary button delete">
                <i class="edit icon"></i>
              </button>
              <button class="ui button delete" data-action="#" v-if="!file.used">
                <i class="trash icon"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="four wide column">
    <div class="ui info message">
      <div class="header">Quick Reference</div>
      <ul class="list">
        <li>Problem ID is read-only.</li>
        <li>You should be careful to change alias because it may make your teammates confused sometimes.</li>
        <li>Click <b>Save</b> when you are done with this page. Changes might be lost when you come back later.</li>
        <li>There are a lot of read-only fields here. You must edit these fields in other sections. This is just for a quick check.</li>
      </ul>
    </div>
  </div>

  {% call modal(title="Delete confirmation", id="delete-confirmation") %}
    <p>Are you sure you want to delete? All your changes will be lost.</p>
    <form id="delete-confirmation-form" action="" method="POST">
      {% csrf_token %}
    </form>
  {% endcall %}

  {% call modal(title="Create a new statement file", id="statement-file-create") %}
    <form class="ui form" action="{{ url('polygon:session_create') }}" method="POST">
      {% csrf_token %}
      <div class="field">
        <label>File name with extension</label>
        <input type="text" name="filename">
      </div>
    </form>
  {% endcall %}

</div>
