{% extends 'base.jinja2' %}
{% block title %}Account Settings - {% endblock %}
{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Account settings</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 col-md-push-9 bd-sidebar">
        <a target="_blank" href="{{ url('generic', request.user.username) }}">Me</a>
        <a href="{{ url('account:profile') }}" class="{{ active('account:profile') }}">Profile</a>
        <a href="{{ url('account:security') }}" class="{{ active('account:security') }}">Security</a>
        <a href="{{ url('account:preference') }}" class="{{ active('account:preference') }}">Preferences</a>
      </div>
      <div class="col-12 col-md-9 col-md-pull-3 bd-content">
        {% block account_setting %}
        {% endblock %}
      </div>

    </div>
  </div>

{% endblock %}
