{% extends 'base.jinja2' %}
{% block title %}Account Settings - {% endblock %}

{% block page_header %}Account settings{% endblock %}

{% block content %}

  <div class="ui text menu stackable">
    <a href="{{ url('blog:index', request.user.pk) }}" class="item">Me</a>
    <a href="{{ url('account:profile') }}" class="{{ active('account:profile') }} item">Profile</a>
    <a href="{{ url('account:security') }}" class="{{ active('account:security') }} item">Security</a>
    <a href="{{ url('account:preference') }}" class="{{ active('account:preference') }} item">Preferences</a>
    <a href="{{ url('account:payment') }}" class="{{ active('account:payment') }} item">Payment</a>
    <a href="{{ url('migrate') }}" class="{{ active('migrate') }} item">Migrate</a>
  </div>

  {% block account_setting %}
  {% endblock %}

{% endblock %}
