{% extends 'account/base.jinja2' %}
{% block account_setting %}

  <div class="ui warning message">
    <div class="ui header">This is important:</div>
    <ul class="ui list">
      <li class="item">If you registered on the old EOJ (acm.cs.ecnu.edu.cn), you should enter the username and password on the EOJ. Notice that all the changes
      after February 2017 does not work here, because this database has stopped synchronizing data since then.</li>
      <li class="item">Please enter the correct username and password if you register here on the new EOJ, or in case that you have been given this account during a contest.</li>
      <li class="item">Submissions in the contests will be resubmitted, while submissions in the problemset will be possession-transferred.</li>
      <li class="item">The user migrated will be banned after you do the migration. Since blogs and comments will not be transferred, to avoid possible data loss, it is not recommended that you do this out of boredom.</li>
    </ul>
  </div>

  {% include 'components/form.jinja2' %}
{% endblock %}