{% extends 'polygon/problem/base.jinja2' %}

{% block problem_content %}

  {# TODO: message show up error #}
  {% include 'components/message.jinja2' %}

  {{ pull_push() }}

  <table class="ui celled striped table">
    <thead>
      <tr>
        <th colspan="5" class="right aligned">
          <div class="ui dropdown onhover">
            <button class="ui icon button positive compact text"><i class="plus icon"></i> Add</button>
            <div class="menu">
              <a class="item modal-link" data-target="#program-add"
                 data-action="{{ url('polygon:session_create_program', problem.id) }}">
                <i class="write icon"></i> Manually</a>
              <a class="item modal-link" data-target="#program-import"
                 data-action="{{ url('polygon:session_import_program', problem.id) }}">
                <i class="cloud download icon"></i> Import</a>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for program in program_list %}
      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox immediate">
            <input class="post-link" data-link="{{ url('polygon:session_program_used_toggle', problem.id) }}" data-filename="{{ program.filename }}" type="checkbox" {% if program.used %}checked{% endif %}>
          </div>
        </td>
        <td class="center aligned collapsing" style="text-transform: capitalize;">{{ program.type }}</td>
        <td><i class="file icon"></i> {{ program.filename }}</td>
        <td class="right aligned collapsing">{{ program.lang_display }}</td>
        <td class="right aligned collapsing">
          <div class="ui icon compact buttons">
            <button class="ui button primary modal-link" data-target="#program-edit" data-rawFilename="{{ program.filename }}"
                    data-filename="{{ program.filename }}" data-type="{{ program.type }}" data-lang="{{ program.lang }}"
                    data-code="{{ program.code }}"
                    data-action="{{ url('polygon:session_update_program', problem.id) }}">
              <i class="edit icon"></i>
            </button>
            <a class="ui button delete-link" data-link="{{ url('polygon:session_delete_program', problem.id) }}"
               data-filename="{{ program.filename }}">
              <i class="trash icon"></i>
            </a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% macro program_editor() %}
    <div class="field">
      <label>Filename</label>
      <input type="text" name="filename">
    </div>

    <div class="field">
      <label>Type</label>
      <select name="type" class="ui selection dropdown">
        <option value="checker">Checker</option>
        <option value="solution">Solution</option>
        <option value="validator">Validator</option>
        <option value="generator">Generator</option>
        <option value="interactor">Interactor</option>
      </select>
    </div>

    <div class="field">
      <label>Language</label>
      <select name="lang" class="ui selection dropdown">
        {% for lang in lang_choices %}
        <option value="{{ lang[0] }}">{{ lang[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="field">
      <label>Code</label>
      <textarea name="code" spellcheck="false"></textarea>
    </div>
  {% endmacro %}

  {% call modal(title="Add a program", id="program-add", size="small") %}
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      {{ program_editor() }}
    </form>
  {% endcall %}

  {% call modal(title="Edit a program", id="program-edit", size="small") %}
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      {{ program_editor() }}
    </form>
  {% endcall %}

  {% call modal(title="Import built-in programs", id="program-import") %}
    <form class="ui form" action="" method="POST">
      {% csrf_token %}
      <div class="field">
        <select name="type" class="ui selection dropdown">
          {% for program in builtin_program_choices %}
            <option value="{{ program.filename }}">{{ program }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  {% endcall %}

{% endblock %}
