{% extends 'polygon_base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}{% if polygon_title %}{{ polygon_title }} - {% endif %}#{{ problem.id }} - {% endblock %}

{% block css %}
<style>
  pre {
    margin: 0;
  }
</style>
{% endblock %}

{% block content %}
  <h1 class="ui header">题目 #{{ problem.id }} (版本 {{ revision.revision }})</h1>

  <div class="ui text stackable menu">
    <a class="item {{ active('polygon:revision_update') }}" href="{{ url('polygon:revision_update', problem.id, revision.id) }}">概览</a>
    <a class="item {{ active('polygon:revision_statement') }}" href="{{ url('polygon:revision_statement', problem.id, revision.id) }}">题面</a>
    <a class="item {{ active('polygon:revision_asset') }}" href="{{ url('polygon:revision_asset', problem.id, revision.id) }}">静态文件</a>
    <a class="item {{ active('polygon:revision_program') }}" href="{{ url('polygon:revision_program', problem.id, revision.id) }}">程序</a>
    <a class="item {{ active('polygon:revision_case') }}" href="{{ url('polygon:revision_case', problem.id, revision.id) }}">数据</a>
    <a class="item {{ active('polygon:revision_template') }}" href="{{ url('polygon:revision_template', problem.id, revision.id) }}">模板</a>
    <a class="item {{ active('polygon:revision_task') }}" href="{{ url('polygon:revision_task', problem.id, revision.id) }}">任务</a>
    <a class="item" href="{{ url('polygon:problem_status', problem.id) }}" target="_blank">提交</a>
    <a class="item" href="{{ url('problem:detail', problem.id) }}" target="_blank">已发布的版本</a>
    {#    <a class="item {{ active('polygon:problem_status') }}" href="{{ url('polygon:problem_status', problem.id) }}">Submits</a>#}
  </div>

  {% if revision_errors %}
  <div class="ui error message">
    <div class="header">
      你有致命的错误会导致发布失败！
    </div>
    <ul class="list">
      {% for err in revision_errors %}
        <li>致命：{{ err }}</li>
      {% endfor %}
      {% for err in revision_warnings %}
        <li>警告：{{ err }}</li>
      {% endfor %}
    </ul>
  </div>
  {% elif revision_warnings %}
  <div class="ui warning message">
    <div class="header">
      你有一些警告。
    </div>
    <ul class="list">
      {% for err in revision_warnings %}
        <li>{{ err }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="ui inverted dimmer" id="loading-dimmer">
    <div class="ui text loader">正在加载</div>
  </div>

  {% if not disable_grid %}
  <div class="ui grid">
    <div class="twelve wide column">
    {% endif %}
      {% block problem_content %}
      {% endblock %}
    {% if not disable_grid %}
    </div>
    <div class="four wide column">
      {% if revision_readonly %}
      <div class="ui warning message">
        <div class="header">
          只读版本！
        </div>
        <div class="content">
          此版本已经完成或已经被丢弃。请使用<a class="post prompt" data-link="{{ url('polygon:revision_fork', problem.id, revision.id) }}">复制</a>功能创建新的版本以进行更新。
        </div>
      </div>
      {% endif %}
      <div class="ui info small message">
        <div class="header">
          基本信息 <a href="javascript:void(0);" id="basic-info-button">[编辑]</a>
        </div>
        <ul class="list">
          <li class="item"><b>别名:</b> {{ problem.alias }}</li>
          <li class="item"><b>版本:</b> {{ revision.revision }}</li>
          <li class="item"><b>题面:</b>
            {% if revision.active_statement %}
              <a href="{{ url('polygon:revision_statement_preview', problem.id, revision.id, revision.active_statement_id) }}">{{ revision.active_statement.name }}</a>
            {% else %}
              <a href="{{ url('polygon:revision_statement', problem.id, revision.id) }}"><span class="text red bold" style="font-weight:bold;">None</span></a>
            {% endif %}
          </li>
          <li class="item"><b>输出校验:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_checker %}
                {{ revision.active_checker.name }}
              {% else %}
                <span class="text orange bold" style="font-weight:bold;" data-tooltip="Default checker is supported. Check help for details.">default</span>
              {% endif %}
            </a>
          </li>
          <li class="item"><b>输入校验:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_validator %}
                {{ revision.active_validator.name }}
              {% else %}
                None
              {% endif %}
            </a>
          </li>
          <li class="item"><b>交互器:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_interactor %}
                {{ revision.active_interactor.name }}
              {% else %}
                None
              {% endif %}
            </a>
          </li>
          <li class="item"><b>数据组数:</b>
            <a href="{{ url('polygon:revision_case', problem.id, revision.id) }}">
              {{ revision.cases.count() }}
            </a>
          </li>
          <li class="item"><b>时限:</b> {{ revision.time_limit }} ms</li>
          <li class="item"><b>内存限:</b> {{ revision.memory_limit }} MB</li>
          <li class="item"><b>管理员:</b> {% for manager in admin_list %}{{ manager }} {% endfor %}</li>
          <li class="item"><b>难度:</b> {{ problem.get_level_display() }}</li>
          <li class="item"><b>来源:</b> {% if problem.source %}{{ problem.source }}{% else %}N/A{% endif %}</li>
        </ul>
      </div>
      <a class="ui green fluid small button {% if revision_errors %}disabled{% else %}post prompt{% endif %}" data-link="{{ url('polygon:revision_confirm', problem.id, revision.id) }}" style="margin-bottom: 0.75em">发布</a>
      <a class="ui fluid small button post prompt" data-link="{{ url('polygon:revision_create', problem.id) }}" style="margin-bottom: 0.75em">从当前前台数据导入并创建新版本</a>
      <a class="ui fluid small button" href="{{ url('polygon:revision_case_pack', problem.id, revision.id) }}" style="margin-bottom: 0.75em">下载数据</a>
      <a class="ui fluid small button" href="{{ url('polygon:revision_case_pack', problem.id, revision.id) }}?input=1" style="margin-bottom: 0.75em">下载输入数据</a>
{#      <a class="ui fluid small button" href="{{ url('polygon:problem_basic_info', problem.id) }}" target="_blank" style="margin-bottom: 0.75em">Update Basic Info</a>#}
      <a class="ui fluid small negative button post prompt" data-link="{{ url('polygon:revision_discard', problem.id, revision.id) }}"  style="margin-bottom: 0.75em">放弃</a>

    </div>
  </div>
  {% endif %}

  <div class="ui modal" id="basic-info-modal">
    <i class="close icon"></i>
    <div class="header">
      基本信息编辑
    </div>
    <div class="content">
      <form class="ui form" method="POST" action="{{ url('polygon:problem_basic_info', problem.pk) }}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <div class="field">
          <label>管理员列表:</label>
          {{ user_search_multiple(name='admin', exist=admin_list) }}
        </div>
        <div class="field">
          <label>题面别名:</label>
          <input type="text" name="alias" value="{{ problem.alias }}">
        </div>
        <div class="field">
          <label>题目来源:</label>
          <input type="text" name="source" value="{{ problem.source }}">
        </div>
        <div class="field">
          <label>预估题目难度:</label>
          <select class="ui selection dropdown" name="level">
            {% for val, verbose in level_select %}
            <option value="{{ val }}" {% if val == problem.level %}selected{% endif %}>{{ verbose }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        放弃
      </div>
      <div class="ui positive right labeled icon button">
        OK
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}