# junk files
[Tt]humbs.db
*.DS_Store
.idea/
__pycache__/

# Database
*.sqlite3

# ignore migrations
migrations/
!migrations/__init__.py

# ignore datadir
data/
upload/
testdata/
cases/
generate/
media/
repo/
site/

# local settings
local_settings.py

# library
cdn/
node_modules/
bower_components/

# generated css
app.css
app.min.css
