# junk files
[Tt]humbs.db
*.DS_Store
.idea/
__pycache__/

# Database
*.sqlite3

# ignore datadir
data/
upload/
testdata/
cases/
generate/
media/
repo/

# local settings
local_settings.py
docker-compose.yml
docker-compose-dev.yml

# library
cdn/
node_modules/
bower_components/
venv/

# generated css
app.css
app.min.css
package-lock.json
