{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}

  <table class="ui celled table center aligned">
    <thead class="full-width">
    {% set col_width = 5 %}
    {% if not revision_readonly %}
      {% set col_width = col_width + 3 %}
      <tr>
        <th colspan="{{ col_width }}">
          <a href="{{ url('polygon:revision_asset_create', problem.id, revision.id) }}" class="ui right floated primary labeled icon button">
            <i class="add icon"></i> Add Asset
          </a>
        </th>
      </tr>
    {% endif %}
      <tr>
        <th class="collapsing">#</th>
        <th>Name</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing">Link</th>
        {% if not revision_readonly %}
        <th class="collapsing">Edit</th>
        <th class="collapsing">Rename</th>
        <th class="collapsing">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for asset in asset_list %}
        <tr>
          <td>{{ asset.pk }}</td>
          <td><a href="{{ asset.real_path }}">{{ asset.name }}</a></td>
          <td>{{ asset.create_time | date('Y-m-d H:i') }}</td>
          <td>{{ asset.update_time | date('Y-m-d H:i') }}</td>
          <td><a class="clipboard" style="cursor:pointer;" data-clipboard-text="{{ asset.real_path }}" data-tooltip="Permanent link: {{ asset.real_path }}">Copy</a></td>
          {% if not revision_readonly %}
          <td><a href="{{ url('polygon:revision_asset_update', problem.id, revision.id, asset.id) }}">Edit</a></td>
          <td><a href="{{ url('polygon:revision_asset_rename', problem.id, revision.id, asset.id) }}">Rename</a></td>
          <td><a href="javascript:void(0);" class="post prompt" data-link="{{ url('polygon:revision_asset_delete', problem.id, revision.id, asset.id) }}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
