{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}
<table class="ui definition table">
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ task.id }}</td>
    </tr>
    <tr>
      <td>Abstract</td>
      <td>{{ task.abstract }}</td>
    </tr>
    <tr>
      <td>Created</td>
      <td>{{ task.create_time | date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
      <td>Updated</td>
      <td>{{ task.update_time | date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ task.get_status_display() }}</td>
    </tr>
    <tr>
      <td>Report</td>
      <td><pre>{{ task.pretty_report }}</pre></td>
    </tr>
  </table>

{% endblock %}
