<table class="ui celled small table center aligned">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Exit</th>
      <th>Stdout</th>
      <th>Stderr</th>
      <th>Log</th>
    </tr>
  </thead>
  <tbody>
    {% for row in report %}
      <tr>
      <td>{{ row.case_number }}</td>
      <td>{% if row.success %}<i class="large green checkmark icon"></i>{% else %}<i class="large red remove icon"></i>{% endif %}</td>
      <td>{{ row.exit_code }}</td>
      <td class="left aligned"><pre>{{ row.comment }}</pre></td>
      <td class="left aligned"><pre>{{ row.stderr }}</pre></td>
      <td class="left aligned"><pre>{{ row.log }}</pre></td>
      </tr>
    {% endfor %}
  </tbody>
</table>