{% extends 'base.jinja2' %}
{% from 'components/post_link.jinja2' import post_link %}
{% from 'components/modal.jinja2' import modal with context %}
{% block title %}Backstage - {% endblock %}

{% block page_header %}
  Backstage: {% block content_header %}{% endblock %}
{% endblock %}

{% block content %}

  <div class="ui secondary menu small">
    <a href="{{ url('backstage:site') }}" class="{{ active('backstage:site') }} item">Site</a>
    <a href="{{ url('backstage:blog') }}" class="{{ active('backstage:blog') }} item">Blogs</a>
    <a href="{{ url('backstage:problem') }}" class="{{ active('backstage:problem') }} item">Problems</a>
    <a href="{{ url('backstage:contest') }}" class="{{ active('backstage:contest') }} item">Contest</a>
    <a href="{{ url('backstage:account') }}" class="{{ active('backstage:account') }} item">Accounts</a>
    <a href="{{ url('backstage:server') }}" class="{{ active('backstage:server') }} item">Servers</a>
    <a href="{{ url('backstage:email') }}" class="{{ active('backstage:email') }} item">Email</a>
    <a href="{{ url('backstage:log') }}" class="{{ active('backstage:log') }} item">Log</a>
  </div>
  {% include 'components/message.jinja2' %}

  {% block backstage_content %}
  {% endblock %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}


{% block script %}
  <script src="/static/js/backstage.js"></script>
{% endblock %}