{% extends 'base.html' %}
{% load navitem_active %}
{% block content %}

<div class="bd-pageheader">
  <div class="container">
    <h1>Backstage</h1>
  </div>
</div>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 push-md-9 bd-sidebar">
        {% link_active 'backstage:index' 'Go to homepage' %}
        <a href="#">Site</a>
        {% link_active 'backstage:problem' 'Problems' %}
        {% link_active 'backstage:contest' 'Contest' %}
        <a href="#">Accounts</a>
        {% link_active 'backstage:group' 'Groups' %}
        {% link_active 'backstage:server' 'Servers' %}
      </div>
      <div class="col-12 col-md-9 pull-md-3 bd-content">
        {% block backstage_content %}
        {% endblock %}
      </div>

    </div>
  </div>

{% endblock %}
