{% extends 'backstage/base.html' %}
{% load widget_tweaks %}

{% block backstage_content %}
  <div class="content-header">
    <h2>Add a problem</h2>
  </div>

  <form action="#" method="post">
    {% csrf_token %}
    {% for field in form %}

      {% if not field.errors %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class+="form-control" placeholder=field.help_text %}
        </div>
      {% else %}
        <div class="form-group has-warning">
          {{ field.label_tag }}
          {% render_field field class+="form-control form-control-warning" placeholder=field.help_text %}
          {% for error in field.errors %}
            <div class="form-control-feedback">{{ error | escape}}</div>
          {% endfor %}
        </div>
      {% endif %}

    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
