{% extends 'backstage/base.html' %}
{% load widget_tweaks %}

{% block backstage_content %}
  <div class="content-header">
    <h2>Add a problem</h2>
  </div>
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <form action="{% url 'backstage:problem_add' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if not field.errors %}
        {% if field.label == 'Visible' %}  {# TODO hard code #}
          <div class="form-check">
            <label class="form-check-label">
{#              <input type="checkbox" class="form-check-input">#}
              {% render_field field class+="form-check-input" placeholder=field.help_text %}
              {{ field.label }}
            </label>
          </div>
        {% else %}
          <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class+="form-control" placeholder=field.help_text %}
          </div>
        {% endif %}
      {% else %}
        <div class="form-group has-warning">
          {{ field.label_tag }}
          {% render_field field class+="form-control form-control-warning" placeholder=field.help_text %}
          {% for error in field.errors %}
            <div class="form-control-feedback">{{ error | escape }}</div>
          {% endfor %}
        </div>
      {% endif %}

    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
