{% extends 'html_base.jinja2' %}

{% block css %}
<style>
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>
{% endblock %}

{% block _content %}
  <div class="ui middle aligned center aligned grid">

    <div class="column">
      <img class="ui fluid image" src="/static/image/error/smile.png">
      <h2 class="ui header">
        Comfirm Complete
        <div class="sub header">Thank you for your time.</div>
      </h2>
    </div>
  </div>
{% endblock %}
