{% extends 'base.jinja2' %}

{% block title %}Activities - {% endblock %}

{% block page_header %}Participants: {{ activity.title }}{% endblock %}

{% block content %}

  <a href="{{ url('contest:activity_register', activity.pk) }}" class="ui basic button">Back to activity</a>
  <a href="{{ url('contest:activity_admin_add', activity.pk) }}" class="ui basic button">Add a user</a>

  <table class="ui celled center aligned table">
    <thead>
      <tr class="center aligned">
        <th>User</th>
        <th>Name</th>
        <th>Student ID</th>
        <th>School</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Major</th>
        <th>Gender</th>
        <th>Graduate Year</th>
        <th>Deleted</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in participant_list %}
        <tr>
          <td>{{ username_display(participant.user) }}</td>
          <td>{{ participant.real_name }}</td>
          <td>{{ participant.student_id }}</td>
          <td>{{ participant.school }}</td>
          <td>{{ participant.email }}</td>
          <td>{{ participant.phone }}</td>
          <td>{{ participant.get_major_display() }}</td>
          <td>{{ participant.get_gender_display() }}</td>
          <td>{{ participant.graduate_year }}</td>
          <td>{% if participant.is_deleted %}Yes{% endif %}</td>
          <td><a href="{{ url('contest:activity_admin_update', activity.pk, participant.pk) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="11" class="right aligned">
          {{ active_member_count }} out of {{ member_count }} active.
        </th>
      </tr>
    </tfoot>
  </table>

{% endblock %}
