{% extends 'base.jinja2' %}

{% block title %}Activities - {% endblock %}

{% block page_header %}Register: {{ activity.title }}{% endblock %}

{% block content %}

  {% if privileged %}
  <a class="ui button basic" href="{{ url('contest:activity_update', activity.pk) }}">Update this</a>
  {% endif %}

  <table class="ui definition table">
    <tbody>
      <tr>
        <td>Title</td>
        <td>{{ activity.title }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ activity.description | markdown | safe }}</td>
      </tr>
      <tr>
        <td>Register Open</td>
        <td>{{ activity.register_start_time | date("Y-m-d H:i") }}</td>
      </tr>
      <tr>
        <td>Register Closed</td>
        <td>{{ activity.register_end_time | date("Y-m-d H:i") }}</td>
      </tr>
      <tr>
        <td>Registration Status</td>
        <td><b>{% if registered %}Already Registered{% else %}Out of activity{% endif %}</b></td>
      </tr>
    </tbody>
  </table>

  {% if register_open %}
  <h3 class="ui header">Registration Details</h3>

  {% set submit_button %}
    <button type="submit" class="ui positive button">{% if registered %}Update Info{% else %}Register{% endif %}</button>
    {% if registered %}<a class="post-link ui red button" data-link="{{ url('contest:activity_quit', activity.id) }}">Quit</a>{% endif %}
  {% endset %}

  {% include 'components/form.jinja2' %}
  {% else %}
  <h4 class="ui header">Registration is over. Contact admin if you have any questions.</h4>
  {% endif %}

{% endblock %}
