{% extends 'problem/detail/base.jinja2' %}


{% block problem_content %}

  {% set submit_button %}
    <button class="ui blue labeled submit icon button" type="submit">
      <i class="icon edit"></i> Add Reply
    </button>
  {% endset %}

  {{ render_comment_tree(problem) }}
  {% include 'components/form.jinja2' %}

{% endblock %}



