{% extends 'problem/detail/base.jinja2' %}
{% from 'components/problem.jinja2' import problem_view with context %}
{% from 'components/submit.jinja2' import submit_view with context %}

{% block problem_content %}

  <div class="ui stackable grid">
    <div class="eleven wide column">
      {{ problem_view(problem.title, False) }}
    </div>
    <div class="five wide column">
      <div class="ui fluid card">
        <div class="content">
          <div class="description">
            <p><b>{{ user_ac_count | intcomma }} Solved</b> out of {{ user_all_count | intcomma }} users tried.</p>
            <p><b>{{ ac_count | intcomma }} Accepted</b> out of {{ all_count | intcomma }} tried.</p>
            <p><b>{{ difficulty | round(1) }}</b> EMB will be rewarded for solving this problem.</p>
          </div>
        </div>
        <div class="content">
          <div class="description">
            <p><b>Created</b>: {{ problem.create_time | naturaltime }}.</p>
            <p><b>Updated</b>: {{ problem.update_time | naturaltime }}.</p>
            <p><b>Latest Submission</b>: {% if last_sub_time %}{{ last_sub_time | naturaltime }}{% else %}N/A{% endif %}.</p>
            <p><b>Source</b>: {% if problem.source %}<a href="{{ url('problem:list') }}?source={{ problem.source }}">{{ problem.source }}</a>{% else %}N/A{% endif %}</p>
          </div>
        </div>
      </div>

      {% include 'problem/detail/tag.jinja2' %}
    </div>
  </div>

  <div class="ui hidden divider" style="margin-bottom: 3em;"></div>

  {% if request.user.is_authenticated %}
  {{ submit_view(submit_action=url('problem:submit', problem.pk), margin_top=True) }}
  {% endif %}

{% endblock %}


