{% extends 'problem/detail/base.jinja2' %}
{% from 'components/problem.jinja2' import problem_view with context %}

{% block problem_content %}

  {{ problem_view(problem.title, False) }}

{% endblock %}


