{% extends 'problem/detail/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block css %}
  <link href="/static/node_modules/morris.js/morris.css" rel="stylesheet">
{% endblock %}

{% block problem_content %}

  <table class="ui very padded center aligned celled table">
    <thead>
      <tr>
        <th class="six wide">
          <h4 class="ui header"><i class="user icon"></i> BY AUTHORS</h4>
        </th>
        <th class="six wide">
          <h4 class="ui header"><i class="tag icon"></i> TOTAL</h4>
        </th>
        <th class="four wide">
          <h4 class="ui header">REWARD</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="ui statistic">
            <div class="value">{{ user_ac_count }} / {{ user_all_count }}</div>
            <div class="label">{{ "%.2f %%" | format(user_ratio) }} Accepted</div>
          </div>
        </td>
        <td>
          <div class="ui statistic">
            <div class="value">{{ ac_count }} / {{ all_count }}</div>
            <div class="label">{{ "%.2f %%" | format(ratio) }} Solved</div>
          </div>
        </td>
        <td>
          <div class="ui statistic">
            <div class="value">{{ difficulty | round(1) }}</div>
            <div class="label">Points</div>
          </div>
        </td>
      </tr>
      {% if all_count > 0 %}
      <tr><td colspan="3"><div id="distribution"></div></td></tr>
      {% endif %}
    </tbody>
  </table>

  <div class="ui hidden divider"></div>

  <div style="float: right">
    <div class="ui selection dropdown status-filter" data-filter-type="type" data-value="{{ param_type }}">
      <div class="text">Latest</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Latest</div>
        <div class="item">Fastest</div>
        <div class="item">Shortest</div>
      </div>
    </div>
  </div>

  <div class="ui header">Submissions (contest included)</div>

  {{ status(hide_problems=True, code_length=True) }}

  <div class="ui right floated buttons">
    <a class="ui green button" href="{{ url('problem:status') }}?problem={{ problem.pk }}&verdict=v0">Accepted</a>
    <div class="or"></div>
    <a class="ui button" href="{{ url('problem:status') }}?problem={{ problem.pk }}">All submissions
      <i class="right chevron icon"></i>
    </a>
  </div>
  <div class="ui hidden divider" style="clear: both;"></div>

  <div class="ui header">Run Time Distribution</div>
  <div id="runtime-distribution"></div>

{% endblock %}

{% block script %}
  <script src="/static/node_modules/raphael/raphael.min.js"></script>
  <script src="/static/node_modules/morris.js/morris.min.js"></script>
  <script src="/static/node_modules/@antv/g2/dist/g2.min.js"></script>
  <script src="/static/node_modules/@antv/data-set/dist/data-set.min.js"></script>
  <script type="text/javascript">
    {% if all_count > 0 %}
    Morris.Donut({
      element: 'distribution',
      data: [
        {label: "Accepted", value: {{ stats.ac }}, color: '#21BA45' },
        {label: "Wrong Answer", value: {{ stats.wa }}, color: '#DB2828' },
        {label: "Time Limit Exceeded", value: {{ stats.tle }}, color: '#F2711C' },
        {label: "Runtime Error", value: {{ stats.re }}, color: '#FBBD08' },
        {label: "Others", value: {{ stats.others }}, color: '#2185D0' }
      ]
    });
    {% endif %}

    var myFontFamily = "Open Sans";
    var data = [{% for s in runtime_dist %}{ runtime: {{ s.runtime }}, lang: "{{ s.lang }}" },{% endfor %}];
    const ds = new DataSet();
    const dv = ds.createView().source(data);
    dv.transform({
      type: 'bin.histogram',
      field: 'runtime',
      binWidth: {{ runtime_band_width }},
      groupBy: [ 'lang' ],
      as: [ 'runtime', 'count' ]
    });
    const chart = new G2.Chart({
      container: 'runtime-distribution',
      forceFit: true,
      height: 400,
      padding: [20, "auto", "auto", "auto"]
    });
    const defs = {
      "runtime": {
        min: 0,
        max: {{ runtime_band_maximum }}
      }
    };
    chart.source(dv, defs);
    chart.axis('runtime', {
      label: {
        textStyle: {
          fontFamily: myFontFamily
        }
      }
    }).axis('count', {
      label: {
        textStyle: {
          fontFamily: myFontFamily
        }
      }
    });
    chart.legend('lang', {
      textStyle: {
        fontFamily: myFontFamily
      },
      position: "right"
    });
    chart.tooltip({
      crosshairs: false,
      position: 'top',
      inPlot: false,
      "g2-tooltip": {
        fontFamily: myFontFamily
      }
    });
    chart.intervalStack()
      .position('runtime*count')
      .color('lang', ["#00b5ad", "#2185d0", "#a333c8", "#6435c9", "#b5cc18", "#fbbd08"]);
    chart.render();

  </script>
{% endblock %}