{% extends 'html_base.jinja2' %}

{% block css %}
<style>
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
  form {
    margin: 50px 0 0 0;
    padding: 0;
  }
</style>
{% endblock %}

{% block _content %}
  <div class="ui middle aligned center aligned grid">

    <div class="column">
      <h2 class="ui header">
        {{ submission.username }}
      </h2>
      <h1 class="ui header">
        Problem {{ submission.contest_problem.identifier }}
      </h1>

      <form action="{{ url('contest:balloon_cancel', contest.pk, submission.pk) }}" method="post">
        {% csrf_token %}
        <a href="{{ url('contest:balloon', contest.pk) }}" class="ui primary button">
          Done
        </a>
        <button type="submit" class="ui red button">I can't do this</button>
      </form>
    </div>
  </div>

{% endblock %}
