{% extends 'base.html' %}
{% load navitem_active %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Contest #{{ contest.pk }}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 push-md-9 bd-sidebar">
        <div class="contest-progress">
          <h5>Contest running</h5>
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Remaining: {{ remaining_time }}</p>
        </div>
        <a class="link-lg" href="{% url 'contest:dashboard' contest.pk %}">Dashboard</a>
        <a class="link-lg active">Problem</a>
        {# TODO: active link #}
        {% for contest_problem in contest_problem_list %}
          {% link_active 'contest:problem' contest_problem.title contest.pk contest_problem.identifier %}
        {% endfor %}
        <a class="link-lg" href="{% url 'contest:submit' contest.pk %}?pid={{ contest_problem.identifier }}">Submit</a>
        <a class="link-lg" href="{% url 'contest:submission' contest.pk %}">My submissions</a>
        <a class="link-lg" href="#">Status</a>
        {# TODO: link reverse does not work #}
        <a class="link-lg" href="{% url 'contest:standings' contest.pk %}">Standings</a>
        <a class="link-lg" href="#">Clarification <span class="badge badge-pill badge-info">NEW</span></a>

      </div>
      <div class="col-12 col-md-9 pull-md-3 bd-content">
        {% block contest_content %}
        {% endblock %}
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}
