{% extends 'base.jinja2' %}

{% block title %}{% block contest_title %}{% endblock %}{{ contest.title }} - {% endblock %}

{% block page_header %}{{ contest.title }}{% endblock %}

{% block content %}

  <div class="ui text stackable menu">
    <a class="{{ active('contest:dashboard') }} {{ active('contest:problem') }} item" href="{{ url('contest:dashboard', contest.pk) }}">Dashboard</a>
    {% if request.user.is_authenticated %}
    <a class="{{ active('contest:my') }} item" href="{{ url('contest:my', contest.pk) }}">My</a>
    {% endif %}
    {% if not contest.standings_disabled or is_privileged %}
      <a class="{{ active('contest:status') }} item" href="{{ url('contest:status', contest.pk) }}">Status</a>
      <a class="{{ active('contest:standings') }} item" href="{{ url('contest:standings', contest.pk) }}">Standings</a>
    {% endif %}
    {% if is_volunteer or is_privileged %}
      <a class="{{ active('contest:balloon') }} item" href="{{ url('contest:balloon', contest.pk) }}">Balloon</a>
    {% endif %}
    {% if is_privileged %}
      <a class="item" href="{{ url('polygon:contest_meta', contest.pk) }}">Manage</a>
    {% endif %}
  </div>

  {% if not standings_layout %}
    <div class="ui stackable grid">
      <div class="twelve wide column">
        {% block contest_content %}
        {% endblock %}
      </div>
      <div class="four wide column">
        <div class="ui segments">
        {% if contest.always_running %}
          <div class="ui segment">
            <div class="ui center aligned header">
              Always Running
            </div>
          </div>
        {% else %}
          <div class="ui segment">
            <div class="ui center aligned header">
              {% if contest.status == 0 %}
                Contest Running
              {% elif contest.status == -1 %}
                Contest Pending
              {% elif contest.pending_system_tests %}
                Pending System Tests
              {% else %}
                Contest Ended
              {% endif %}
            </div>
          </div>
          <div class="ui segment">
            <div class="ui blue progress" data-status="{{ contest.status }}">
              <div class="bar"></div>
              {% if time_remaining %}
              <div class="countdown label" data-duration="{{ time_all }}" data-delta-seconds="{{ time_remaining }}"></div>
              {% else %}
              <div class="label">NaN</div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        </div>

        {% if has_permission %}
          <div class="ui segments">
            <div class="ui segment">
              <h3 class="ui center aligned header">Problems</h3>
            </div>
            <div class="ui segment">
              <div class="ui relaxed link list">
                {% for contest_problem in contest_problem_list %}
                  <a class="item {{ active('contest:problem', cid=contest.pk, pid=contest_problem.identifier) }}"
                     href="{{ url('contest:problem', contest.pk, contest_problem.identifier) }}">
                      {{ contest_problem.identifier }}. {{ contest_problem.problem.title }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>

          {% if contest.status == 0 and contest.rated and contest.scoring_method == 'cf' %}
            <div class="ui segments">
              <div class="ui segment">
                <h3 class="ui center aligned header">Scoring</h3>
              </div>
              <div class="ui segment">
                <table class="ui very basic celled very compact center aligned table">
                  <thead>
                    <tr>
                      <th>Problem</th>
                      <th>Worth</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for contest_problem in contest_problem_list %}
                    <tr>
                      <td>{{ contest_problem.identifier }}</td>
                      <td>{{ (contest_problem.weight * (1 + remaining_percent) / 2) | round | int }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="ui bottom attached tiny info message">
                This shows the values you earned if you solve the problem right now.
              </div>
            </div>
          {% endif %}
        {% endif %}

      </div>
    </div>
  {% else %}
    {% block standings_content %}
    {% endblock %}
  {% endif %}

  <div class="ui basic tiny modal" id="refreshNotification">
    <div class="ui icon header">
      <i class="announcement icon"></i>
      Announcement
    </div>
    <div class="content">
      Contest status has changed. Click to refresh the page.
    </div>
    <div class="actions">
      <div class="ui green ok inverted button" onclick="location.reload(true);">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>

  <div class="ui basic tiny modal" id="stayNotification">
    <div class="ui icon header">
      <i class="announcement icon"></i>
      Announcement
    </div>
    <div class="content" id="stayNotificationBody">
    </div>
    <div class="actions">
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script src="/static/js/countdown.js?v=20170825"></script>
  {% block local_script %}{% endblock %}
{% endblock %}