{% extends 'base.jinja2' %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>{{ contest.title }}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 col-md-push-9 bd-sidebar bd-contest-sidebar">
        <div class="contest-progress">
          <h4>Contest {{ contest_status }}</h4>
          <div class="progress" style="margin-bottom: 2px">
            <div class="progress-bar bg-info countdown-progress" role="progressbar" style="width: {{ progress }}%"
                 data-status="{{ contest_status }}" data-acc="{{ progress_acc }}" data-all="{{ progress_all }}"
                 aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% if contest_status == 'pending' %}
            <p>Before start <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span></p>
          {% elif contest_status == 'running' %}
            <p>Before close <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span></p>
          {% endif %}
        </div>
        <a class="link-lg {{ active('contest:dashboard') }}" href="{{ url('contest:dashboard', contest.pk) }}">Dashboard</a>
        <a class="link-lg {{  active('contest:problem') }}">Problem</a>
        {% if has_permission %}
          {% for contest_problem in contest_problem_list %}
            <a class="link-sm {{ active('contest:problem', cid=contest.pk, pid=contest_problem.identifier) }}"
               href="{{ url('contest:problem', contest.pk, contest_problem.identifier) }}">
                {{ contest_problem.identifier }}. {{ contest_problem.problem.title }}
            </a>
          {% endfor %}
        {% endif %}
        <a class="link-lg {{ active('contest:submit') }}" href="{{ url('contest:submit', contest.pk) }}{% if contest_problem %}?pid={{ contest_problem.identifier }}{% endif %}">Submit</a>
        <a class="link-lg {{ active('contest:submission') }}" href="{{ url('contest:submission', contest.pk) }}">My submissions</a>
        <a class="link-lg {{ active('contest:status') }}" href="{{ url('contest:status', contest.pk) }}">Status</a>
        <a class="link-lg {{ active('contest:standings') }}" target="_blank" href="{{ url('contest:standings', contest.pk) }}">Standings</a>
        <a class="link-lg {{ active('contest:clarification') }}" href="#">Clarification <span class="badge badge-pill badge-info">TODO</span></a>

      </div>
      <div class="col-12 col-md-9 col-md-pull-3 bd-content">
        {% block contest_content %}
        {% endblock %}
      </div>

    </div>
  </div>

  <div class="modal fade" id="refreshNotification" tabindex="-1" role="dialog" aria-labelledby="refreshNotificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ contest.title }}</h4>
        </div>
        <div class="modal-body">
          Contest status has changed. Click to refresh the page.
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.reload(true);" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url('static', 'js/countdown.js') }}"></script>

{% endblock %}
