{% extends 'contest/base.jinja2' %}
{% block contest_content %}

  <div class="content-header">
    <h2>Clarification</h2>
  </div>

  <form action="{{ url('contest:clarification', contest.pk) }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="form-group">
      <textarea class="form-control" name="message" id="message" rows="3" placeholder="Type in your message"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br><br>

  {% for clarification in clarification_list %}
    <div class="panel panel-{% if clarification.status == 'note' %}primary{% else %}default{% endif %}">
      <div class="panel-heading"><div class="panel-title">{{ clarification.get_status_display() }}</div></div>
      <div class="panel-body">
        {{ clarification.text | markdown | safe }}
        <div class="text-right">{{ clarification.author.get_username_display() | safe }} at {{ clarification.time | date('Y-m-d H:i:s') }}</div>
      </div>
      {% if is_privileged and clarification.status == 'open' %}
      <div class="panel-footer"><a href="{{ url('contest:clarification_toggle', contest.pk, clarification.pk, 'close') }}">No response
      </a> or <a href="{{ url('contest:clarification_toggle', contest.pk, clarification.pk, 'solve') }}">will be clarified</a></div>
      {% endif %}
    </div>
  {% endfor %}

  {% include 'components/math_support.jinja2' %}

{% endblock %}