{% extends 'contest/base.jinja2' %}

{% block contest_title %}问答 - {% endblock %}

{% block contest_content %}

  {% for clarification in clarifications %}
  {% if clarification.text %}

    <div class="ui fluid card">
      <div class="content">
        <h3 class="ui header">问题</h3>
      </div>
      <div class="content">
        {{ clarification.text | markdown | safer | safe }}

      {% if clarification.answer %}
        <h5 class="ui header">回复:</h5>
        {{ clarification.answer | markdown | safer | safe }}
      {% endif %}

        {% if is_privileged and not clarification.answer %}
          <div class="ui divider"></div>
          <form class="ui form" method="POST"
                action="{{ url('contest:clarification_answer', contest.pk, clarification.pk) }}">
            {% csrf_token %}
            <div class="field">
              <label>快速回复:</label>
              <select class="ui selection dropdown" name="builtin">
                {% for key, val in BUILTIN_CHOICES %}
                  <option value="{{ key }}" {% if key == "custom" %}selected{% endif %}>{{ val }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field">
              <label>自定义回复:</label>
              <textarea class="markdown" name="text"></textarea>
            </div>
            <div class="field">
              <button class="ui positive button" type="submit">OK</button>
            </div>
          </form>
        {% endif %}
      </div>
      <div class="extra content">
        {{ username_display(clarification.author) }} {{ clarification.time | naturaltime }}
      </div>
    </div>

  {% else %}

    <div class="ui fluid card">
      <div class="content">
        <h3 class="ui header">公告</h3>
      </div>
      <div class="content">
        {{ clarification.answer | markdown | safer | safe }}
      </div>
      <div class="extra content">
        {{ username_display(clarification.author) }} {{ clarification.time | naturaltime }}
      </div>
    </div>

  {% endif %}
  {% endfor %}


  <div class="ui divider"></div>
  <form class="ui form" method="POST" action="{{ url('contest:clarification', contest.pk) }}">
    {% csrf_token %}
    <div class="field">
      {% if is_privileged %}
      <label for="text">全体公告:</label>
      {% else %}
      <label for="text">你的问题:</label>
      {% endif %}
      <textarea class="markdown" name="text"></textarea>
    </div>
    <div class="field">
      <button class="ui positive button" type="submit">OK</button>
    </div>
  </form>


{% endblock %}