{% extends 'contest/base.jinja2' %}

{% block contest_title %}Clarification - {% endblock %}

{% block contest_content %}

  {{ render_comment_tree(contest) }}
  {% if contest.status == 0 and has_permission %}
    {% include 'comments/comment_reply.jinja2' %}
  {% endif %}



{% endblock %}