{% extends 'base.jinja2' %}

{% block title %}{{ _('Gym') }} - {% endblock %}

{% block page_header %}{{ _('Gym') }}{% endblock %}

{% block content %}

  <table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>{{ _('Name') }}</th>
        <th>{{ _('Instructors') }}</th>
        <th class="collapsing">{{ _('Start') }}</th>
        <th class="collapsing">{{ _('End') }}</th>
        <th class="collapsing">{{ _('Status') }}</th>
        <th class="collapsing">{{ _('Public') }}</th>
        <th class="collapsing">{{ _('Participants') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr class="center aligned">
          <td><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
          <td><div class="ui list">
            {% for m in contest.managers.all() %}
              <div class="item">{{ username_display(m) }}</div>
            {% endfor %}
          </div></td>
        {% if not contest.start_time and not contest.end_time %}
          <td colspan="2">{{ _('Open indefinitely') }}</td>
        {% else %}
          <td>{{ contest.start_time | date('Y-m-d H:i')}}</td>
          <td>{{ contest.end_time | date('Y-m-d H:i') }}</td>
        {% endif %}
          <td>
          {% if contest.status == 0 %}
            <h5 class="ui header red">{{ _('Running') }}</h5>
          {% elif contest.status == -1 %}
            {% if contest.access_level == 30 %}
              <a href="{{ url('contest:dashboard', contest.pk) }}" style="white-space:nowrap;background-color:#c00;color:white;font-weight:bold;padding:0.2em 0.4em 0.2em 0.4em;text-decoration:underline;">{{ _('Register') }} »</a>
            {% else %}
              <h5 class="ui header teal">{{ _('Pending') }}</h5>
            {% endif %}
          {% else %}
            {{ _('Ended') }}
          {% endif %}
          </td>
          <td>{% if contest.access_level >= 30 %}<i class="green large check icon"></i>
          {% elif contest.access_level >= 10 %}<i class="orange large remove icon"></i>
          {% else %}<i class="red large lock icon"></i>{% endif %}</td>
          <td><i class="icon fitted user" aria-hidden="true"></i> <a href="{{ url('contest:standings', contest.pk) }}">&times; {{ contest.participants__count }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{{ my_paginator() }}

{% endblock %}
