{% if contest.pdf_statement %}
<div class="ui success message">
  <div class="header">PDF Statement is available.</div>
  <div class="content">You can <a href="{{ url('contest:statements', contest.pk) }}">download the statement here</a>.</div>
</div>
{% endif %}