<div class="ui secondary menu small">
  <a class="{{ active('contest:list') }} item" href="{{ url('contest:list') }}">竞赛</a>
  <a class="{{ active('contest:gym') }} item" href="{{ url('contest:gym') }}">作业</a>
</div>