{% extends 'base.jinja2' %}

{% block title %}{{ _("Contest Ratings") }} - {% endblock %}

{% block page_header %}{{ _("Contest Ratings") }}{% endblock %}

{% block content %}

  {% macro full_list() %}
    <h2 class="ui sub header" style="margin-top: 0">
      <span class="text red">{{ _("Red") }}</span>: 1800. <span class="text orange">{{ _("Orange") }}</span>: 1700. <span class="text purple">{{ _("Purple") }}</span>: 1600. <span class="text blue">{{ _("Blue") }}</span>: 1500. <span class="text teal">{{ _("Teal") }}</span>: 1350. <span class="text green">{{ _("Green") }}</span>: 0. <span class="text grey">{{ _("Grey") }}</span>: Admin.
    </h2>
    <table class="ui celled very compact center aligned table">
      <thead>
        <tr>
          <th class="ten wide">{{ _("Username") }}</th>
          <th class="six wide">{{ _("Rating") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for rating_user in global_rating %}
        <tr>
          <td>{{ username_display(rating_user) }}</td>
          <td><a href="?q={{ rating_user.pk }}">{{ rating_user.rating }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endmacro %}

  {% if not full %}

  <div class="ui grid">
  <div class="ten wide column">
    <h5 class="ui header">{{ _("Username") }}: {{ username_display(query_user) }}</h5>
    <div id="rating-changes"></div>

    <table class="ui celled table">
      <thead>
        <tr class="center aligned">
          <th>#</th>
          <th>Contest</th>
          <th>When</th>
          <th>Rank</th>
          <th>Solved</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in rating_list %}
          <tr class="center aligned">
            <td>{{ rating.contest_id }}</td>
            <td><a href="{{ url('contest:dashboard', rating.contest_id) }}">{{ rating.contest.title }}</a></td>
            <td>{{ rating.modified | date('Y-m-d') }}</td>
            <td><a href="{{ url('contest:standings', rating.contest_id) }}">{{ rating.rank }}</a></td>
            <td><a href="{{ url('contest:my', rating.contest_id) }}">{{ rating.solved }}</a></td>
            <td>{{ rating.rating }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="six wide column">
    {{ full_list() }}
    <a href="?full=1" class="ui right floated right labeled icon primary button">
      See Full List
      <i class="right chevron icon"></i>
    </a>
  </div>
  </div>

  {% else %}
    {{ full_list() }}

    {{ my_paginator() }}

  {% endif %}

{% endblock %}

{% block script %}
  {% if not full %}
  <script src="/static/node_modules/@antv/g2/dist/g2.min.js"></script>
  <script src="/static/node_modules/@antv/data-set/dist/data-set.min.js"></script>
  <script type="text/javascript">
    var myFontFamily = "Open Sans";
    var data = [
      { user: "ultmaster", time: "{{ query_user.date_joined | date('Y-m-d') }}", rating: 1500, comment: "Joined EOJ" },
        {% for rating in rating_list | reverse %}{ user: "ultmaster", time: "{{ rating.modified | date('Y-m-d') }}", rating: {{ rating.rating }}, comment: "{{ rating.contest.title }}" },{% endfor %}];
    const chart = new G2.Chart({
      container: 'rating-changes',
      forceFit: true,
      padding: [20, "auto", 50, "auto"]
    });
    chart.source(data);
    chart.scale('rating', {
      type: 'linear',
      min: {{ min_rating }},
      max: {{ max_rating }}
    });
    chart.scale('time', {
      range: [ 0 , 1 ],
      type: 'time'
    });
    chart.axis('rating', {
      label: {
        textStyle: {
          fontFamily: myFontFamily
        }
      }
    }).axis('time', {
      label: {
        textStyle: {
          fontFamily: myFontFamily
        }
      }
    });
    chart.legend('user', {
      textStyle: {
        fontFamily: myFontFamily
      },
      position: "right",
      title: 'legend'
    });
    chart.tooltip({
      crosshairs: {
        type: 'line'
      },
      position: 'top',
      inPlot: false,
      "g2-tooltip": {
        fontFamily: myFontFamily
      },
      title: 'comment'
    });
    chart.area().position('time*rating*comment');
    chart.line().position('time*rating*comment');
    chart.point().position('time*rating*comment').size(4).shape('circle').style({
      stroke: '#fff',
      lineWidth: 1
    });
    chart.render();
  </script>
  {% endif %}
{% endblock %}
