<div class="ui secondary menu small">
  <a class="{{ active('contest:list') }} item" href="{{ url('contest:list') }}">REGULAR</a>
  <a class="{{ active('contest:gym') }} item" href="{{ url('contest:gym') }}">GYM</a>
  <a class="{{ active('contest:rating') }} item" href="{{ url('contest:rating') }}">RATING</a>
</div>