{% extends 'base.jinja2' %}

{% block title %}Contests - {% endblock %}

{% block page_header %}Contests{% endblock %}

{% block content %}

  {% include 'contest/contest_list_header.jinja2' %}

  <table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>Name</th>
        <th>Instructors</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Public</th>
        <th class="collapsing">Students</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr class="center aligned">
          <td><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
          <td><div class="ui list">
            {% for m in contest.managers.all() %}
              <div class="item">{{ username_display(m) }}</div>
            {% endfor %}
          </div></td>
          <td>{{ contest.start_time | date('M. d, Y')}}</td>
          <td>{% if contest.access_level >= 30 %}<i class="green large check icon"></i>
          {% elif contest.access_level >= 10 %}<i class="orange large remove icon"></i>
          {% else %}<i class="red large lock icon"></i>{% endif %}</td>
          <td><i class="icon fitted user" aria-hidden="true"></i> <a href="{{ url('contest:standings', contest.pk) }}">&times; {{ contest.participants__count }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{{ my_paginator() }}

{% endblock %}
