{% extends 'base.jinja2' %}

{% block title %}Contests - {% endblock %}

{% block page_header %}Contests{% endblock %}

{% block content %}

  {% include 'contest/contest_list_header.jinja2' %}

  <table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th class="six wide">Name</th>
        <th>Start</th>
        <th>Length</th>
        <th>Authors</th>
        <th class="collapsing">Public</th>
        <th class="collapsing">Status</th>
        <th class="collapsing">Standings</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr class="center aligned">
          <td class="{% if not contest.visible %}deleted{% endif %}"><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
          <td>{{ contest.start_time | date('Y-m-d H:i')}}</td>
          <td>{{ contest.length | timedelta }}</td>
          <td><div class="ui list">
            {% for author in contest.authors.all() %}
              <div class="item">{{ username_display(author) }}</div>
            {% endfor %}
          </div></td>
          <td>{% if contest.public %}<i class="green large check icon"></i>{% else %}<i class="red large remove icon"></i>{% endif %}</td>
          <td>
          {% if contest.status == 0 %}
            <h5 class="ui header red">Running</h5>
          {% elif contest.status == -1 %}
            {% if contest.public and contest.rated %}
              <a href="{{ url('contest:dashboard', contest.pk) }}" style="white-space:nowrap;background-color:#c00;color:white;font-weight:bold;padding:0.2em 0.4em 0.2em 0.4em;text-decoration:underline;">Register »</a>
            {% else %}
              <h5 class="ui header teal">Pending</h5>
            {% endif %}
          {% else %}
            Ended
          {% endif %}
          </td>
          <td><i class="icon fitted user" aria-hidden="true"></i> <a href="{{ url('contest:standings', contest.pk) }}">&times; {{ contest.participants__count }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{{ my_paginator() }}

{% endblock %}
