{% extends 'contest/base.jinja2' %}

{% block contest_content %}

  {% if contest.always_running %}
    <p>Always Running.</p>
  {% else %}
    <p>{{ contest.start_time | date('Y-m-d H:i:s') }} <strong>to</strong> {{ contest.end_time | date('Y-m-d H:i:s') }}</p>
  {% endif %}
  {% if contest.is_frozen != 'a' %}<p>Standings are frozen now.</p>{% endif %}

  {% include 'components/message.jinja2' %}
  {% if has_permission %}
    <table class="ui celled table">
      <thead>
        <tr class="center aligned">
          <th class="two wide">#</th>
          <th class="left aligned">Name</th>
          <th class="three wide">Solved</th>
        </tr>
      </thead>
      <tbody>
        {% for contest_problem in contest_problem_list %}
        <tr class="center aligned">
          <td class="semi-bold">{{ contest_problem.identifier }}</td>
          <td class="left aligned"><a href="{{ url('contest:problem', contest.pk, contest_problem.identifier) }}">
            {{ contest_problem.problem.title }}</a></td>
          <td class="{% if contest_problem.personal_label > 0 %}positive{% elif contest_problem.personal_label < 0 %}negative{% endif %}">
          {% if not contest.is_frozen %}
            <i class="icon fitted user" aria-hidden="true"></i> x {{ contest_problem.accept_count }}
          {% else %}
            N/A
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if not registered %}
    <div>
      <p>This contest is private. Please enter the invitation code. The invitation code will be bound to your account.</p>
      <form class="ui form" action="{{ url('contest:invitation', contest.pk) }}" method="post">
        {% csrf_token %}
        <div class="ui action input">
          <input type="text" name="code" placeholder="Invitation code...">
          <button type="submit" class="ui button">OK</button>
        </div>
      </form>
    </div>
  {% endif %}
  <div>
    {% if contest.description %}
      <h4>Announcement</h4>
      <div>{{ contest.description | markdown | safe }}</div>
    {% endif %}
  </div>

{% endblock %}