{% extends 'contest/base.jinja2' %}
{% block contest_content %}

  <div class="content-header">
    <h2>Dashboard</h2>
    <p><strong>Start time:</strong> {{ contest.start_time | date('Y-m-d H:i:s') }}<br>
      <strong>End time:</strong> {{ contest.end_time | date('Y-m-d H:i:s') }}<br>
      <strong>Server time (last checked): </strong>{{ current_time | date('Y-m-d H:i:s') }}
    </p>
  </div>
  {% include 'components/message.jinja2' %}
  {% if has_permission %}
    <div class="content-section">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="8%">#</th>
              <th width="82%" style="text-align: left;">Name</th>
              <th width="10%">*</th>
            </tr>
          </thead>
          <tbody>
            {% for contest_problem in contest_problem_list %}
            <tr>
              <th scope="row" class="text-center">{{ contest_problem.identifier }}</th>
              <td style="text-align: left;"><a href="{{ url('contest:problem', contest.pk, contest_problem.identifier) }}">
                {{ contest_problem.problem.title }}</a></td>
              <td align="center" class="{% if contest_problem.status %}bg-{{ contest_problem.status }}{% endif %}">
              {% if not is_frozen %}
                {{ contest_problem.total_accept_number }} / {{ contest_problem.total_submit_number }}
              {% else %}
                N/A
              {% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% if not registered %}
    <div class="content-section">
      <h4>Register</h4>
      {% if not registered %}
        <p>This contest is private. Please enter the invitation code. The invitation code will be bound to your account.</p>
        <form class="form-inline" action="{{ url('contest:invitation', contest.pk) }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <input type="text" class="form-control" id="code" name="code" placeholder="Invitation code" required>
          <button type="submit" class="btn btn-primary">OK</button>
        </form>
      {% else %}
        <p>You have already registered for this contest, but the contest is yet to begin.<br>
          Before start <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span></p>
      {% endif %}
    </div>
  {% endif %}
  <div class="content-section">
    {% if contest.description %}
      <h4>Announcement</h4>
      <div>{{ contest.description | markdown | safe }}</div>
    {% endif %}
  </div>

{% endblock %}