{% extends 'contest/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block contest_title %}My Submissions - {% endblock %}
{% block contest_content %}

  <div class="ui horizontal divided link list">
    <a class="item" href="{{ url('contest:download_code', contest.pk) }}?t=my" target="_blank">
      Download All
    </a>
    <a class="item" href="{{ url('contest:download_code', contest.pk) }}?t=my_accepted" target="_blank">
      Download Accepted
    </a>
    <a class="item post-link" data-link="{{ url('contest:my_claim', contest.pk) }}">
      Claim Accepted
    </a>
  </div>

  {% include 'components/message.jinja2' %}

  {{ status() }}

{% endblock %}