<table class="datatable">
    <tr>
    <th class="col-width-4">#</th>
    <th class="col-width-large" style="min-width: 4em; text-align: left;">Who</th>
    {{ contest.contest_header | safe }}
    </tr>
    {% for rank in rank_list %}
      <tr>
        <td scope="row">{{ loop.index0 }}</td>
        <td class="col-width-large" style="text-align: left;">{{ rank.user.get_username_display() | safe }}
          {% if rank.comment %}<span class="text-muted text-small">{{ rank.comment }}</span>{% endif %}</td>
        {{ rank.html_cache | safe }}
      </tr>
    {% endfor %}
</table>