{% extends 'contest/base.html' %}
{% block contest_content %}

  <div class="content-header">
    <h2>Standings</h2>
  </div>
  <div>
    <p>Your standing: {{ my_rank }}</p>
    <table class="datatable">
      <thead>
        <tr>
        <th class="col-width-2">#</th>
        <th class="col-width-large" style="text-align: left;">Who</th>
        {{ contest.contest_header | safe }}
        </tr>
      </thead>
      <tbody>
        {% for participant in rank_list %}
          <tr>
            <td scope="row">{{ participant.0 }}</td>
            {% with participant.1 as rank %}
              <td class="col-width-large" style="text-align: left;">{{ rank.user.username }}</td>
              {{ rank.html_cache | safe }}
            {% endwith %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}