{% extends 'base.jinja2' %}
{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>{{ contest.title }}</h1>
    </div>
  </div>

  <div class="container">
  <div class="content-header" style="text-align: center">
    <h2>Standings</h2>
    {% if contest_status == 'pending' %}
      <p>Before start <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span></p>
    {% elif contest_status == 'running' %}
      <p>Before close <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span></p>
    {% else %}
      <p>Final standings</p>
    {% endif %}
  </div>
  <div>
    <a href="{{ url('contest:dashboard', contest.pk) }}" style="float:right">Back to dashboard</a>
    <p>Your standing: {{ my_rank }}</p>
    <table class="datatable">
      <thead>
        <tr>
        <th class="col-width-2">#</th>
        <th class="col-width-large" style="text-align: left;">Who</th>
        {{ contest.contest_header | safe }}
        </tr>
      </thead>
      <tbody>
        {% for participant in rank_list %}
          <tr>
            <td scope="row">{{ participant.0 }}</td>
            {% set rank = participant.1 %}
              <td class="col-width-large" style="text-align: left;">{{ rank.user.username }}
                <br>{% if rank.comment %}<span class="text-muted text-small">{{ rank.comment }}</span>{% endif %}</td>
              {{ rank.html_cache | safe }}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  </div>
  <script src="{{ url('static', 'js/countdown.js') }}"></script>

{% endblock %}