<table>
  <tr>
  <td>#</td>
  <td>Name</td>
  <td>User</td>
  {{ contest.contest_header | safe }}
  </tr>
  {% for rank in rank_list %}
    <tr>
      <td scope="row">{{ rank.rank }}</td>
      <td>{{ rank.comment }}</td>
      <td>{{ rank.user.get_username_display() | safe }}</td>
      {{ rank.html_cache | safe }}
    </tr>
  {% endfor %}
</table>