{% extends 'contest/base.html' %}
{% block contest_content %}

  <div class="content-header">
    <h2>Standings</h2>
  </div>
  <div>
    <p>Your standing: 244</p>
    <table class="datatable table-bordered">
      <thead>
        <tr>
        <th class="col-width-2">#</th>
        <th style="text-align: left;">Who</th>
        {{ contest.contest_header | safe }}
        </tr>
      </thead>
      <tbody>
        {% for rank in rank_list %}
          <tr>
            <td scope="row">1</td>
            <td style="text-align: left;">{{ rank.user.username }}</td>
            {{ rank.html_cache | safe }}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}