{% extends 'base.jinja2' %}
{% block title %}Standings of {{ contest.title }} - {% endblock %}
{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>{{ contest.title }}</h1>
    </div>
  </div>

  <div class="container">
    {% if update_time %}<span class="text-muted">Updated at {{ update_time | date('Y-m-d H:i:s') }}. {% if is_frozen %}Standing is frozen now.{% endif %}</span>{% endif %}
    <div class="content-header" style="text-align: center">
      <h2>Standings</h2>
      <p>
        {% if contest_status == 'pending' %}
          Before start <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span>
        {% elif contest_status == 'running' %}
          Before close <span class="countdown" data-delta-seconds="{{ time_delta }}">{{ time_delta | minute_filter }}</span>
        {% else %}
          Final standings
        {% endif %}
      </p>
    </div>
    <a href="{{ url('contest:dashboard', contest.pk) }}" style="float:right">Back to dashboard</a>
    <p>Your standing: {{ my_rank }}</p>
    <div class="scrollable-wrapper">
      <div class="datatable-wrapper">
        <table class="datatable">
          <thead>
            <tr>
            <th class="col-width-4">#</th>
            <th class="col-width-large" style="min-width: 4em; text-align: left;">Who</th>
            {{ contest.contest_header | safe }}
            </tr>
          </thead>
          <tbody>
            {% for rank in rank_list %}
              <tr>
                <td scope="row">{{ rank.rank }}</td>
                <td class="col-width-large" style="text-align: left;">{{ rank.user.get_username_display() | safe }}
                  <br>{% if rank.comment %}<span class="text-muted text-small">{{ rank.comment }}</span>{% endif %}</td>
                {{ rank.html_cache | safe }}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    {% if is_privileged %}<p style="text-align: right"><br>
      <a role="button" class="btn btn-default" href="{{ url('contest:update_standings', contest.pk) }}">Update standings</a>
      <a role="button" class="btn btn-default" href="{{ url('contest:download_standings', contest.pk) }}" target="_blank">Download</a>
    </p>{% endif %}

    {{ my_paginator() }}
  </div>
  <script src="{{ url('static', 'js/countdown.js') }}"></script>

{% endblock %}