{% extends 'contest/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block contest_title %}所有提交 - {% endblock %}
{% block contest_content %}

  {{ status() }}

{% endblock %}