{% extends 'contest/base.jinja2' %}
{% block contest_content %}

  <div class="content-header">
    <h2>Online status</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>When</th>
          <th>Who</th>
          <th>Problem</th>
          <th>Verdict</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submission_list %}
          <tr>
            <td scope="row">
              {% if is_privileged %}
              <a href="{{ url('submission', submission.pk) }}">{{ submission.pk }}</a>
              {% else %}
              {{ submission.pk }}
              {% endif %}
            </td>
            <td>{{ submission.create_time }}</td>
            <td><a class="decoration-free" href="{{ url('account:generic', submission.author) }}">{{ submission.author.get_username_display() | safe }}</a></td>
            <td>
              {% if submission.contest_problem == 'N/A' %}
              N/A
              {% else %}
              <a href="{{ url('contest:problem', contest.pk, submission.contest_problem.identifier) }}">{{ submission.contest_problem }}</a>
              {% endif %}
            </td>
            <td class="verdict-{{ submission.get_verdict_color() }}">{{ submission.get_status_display_in_contest() }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {{ my_paginator() }}
{% endblock %}