{% extends 'contest/base.jinja2' %}
{% from 'components/submit.jinja2' import submit_view with context %}

{% block contest_title %}Submit - {% endblock %}

{% block contest_content %}

  {{ submit_view() }}

{% endblock %}

{% block local_script %}
  <script src="/static/node_modules/ace-builds/src-noconflict/ace.js"></script>
  <script src="/static/js/submit.js"></script>
{% endblock %}