{% extends 'contest/base.jinja2' %}

{% block contest_content %}

<div class="content-header">
  <h2>Submit your code</h2>
</div>
{% include 'components/message.jinja2' %}
<form class="form-horizontal" action="{{ request.path }}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="problem_identifier" class="col-sm-2 control-label">Problem</label>
    <div class="col-sm-10">
      {{ render_field(form.problem_identifier, {'class': "form-control"}) }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Language</label>
    <div class="col-sm-10">
      {{ render_field(form.lang, {'class': "form-control"}) }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Code</label>
    <div class="col-sm-10">
      {{ render_field(form.code, {'class': "form-control code-submit", 'rows': "18", "spellcheck": "false"}) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>

  {% include 'components/code_submit_support.jinja2' %}


</form>

{% endblock %}