{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Judge Servers
{% endblock %}

{% block backstage_content %}

  <div class="ui progress" style="display: none;" data-progress="{{ server_synchronize_status }}">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Uploading Data ({{ server_synchronize_status_detail }})</div>
  </div>

  <table class="ui celled definition table center aligned">
    <thead class="full-width">

      <tr>
        <th>启用</th>
        <th>名字</th>
        <th>IP 地址</th>
        <th>版本</th>
        <th>编辑</th>
        <th>更换密钥</th>
      </tr>
    </thead>
    <tbody>
      {% for server in server_list %}
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('backstage:server_enable', server.id) }}" type="checkbox" {% if server.enabled %}checked{% endif %}>
            </div>
          </td>
          <td><a href="{{ url('backstage:server_problem_status', server.id) }}">{{ server.name }}</a></td>
          <td>{{ server.ip }}:{{ server.port }}</td>
          <td>{{ server.version }}</td>
          <td><a href="{{ url('backstage:server_edit', server.pk) }}">编辑</a></td>
          <td><a href="{{ url('backstage:server_update_token', server.pk) }}">更新</a></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="8">
          <a href="{{ url('backstage:server_create') }}" class="ui right floated small primary labeled icon button">
            <i class="server icon"></i> Add Server
          </a>
        </th>
      </tr>
    </tfoot>
  </table>

  <h3 class="ui dividing header">Semaphore Status</h3>

  {% if semaphore_ok %}
  <ul class="ui list">
    <li class="item"><a class="post-link" data-link="{{ url('backstage:server_semaphore_reset') }}">Reset All</a></li>
    <li class="item">Available count: {{ semaphore_available_count }}</li>
    <li class="item">Available keys: {% for key in semaphore_available_keys %}{{ key }}. {% endfor %}</li>
    <li class="item">Grabbed keys:
      <ul class="list">
        {% for key, val in semaphore_grabbed_keys.items() %}
          <li class="item">{{ key }}: {{ val | round(6) }} seconds ago</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {% else %}
  Not available
  {% endif %}

  <h3 class="ui dividing header">Crashed Submissions</h3>

  <p>There are {{ crashed_submission_count }} crashed submission(s). <a class="post-link" data-link="{{ url('backstage:rejudge_crashed_submission') }}">Rejudge</a></p>

{% endblock %}
