{% extends 'backstage/base.jinja2' %}

{% block backstage_content %}
  <div class="content-header">
    <h2>Judge Server List</h2>
  </div>

  {% include 'components/message.jinja2' %}

  <div class="mb-1">
    <a role="button" class="btn btn-primary" href="{{ url('backstage:server_create') }}">Add a judge server</a>
  </div>
  <table class="table table-responsive full-width-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Port</th>
        <th>Token</th>
        <th>Last Seen</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for server in server_list %}
        <tr>
          <td scope="row">{{ server.name }}</td>
          <td>{{ server.ip }}</td>
          <td>{{ server.port }}</td>
          <td><a href="{{ url('backstage:server_edit', server.pk) }}" class="text-default">Update</a></td>
          <td>{{ server.last_seen_time }}</td>
          <td><a href="{{ url('backstage:server_edit', server.pk) }}" class="text-primary">Edit</a></td>
          <td><a href="{{ url('backstage:server_delete', server.pk) }}" class="text-primary">Remove</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {# TODO: not deletable?! #}
{% endblock %}
