{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Judge Servers
{% endblock %}

{% block backstage_content %}

  {% include 'components/message.jinja2' %}

  <p>
    <a role="button" class="btn btn-default" href="{{ url('backstage:server_create') }}">Add a judge server</a>
  </p>
  <div class="scrollable">
    <table class="table">
      <thead>
        <tr>
          <th class="15%">Name</th>
          <th class="15%">IP</th>
          <th class="10%">Port</th>
          <th class="12%">Update</th>
          <th class="25%">Last Seen</th>
          <th class="10%">Refresh</th>
          <th class="13%">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for server in server_list %}
          <tr>
            <td scope="row">{{ server.name }}</td>
            <td>{{ server.ip }}</td>
            <td>{{ server.port }}</td>
            <td><a href="{{ url('backstage:server_edit', server.pk) }}" class="text-default">Update</a></td>
            <td>{{ server.last_seen_time | date('Y-m-d H:i:s') }}</td>
            <td><a href="javascript:void(0);" data-url="{{ url('backstage:server_refresh', server.pk) }}" class="text-danger" id="refresh">Refresh</a></td>
            <td><a href="javascript:void(0);" data-url="{{ url('backstage:server_delete', server.pk) }}" class="text-danger" id="delete">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> Double check before you hit <strong>Refresh</strong> and <strong>Delete</strong>!
  </div>
  <script>
    $("#delete, #refresh").on('click', function(e) {
      var link = $(e.target).data('url');
      $.post(link, {'csrfmiddlewaretoken': Cookies.get('csrftoken')}, function (data) {
          location.reload();
        }
      );
    });
  </script>
{% endblock %}
