{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  博客
{% endblock %}

{% block backstage_content %}

  <table class="ui celled table center aligned">
    <thead>
      <tr>
        <th>可见</th>
        <th>首页推荐</th>
        <th>#</th>
        <th>作者</th>
        <th>标题</th>
        <th>创建</th>
        <th>更新</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in blog_list %}
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('backstage:blog_visible_switch', blog.id) }}" type="checkbox" {% if blog.visible %}checked{% endif %}>
            </div>
          </td>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('backstage:blog_recommend_switch', blog.id) }}" type="checkbox" {% if blog.recommend %}checked{% endif %}>
            </div>
          </td>
          <td>{{ blog.pk }}</td>
          <td>{{ blog.author.username }}</td>
          <td><a href="{{ url('blog:detail', blog.pk) }}">{{ blog.title[:10] }}</a></td>
          <td>{{ blog.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ blog.edit_time | date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

{% endblock %}
