.deleted {
  text-decoration: line-through;
}

.semi-bold {
  font-weight: 600;
}

.weight.normal {
  font-weight: 500 !important;
}

.ui.modal.basic .ui.form .field>label {
  color: rgba(255, 255, 255, 0.87);
}

.ui.file.input input[type="file"] {
  display: none;
}

.click-able {
  cursor: pointer;
}

@monospace-font-family: "Courier New", "Courier", monospace;

textarea[name="code"] {
  font-family: @monospace-font-family;
}

.click-able.label.icon {
  i.icon {
    margin: 0;
  }
  margin: 0 .25rem 0 0;
}

.capitalize {
  text-transform: capitalize;
}

.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}

.ui.text.menu .active.item {
  font-weight: 600;
}