{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Site settings
{% endblock %}

{% block backstage_content %}

  <div class="ui message">
    Use the same key to override. Submit an empty message to delete.
  </div>
  <table class="ui table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for settings in site_settings %}
        <tr>
          <td>{{ settings.key }}</td>
          <td>{{ settings.val }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <form class="ui form" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="field">
      <label>Key:</label>
      <input type="text" name="key">
    </div>
    <div class="field">
      <label>Value:</label>
      <textarea name="value"></textarea>
    </div>
    <button class="ui button positive" type="submit">Submit</button>
  </form>
{% endblock %}
