{% extends 'backstage/base.html' %}

{% block backstage_content %}
  <div class="content-header">
    <h2>Manage Group - {{ group.name }}</h2>
  </div>
  <table class="table table-responsive full-width-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Comment</th>
        <th>Join Time</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for membership in membership_list %}
        <tr>
          <td><a href="#" class="text-primary">{{ membership.user.username }}</a></td>
          <td class="text-primary">{{ membership.comment }}</td>
          <td class="text-primary">{{ membership.join_time }}</td>
          <td><a href="#" class="text-danger">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form class="form-inline mb-3" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <label class="sr-only" for="username">Username</label>
    <input type="text" class="form-control mr-sm-2 mb-sm-0" id="username" name="username" placeholder="Enter a new username">
    <label class="sr-only" for="comment">Comment</label>
    <input type="text" class="form-control mr-sm-2 mb-sm-0" id="comment" name="comment" placeholder="Enter a comment (optional)">
    <button type="submit" class="btn btn-primary">Add a user</button>
  </form>

  <h4>Generate invitation codes</h4>
  <form class="mb-3" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label for="inputNumber" class="col-sm-3 col-form-label">Account number</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="inputNumber" name="number" placeholder="How many do you want to add?">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputNumber" class="col-sm-3 col-form-label">Comment</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputComment" name="comment" placeholder="Identify users by entering information?">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Okay</button>
  </form>


  <h4>Already generated codes</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Invitation code</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for code in code_list %}
        <tr>
          <td scope="row">{{ code.code }}</td>
          <td>{{ code.comment }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
