.bd-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
  a {
    font-weight: 500;
    color: #55595c;
  }
  p {
    margin-bottom: 0;
  }
  @media (min-width: 576px) {
    text-align: left;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 1rem;
  }
}
