.masthead {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  margin-bottom: 3em;
  border-bottom: none;
  background-color: #333;
  background-position: 50% 50%;
  h1, h2, h3, h4, h5, p, span {
    color: rgba(255, 255, 255, 1);
    @media(min-width: 768px) {
      line-height: 1.5;
    }
    margin: 0 0 0;
    padding-bottom: .2em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 2;
  }
  h1 {
    font-size: 5em;
  }
  span {
    font-size: 2em;
  }
  .masthead-container {
    padding: 15em 0;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 600px;
    left: 0;
    top: 0;
    background: #333;
    -ms-transition: background 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    z-index: 1;
  }
  @media(max-width: 768px) {
    .masthead-container {
      min-height: 400px;
      padding: 10em 0;
      h1 {
        font-size: 3.2em;
      }
      span {
        font-size: 1.8em;
      }
    }
  }
}