.bd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  background-color: #444486;
  @media (min-width: 576px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  h1 {
    font-weight: normal;
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

.bd-sidebar {
  padding-left: 1rem;
  a {
    display: block;
    padding: .25rem .75rem;
    font-size: 90%;
    color: #99979c;
    &.active {
      font-weight: 500;
      color: #121314;
    }
    &:hover {
      color: #0275d8;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

