.bd-pageheader {
  padding: 2rem 0;
  margin-bottom: 3rem;
  color: #fff;
  background-color: #4c4c90;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3a3c75),to(#4c4c90));
  background-image: -webkit-linear-gradient(top,#3a3c75 0,#4c4c90 100%);
  background-image: -o-linear-gradient(top,#3a3c75 0,#4c4c90 100%);
  background-image: linear-gradient(to bottom,#3a3c75 0,#4c4c90 100%);
  @media (min-width: 544px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-weight: normal;
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

.bd-sidebar {
  @media (max-width: 768px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    display: block;
    padding: .25rem .75rem;
    color: #99979c;
    &.active {
      font-weight: 500;
      color: #121314;
    }
    &:hover {
      color: #0275d8;
      text-decoration: none;
      background-color: transparent;
    }
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.content-header {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.content-section, .problem-body {
  margin-bottom: 2.5em;
}

.content-section {
  margin-top: 2.5em;
}

.content-mini-section {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

table {
  td, th {
    text-align: center;
    vertical-align: middle !important;
  }
  font-size: 1em;
}

.row-with-space {
  margin-top: 5px;
  margin-bottom: 5px;
}