.navbar-header, #bs-navbar {
  .navbar-nav {
    a {
      color: #888;
      font-weight: 400;
    }
    a:hover, a:focus {
      color: #373a3c;
      background-color: transparent;
    }
    li.active>a {
      font-weight: 500;
      color: #121314;
    }
  }
  vertical-align: middle;
}

@media(min-width: 768px) {
  .navbar-container {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  color: #000;
}