.property {
  p:first-child {
    margin-top: 1rem;
  }
  p:not(:last-child) {
    margin-bottom: .2rem;
  }
}

.verdict-lg {
  font-size: 1.7em;
  font-weight: 500;
}

.card-block.detail {
  padding-top: .75rem;
  padding-bottom: .75rem;
  p {
    margin-bottom: .2rem;
  }
}

.problem-body {
  .header, .passage {
    margin-bottom: 1.5em;
  }
  .title {
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }
  p {
    line-height: 1.6;
  }
  .examples {
    .example {
      font-family: "Courier New", "Courier", monospace;
      font-size: 0.95em;
      margin-bottom: 1em;
      > div {
        border: 1px solid #888;
        &:not(:first-child) {
          position: relative;
          top: -1px;
        }
      }
      .title {
        font-size: 1.1em;
        padding: 0.25em;
        border-bottom: 1px solid #888;
        text-transform: lowercase;
        font-weight: bold;
        margin-bottom: 0;
      }
      pre {
        line-height: 1.25em;
        padding: 0.25em;
        margin: 0;
        background-color: #f7f7f7;
        color: #ad1457;
        border: none;
      }
    }
  }
}