.property {

  p:first-child {
    margin-top: 1rem;
  }
  p:not(:last-child) {
    margin-bottom: .2rem;
  }
  p {
    font-size: 90%;
  }
}

.verdict-lg {
  font-size: 1.7em;
  font-weight: 600;
}

.card-block.detail {
  padding-top: .75rem;
  padding-bottom: .75rem;
  p {
    margin-bottom: .2rem;
  }
}