.verdict-success {
  color: #0a0;
  font-weight: bold;
}

.verdict-warning {
  color: #d59947;
}

.verdict-danger {
  color: #CC2D3A;
}

.verdict-info {
  color: #57afcc;
  font-weight: bold;
}

.contest-running {
  color: #CC2D3A;
  font-weight: bold;
}

.contest-pending {
  color: #57afcc;
}