.magic {
  font-weight: bold;
  text-decoration: none;
  &.cyan {
    color: #03A89E;
  }
  &.green {
    color: #008000;
  }
  &.orange {
    color: #FF8C00;
  }
  &.blue {
    color: #201972;
  }
  &.purple {
    color: #a0a;
  }
  &.red {
    color: #e7151c;
  }
  &.grey {
    color: #555;
  }
}

.no-magic {
  font-weight: normal;
  color: #000;
}

.magic, .magic:hover, .magic:focus, .no-magic:hover, .no-magic:focus, .no-magic {
  text-decoration: none;
}

a.decoration-free {
  text-decoration: none;
}