input, button, select, textarea, a {
  outline: none !important;
}

textarea {
  resize: none;
}

@media (min-width: 480px) {

}

@media (min-width: 576px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.bd-navbar {
  padding-left: 0;
  padding-right: 0;
}

.bd-navbar .navbar-nav .nav-link {
  color: #888;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
  color: #373a3c;
  background-color: transparent;
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
  color: #121314;
}

.bd-masthead {
  background-image: -webkit-linear-gradient(315deg, #141738, #2c337d, #505ac9);
  background-image: -o-linear-gradient(315deg, #141738, #2c337d, #505ac9);
  background-image: linear-gradient(135deg, #141738, #2c337d, #505ac9);
  padding-top: 8rem;
  padding-bottom: 6rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #2c337d;
}

.bd-pageheader p, .bd-masthead p {
  margin-bottom: 0;
  font-size: 1.15rem;
  font-weight: 200;
  color: #fff;
  opacity: .65;
}

.bd-masthead h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

@media (min-width: 768px) {
  .bd-masthead p {
    margin-bottom: 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    color: #fff;
    opacity: .65;
  }
}

.bd-pageheader {
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.bd-pageheader h1 {
  font-size: 3rem;
  font-weight: normal;
}

.bd-masthead .btn:hover {
  background-color: #d2cb74;
  border-color: #d2cb74;
  color: #191705;
}

.bd-masthead .btn {
  background-color: transparent;
  color: #d2cb74;
  border-color: #d2cb74;
  font-size: 1.5rem;
}

.bd-booticon {
  display: block;
  margin: 0 auto 2rem;
  width: 9rem;
  height: 9rem;
  font-size: 6.5rem;
  line-height: 9rem;
  color: #ddd;
  text-align: center;
  cursor: default;
  background-color: transparent;
  opacity: .8;
  border-radius: 15%;
  border: 1px solid #ddd;
}

.bd-featurette {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.bd-featurette h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: normal;
  color: #333;
}

.bd-featurette-title {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
  color: #333;
  text-align: center;
}

.bd-featurette .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1rem;
  text-align: center;
}

.btn-bs {
  font-weight: 500;
  color: #1a237e;
  border-color: #1a237e;
  background-color: transparent;
}

.btn-bs:hover {
  background-color: #1a237e;
  color: #fff;
}

@media (min-width: 768px) {
  .bd-featurette {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .bd-featurette-title {
    font-size: 2.5rem;
  }
  .bd-featurette-title + .lead {
    font-size: 1.5rem;
  }
  .bd-featurette .lead {
    max-width: 80%;
  }
  .bd-featurette .img-fluid {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .bd-featurette {
    text-align: left;
  }
  .bd-pageheader {
    text-align: left;
  }
}

.bd-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.bd-footer a {
  font-weight: 500;
  color: #55595c;
}

.bd-footer a:hover {
  color: #0275d8;
}

.bd-footer p {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .bd-footer {
    text-align: left;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.bd-footer-links li {
  display: inline-block;
}

.bd-footer-links li + li {
  margin-left: 1rem;
}

.modal-dialog {
  max-width:330px;
}

.problem-header-title {
  text-align: center;
  font-size: 2.5rem;
}

.problem-header-statement {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.problem-body {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (min-width: 576px) {
  .problem-header-title {
    text-align: left;
  }
  .problem-header-statement {
    text-align: left;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 0.9rem;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.set-label {
  font-size: .8rem;
  color: #777;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0;
}

.set-label label {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .set-label {
    font-size: 1rem;
    color: #333;
  }
}