@import "navbar";
@import "home";
@import "footer";
@import "layout";
@import "problem";
@import "contest";
@import "datatable";

input, button, select, textarea, a {
  outline: none !important;
}

.code-submit, .code-block {
  font-size: 100%;
  font-family: "Courier New", "Courier", monospace;
}

td, th {
  vertical-align: middle !important;
}
