{% extends 'base.jinja2' %}

{% block title %}Print Service - {% endblock %}

{% block page_header %}Print Service{% endblock %}

{% block content %}

  {% include 'components/message.jinja2' %}
  <form class="ui form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
      <label>Upload type</label>
      <select class="ui selection" name="uploadtype">
        <option value="code" selected>Code</option>
        <option value="pdf">PDF</option>
      </select>
    </div>
    <div class="field">
      <label>Code</label>
      <textarea name="code" rows="9"></textarea>
    </div>

    <div class="field">
      <label>PDF file</label>
      <div class="ui fluid file input action">
        <input type="text" readonly>
        <input type="file" name="file" autocomplete="off">
        <div class="ui button">Select...</div>
      </div>
    </div>
    <div class="field">
      <label>Comment (20 characters at most)</label>
      <input name="comment" type="text">
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" name="noprint" class="hidden">
        <label>Please don't print this.</label>
      </div>
    </div>
    <div class="field">
      <button class="ui positive button">Submit</button>
    </div>
  </form>

  <table class="ui small center aligned celled table">
    <thead>
      <tr>
        <th>#</th>
        <th>Comment</th>
        <th>Submitted</th>
        <th>Status</th>
        <th>Pages</th>
        <th>Code</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody>
    {% for code in code_list %}
      <tr>
        <td>{{ code.pk }}</td>
        <td>{{ code.comment }}</td>
        <td>{{ code.create_time | date('Y-m-d H:i:s') }}</td>
        <td>{{ code.get_status_display() }}</td>
        <td>{{ code.pages }}</td>
        <td>{% if code.code == '#' %}N/A{% else %}<a href="{{ url('print_code_download', code.pk) }}" target="_blank">{{ code.code | length }} bytes</a>{% endif %}</td>
        <td>{% if code.generated_pdf %}<a href="{{ url('print_pdf_download', code.pk) }}" target="_blank">Download</a>{% else %}N/A{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block script %}
  <script>
  function clearAndHideSomeInputs() {
    var option = $("*[name='uploadtype']").val();
    console.log(option);
    var form = $("form");
    var choice_map = {
      "code": ["file"],
      "pdf": ["code"]
    };
    form.find(".field").each(function () {
      var hide = false;
      for (var i = 0; i < choice_map[option].length; ++i) {
        var to_verify = choice_map[option][i];
        if ($(this).find("*[name='" + to_verify + "']").length > 0) {
          hide = true;
          break;
        }
      }
      if (hide) $(this).hide();
      else $(this).show();
    })
  }
  clearAndHideSomeInputs();
  $("*[name='uploadtype']").on('change', function (e) {
    clearAndHideSomeInputs();
  });
  </script>
{% endblock %}