{% extends 'base.jinja2' %}

{% block page_header %}404 Not Found{% endblock %}

{% block content %}

  <div class="ui container">
    <p>You have stepped into nowhere...</p>
    <p>It seems that the page you asked for has not been implemented yet. We will do our best to write as much code as possible
      so that such tragedy will not happen again in the future.</p>
  </div>

{% endblock %}
