{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}

  {% include 'components/message.jinja2' %}

  <table class="ui celled small very compact table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="10">
          <div class="ui right floated buttons">
            <a href="{{ url('polygon:revision_case_create', problem.id, revision.id) }}" class="ui right floated primary labeled icon button">
              <i class="add icon"></i> Add Case(s)
            </a>
            <div class="ui icon top left pointing dropdown button">
              <i class="wrench icon"></i>
              <div class="menu">
                <div class="header">Typical</div>
                <div class="item">Run Case Output (N/A)</div>
                <a class="item post prompt" data-link="{{ url('polygon:revision_case_order_natural', problem.id, revision.id) }}">Adjust Case Order</a>
                <div class="header">For selected</div>
                <a class="item post prompt gather" data-link="{{ url('polygon:revision_case_delete', problem.id, revision.id) }}">Delete Selected</a>
                <a class="item post ask gather" data-link="{{ url('polygon:revision_case_order_move', problem.id, revision.id) }}" data-question="Move the selected cases after (0 means above all):">Move Selected</a>
              </div>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th class="collapsing"><div class="ui fitted checkbox"><input type="checkbox" name="all"></div></th>
        <th class="collpasing">#</th>
{#        <th class="collapsing">ID</th>#}
        <th>Input</th>
        <th>Output</th>
        <th>Comment</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing" colspan="2">Edit</th>
        <th class="collapsing">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for case in case_list %}
        <tr>
          <td><div class="ui fitted checkbox slice"><input type="checkbox" name="{{ case.pk }}"></div></td>
          <td>{{ case.case_number }}</td>
{#          <td>{{ case.pk }}</td>#}
          <td class="left aligned selectable" style="font-family:monospace"><a href="{{ url('polygon:revision_case_preview', problem.id, revision.id, case.id) }}?t=input">{{ case.input_preview }}</a></td>
          <td class="left aligned selectable" style="font-family:monospace"><a href="{{ url('polygon:revision_case_preview', problem.id, revision.id, case.id) }}?t=output">{{ case.output_preview }}</a></td>
          <td class="left aligned">{% for comment in case.comments %}{{ comment }}{% if not loop.last %}<br>{% endif %}{% endfor %}</td>
          <td>{{ case.create_time | date('H:i M.d') }}</td>
          <td>{{ case.update_time | date('H:i M.d') }}</td>
          <td><a href="{{ url('polygon:revision_case_update_file', problem.id, revision.id, case.id) }}">Data</a></td>
          <td><a href="{{ url('polygon:revision_case_update_info', problem.id, revision.id, case.id) }}">Info</a></td>
          <td><a class="post prompt" data-link="{{ url('polygon:revision_case_delete', problem.id, revision.id, case.id) }}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

