{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}
  {% include 'components/form.jinja2' %}
{% endblock %}

{% block script %}
<script>
  function clearAndHideSomeInputs() {
    var option = $("*[name='option']").val();
    var form = $("form");
    var choice_map = {
      "text": ["option", "input_text", "output_text"],
      "file": ["option", "input_file", "output_file"]
    };
    form.find(".field").each(function () {
      var ok = false;
      for (var i = 0; i < choice_map[option].length; ++i) {
        var to_verify = choice_map[option][i];
        if ($(this).find("*[name='" + to_verify + "']").length > 0) {
          ok = true;
          break;
        }
      }
      if (ok) $(this).show();
      else {
        // TODO: clear input
        $(this).hide();
      }
    })
  }
  clearAndHideSomeInputs();
  $("*[name='option']").on('change', function (e) {
    clearAndHideSomeInputs();
  });
</script>
{% endblock %}