{% extends 'polygon/polygon_base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}{% if polygon_title %}{{ polygon_title }} - {% endif %}#{{ problem.id }} - {% endblock %}

{% block content %}
  <h1 class="ui header">题目 #{{ problem.id }}</h1>

  <div class="ui text stackable menu">
    <a class="item {{ active('polygon:problem_basic_info') }}" href="{{ url('polygon:problem_basic_info', problem.id) }}">基本信息</a>
    <a class="item {{ active('polygon:problem_status') }}" href="{{ url('polygon:problem_status', problem.id) }}">提交</a>
    <a class="item {{ active('polygon:problem_review') }}" href="{{ url('polygon:problem_review', problem.id) }}">审核 (试用)</a>
    <a class="item" href="{{ url('problem:detail', problem.id) }}" target="_blank">已发布的版本</a>
  {% for revision in latest_revisions %}
    <a class="item {{ active('polygon:revision_update') }}" href="{{ url('polygon:revision_update', problem.id, revision.id) }}">版本 {{ revision.revision }}</a>
  {% endfor %}
  </div>

  {% block problem_content %}
  {% endblock %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}
