{% extends 'polygon/problem2/problem_base.jinja2' %}

{% block problem_content %}

  {% if problem.package_id %}
    <div class="ui buttons">
      <a class="ui primary button" href="{{ url('polygon:problem_update', problem.id) }}">从 Package 导入</a>
    </div>
    <div class="ui divider"></div>
  {% endif %}

  <div class="ui grid">
    <div class="six wide column">
      {% include 'components/form.jinja2' %}
    </div>
    <div class="ten wide column">
    <div class="ui grid">
      <div class="eight wide column">
        {% if checker %}
        <h3 class="ui dividing header">Checker ({{ checker.get_lang_display() }})</h3>
        <pre style="font-size:0.8em;line-height:1em; overflow-x: scroll"><code>{{ checker.code }}</code></pre>
        {% else %}
        <p>Checker not available.</p>
        {% endif %}
      </div>
      <div class="eight wide column">
        {% if validator %}
        <h3 class="ui dividing header">Validator ({{ validator.get_lang_display() }})</h3>
        <pre style="font-size:0.8em;line-height:1em; overflow-x: scroll"><code>{{ validator.code }}</code></pre>
        {% else %}
        <p>Validator not available.</p>
        {% endif %}
      </div>
      <div class="sixteen wide column">
      {% if case_list %}
        <h3 class="ui dividing header">Tests ({{ case_list | length }})</h3>
        <table class="ui center aligned celled small table">
          <thead>
            <tr>
              <th class="collapsing">#</th>
              <th>Input</th>
              <th>Output</th>
              <th class="collapsing">Sample</th>
            </tr>
          </thead>
          <tbody>
          {% for case in case_list %}
            <tr>
              <td class="collapsing">{{ loop.index }}</td>
              <td class="left aligned selectable"><pre style="margin:0.5em">{{ case.input_preview }}</pre></td>
              <td class="left aligned selectable"><pre style="margin:0.5em">{{ case.output_preview }}</pre></td>
              <td class="collapsing">{% if case.sample %}Y{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Tests not available.</p>
      {% endif %}
      </div>
    </div>

    </div>

  </div>

  {% if case_list %}

  {% endif %}

{% endblock %}