{% extends 'polygon/problem2/problem_base.jinja2' %}

{% block problem_content %}

  <div class="ui info message">
    <div class="ui header">您正在执行更新操作</div>
    <div class="content">此操作将覆盖题目中的所有数据和可执行程序。该操作将持续一段时间，请不要关闭浏览器，等待同步完成。</div>
  </div>

  <div class="ui header">可选参数</div>
  {% include 'components/form.jinja2' %}

{% endblock %}