{% extends 'base.jinja2' %}

{% block page_header %}Problems{% endblock %}

{% block content %}

  <div class="ui secondary menu small">
    <a class="{{ active('problem:list') }} item" href="{{ url('problem:list') }}">PROBLEMSET</a>
    <a class="{{ active('problem:millionaire') }} item" href="{{ url('problem:millionaire') }}">MILLIONAIRE</a>
    <a class="{{ active('problem:status') }} item" href="{{ url('problem:status') }}">STATUS</a>
  </div>

  {% block problem_content %}
  {% endblock %}
{% endblock %}