{% extends 'base.jinja2' %}

{% block page_header %}{{ _('Problems') }}{% endblock %}

{% block content %}

  <div class="ui stackable secondary menu small">
    <a class="{{ active('problem:list') }} item" href="{{ url('problem:list') }}">{{ _('PROBLEMSET') }}</a>
    <a class="{{ active('problem:source') }} item" href="{{ url('problem:source') }}">{{ _('SOURCE') }}</a>
    <a class="{{ active('problem:millionaire') }} item" href="{{ url('problem:millionaire') }}">{{ _('MILLIONAIRE') }}</a>
    <a class="{{ active('problem:status') }} item" href="{{ url('problem:status') }}">{{ _('STATUS') }}</a>
  </div>

  {% block problem_content %}
  {% endblock %}
{% endblock %}