{% extends 'problem/base.jinja2' %}

{% block title %}Problem Set - {% endblock %}

{% block problem_content %}

<table class="ui celled table">
  <thead>
    <tr>
      <th class="center aligned one wide">#</th>
      <th>Name</th>
      <th class="center aligned collapsing">Solved</th>
    </tr>
  </thead>
  <tbody>
    {% for problem in problem_list %}
      <tr class="center aligned middle aligned">
        <td class="semi-bold {% if not problem.visible %}deleted{% endif %}">{{ problem.pk }}</td>
        <td class="left aligned middle aligned">
          <div style="float:right">
          {% for tag in problem.my_tags %}
            <a href="?{{ url_replace(request, 'tag', tag) }}" class="label horizontal ui">{{ tag }}</a>
          {% endfor %}
          </div>
          <a href="{{ url('problem:detail', problem.pk) }}">{{ problem.title }}</a>
        </td>
        <td class="collapsing selectable {% if problem.personal_label > 0 %}positive{% elif problem.personal_label < 0 %}negative{% endif %}">
          <a href="#"><i class="icon fitted user" aria-hidden="true"></i> x {{ problem.accept_count }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3" class="right aligned">
        <div class="ui checkbox">
          <input type="checkbox" name="showTags" checked>
          <label>Show tags</label>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

  {{ my_paginator() }}

{% endblock %}
