{% extends 'problem/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block title %}评测状态 - {% endblock %}

{% block problem_content %}

  {{ status() }}

{% endblock %}
