{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}
<table class="ui definition table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ program.name }}</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>{{ program.get_lang_display() }}</td>
    </tr>
    <tr>
      <td>Tag</td>
      <td>{{ program.get_tag_display() }}</td>
    </tr>
    <tr>
      <td>Created</td>
      <td>{{ program.create_time | date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
      <td>Updated</td>
      <td>{{ program.update_time | date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
      <td>Fingerprint</td>
      <td>{{ program.fingerprint }}</td>
    </tr>
    <tr>
      <td>Based on</td>
      <td>{% if program.parent_id %}<a href="{{ url('polygon:revision_program_preview', problem.id, revision.id, program.parent_id) }}">{{ program.parent_id }}</a>{% endif %}</td>
    </tr>
    <tr>
      <td>Code</td>
      <td>{{ program.code_as_html | safe }}</td>
    </tr>
</tbody></table>
{% endblock %}