{% extends 'base.jinja2' %}

{% block title %}Edit my blog - {% endblock %}

{% block page_header %}Edit my blog{% endblock %}

{% block content %}

  {% include 'components/form.jinja2' %}

{% endblock %}
