{% extends 'base.jinja2' %}
{% from 'components/username_display.jinja2' import username_display with context %}

{% block title %}{{ blog.title }} - Blog - {% endblock %}

{% block page_header %}{{ blog.title }}{% endblock %}

{% block content %}

  <p>{{ username_display(blog.author, tiny=True) }} edited {{ blog.edit_time | naturaltime }}
  {% if is_privileged %}<a href="{{ url('blog:update', blog.pk) }}"><i class="ui icon edit"></i></a>{% endif %}</p>
  {{ blog.text | markdown | safer | safe }}

  {{ render_comment_tree(blog) }}
  {% include 'components/form.jinja2' %}


{% endblock %}
