{% extends 'base.jinja2' %}

{% block title %}{{ blog.title }} - Blog - {% endblock %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>View Blog</h1>
    </div>
  </div>

  <div class="container">
    <div class="content-header">
      <h2>{{ blog.title }}</h2>
      <a class="decoration-free" href="{{ url('generic', blog.author.username) }}">{{ blog.author.get_username_display() | safe }}</a>
              last edited at {{ blog.edit_time | date('Y-m-d H:i:s') }}
    </div>
    <div class="content-section">{{ blog.text | markdown | safe }}</div>
    {% if is_privileged %}<a href="#">Edit this blog</a>{% endif %}
  </div>
{% endblock %}
