{% extends 'base.jinja2' %}

{% block title %}{{ revision.title }} - Blog - {% endblock %}

{% block page_header %}{{ revision.title }} (Past){% endblock %}

{% block content %}

  <p>{{ username_display(revision.author) }} edited {{ revision.create_time | naturaltime }}</p>
  <p><i>This is a past version of blog <a href="{{ url('blog:detail', blog.pk) }}">{{ blog.title }}</a></i></p>
  {% cache 3600 'blog_view#'+blog.pk.__str__()+'#'+blog.edit_time.__str__()+'#'+revision.create_time.__str__() %}
    {{ blog.text | markdown | safer | safe }}
  {% endcache %}

  <h3 class="ui dividing header">Past Versions</h3>
  <table class="ui very basic collapsing celled table">
    <tbody>
    {% for revision in blog_revisions %}
      <tr>
        <td><a href="#">
          {{ revision.create_time | date('Y-m-d h:i:s') }}
        </a></td>
        <td class="right aligned collapsing">{{ username_display(revision.author) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
