{% extends 'polygon/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% macro pull_push() %}
  <div class="ui message">
    For safety reasons, the work you have done here does not go online automatically and only you yourself can see it. <br>
    You have to <a class="post-link loader-button" data-link="{{ url('polygon:problem_pull', problem.id) }}"><b>pull</b></a>
    from online to synchronize and
    <a class="post-link loader-button" data-link="{{ url('polygon:problem_push', problem.id) }}"><b>push</b></a> to
    put your checkers and cases into use.
  </div>
{% endmacro %}

{% block title %}Problem Manage - {% endblock %}

{% block content %}
  <h1 class="ui header">Problem: {{ problem.title }}</h1>

  <div class="ui pointing secondary menu">
    <a class="item {{ active('polygon:problem_preview') }}" href="{{ url('polygon:problem_preview', problem.id) }}">Preview</a>
    <a class="item {{ active('polygon:problem_edit') }}" href="{{ url('polygon:problem_edit', problem.id) }}">Edit</a>
    <a class="item {{ active('polygon:problem_static_file_list') }}" href="{{ url('polygon:problem_static_file_list', problem.id) }}">Static Files</a>
    <a class="item {{ active('polygon:session_program_list') }}" href="{{ url('polygon:session_program_list', problem.id) }}">Programs</a>
    <a class="item {{ active('polygon:session_case_list') }}" href="{{ url('polygon:session_case_list', problem.id) }}">Cases</a>
    <a class="item {{ active('polygon:problem_status') }}" href="{{ url('polygon:problem_status', problem.id) }}">Submissions</a>
  </div>

  <div class="ui inverted dimmer" id="loading-dimmer">
    <div class="ui text loader">Loading</div>
  </div>

  {% block problem_content %}
  {% endblock %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}