<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui error message" v-if="errorMessage">
      <i class="close icon" v-on:click="clearErrorMessage"></i>
      [[ errorMessage ]]
    </div>
    {% block framework %}
    {% endblock %}
  </div>
  <div class="four wide column">
    <div class="ui info message">
      <div class="header">Quick Tips</div>
      {% block tips %}
      {% endblock %}
    </div>
  </div>
</div>