{% extends 'polygon/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}Problem Manage - {% endblock %}

{% block content %}
  <h1 class="ui header">Problem: {{ problem.title }}</h1>

  <div class="ui pointing secondary menu">
    <a class="item {{ active('polygon:problem_preview') }}" href="{{ url('polygon:problem_preview', problem.id) }}">Preview</a>
    <a class="item {{ active('polygon:problem_edit') }}" href="{{ url('polygon:problem_edit', problem.id) }}">Edit</a>
    <a class="item {{ active('polygon:problem_static_file_list') }}" href="{{ url('polygon:problem_static_file_list', problem.id) }}">Static Files</a>
    <a class="item {{ active('polygon:session_program_list') }}" href="{{ url('polygon:session_program_list', problem.id) }}">Programs</a>
    <a class="item" href="#">Cases</a>
    <a class="item {{ active('polygon:problem_status') }}" href="{{ url('polygon:problem_status', problem.id) }}">Submissions</a>
  </div>

  {% block problem_content %}
  {% endblock %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}