{% extends 'polygon/problem/base.jinja2' %}

{% macro program_list_selector(name='') %}
  <select class="ui dropdown selection" name="{{ name }}">
    {% for program in program_list %}
      <option value="{{ program.filename }}">{{ program.filename }} ({{ program.type }})</option>
    {% endfor %}
  </select>
{% endmacro %}

{% block problem_content %}

  <div id="session-case-app" data-api-route="{{ url('polygon:session_case_data_api', problem.id) }}">
    <div class="ui progress" id="case-upload-progress" style="display:none;">
      <div class="bar"><div class="progress"></div></div>
    </div>
    <table class="ui celled center aligned table">
      <thead>
        <tr>
          <th colspan="11" class="right aligned">
            <div class="ui dropdown onhover">
              <button class="ui icon button positive compact text"><i class="plus icon"></i> Add</button>
              <div class="menu">
                <div class="item" @click="showDialogWithOneForm" data-target="#case-add">
                  <i class="write icon"></i> Manually</div>
                <div class="item" @click="showDialogWithOneForm" data-target="#case-file-upload">
                  <i class="upload icon"></i> Upload</div>
                <div class="item" @click="showDialogWithOneForm" data-target="#generate-input-modal">
                  <i class="keyboard icon"></i> Generate</div>
                <div class="item" @click="showDialogWithOneForm" data-target="#stress-test-modal">
                  <i class="hourglass start icon"></i> Stress</div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="collapsing">Valid</th>
          <th colspan="2">Preview</th>
          <th colspan="1" class="collapsing">Point</th>
          <th colspan="3" class="collapsing">Validated</th>
          <th class="right aligned collapsing">Sample</th>
          <th class="right aligned collapsing">Pretest</th>
          <th class="right aligned collapsing">Selected <i class="checkmark box icon link fitted" @click="toggleSelectAll"></i></th>
          <th class="collapsing">Edit</th>
        </tr>
      </thead>
      <tbody is="draggable" v-model="caseList" element="tbody">
        <tr v-for="(ele, index) in caseList" :key="ele.fingerprint" :class="{ active: ele.selected }">
          <td class="collapsing">
            <div class="ui fitted vue checkbox">
              <input type="checkbox" v-model="ele.used">
              <label></label>
            </div>
          </td>
          <td><a target="_blank" :href="'{{ url('polygon:session_preview_case', problem.id) }}?type=in&case=' + ele.fingerprint">Input #[[ index + 1 ]]</a></td>
          <td><a target="_blank" :href="'{{ url('polygon:session_preview_case', problem.id) }}?type=out&case=' + ele.fingerprint">Output #[[ index + 1 ]]</a></td>
          <td>[[ ele.point ]]</td>
          <td class="collapsing" data-tooltip="Case format">
            <i class="check icon" v-if="ele.well_form == 1"></i>
            <i class="remove icon" v-else-if="ele.well_form == -1"></i>
            <i class="help icon" v-else></i>
          </td>
          <td class="collapsing" data-tooltip="Input validation">
            <i class="check icon" v-if="ele.validated == 1"></i>
            <i class="remove icon" v-else-if="ele.validated == -1"></i>
            <i class="help icon" v-else></i>
          </td>
          <td class="collapsing" data-tooltip="Output generated with model solution">
            <i class="check icon" v-if="ele.model == 1"></i>
            <i class="remove icon" v-else-if="ele.model == -1"></i>
            <i class="help icon" v-else></i>
          </td>
          <td class="collapsing">
            <div class="ui fitted vue checkbox">
              <input type="checkbox" v-model="ele.sample">
              <label></label>
            </div>
          </td>
          <td class="collapsing">
            <div class="ui fitted vue checkbox">
              <input type="checkbox" v-model="ele.pretest">
              <label></label>
            </div>
          </td>
          <td class="collapsing">
            <div class="ui fitted vue checkbox">
              <input type="checkbox" v-model="ele.selected">
              <label></label>
            </div>
          </td>
          <td class="collapsing">
            <i class="icon edit link" @click="initializeCaseEditor" :data-api="'{{ url('polygon:session_case_data_api', problem.id) }}?id=' + ele.fingerprint"></i>
            <i class="icon trash link" @click="showDeleteDialog" :data-id="ele.fingerprint" data-action="{{ url('polygon:session_delete_case', problem.id) }}"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr><th colspan="11" class="right aligned">
          <button class="ui positive button" @click="saveChanges" data-url="{{ url('polygon:session_case_save_changes', problem.id) }}">Save changes</button>
        </th></tr>
      </tfoot>
    </table>

  {% call modal(title="Add new cases", id="case-add", size="small") %}
    <form class="ui form" action="{{ url('polygon:session_create_case', problem.id) }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="type" value="manual">
      <div class="two fields">
        <div class="field">
          <label for="input">Input</label>
          <textarea name="input"></textarea>
        </div>
        <div class="field">
          <label for="output">Output</label>
          <textarea name="output"></textarea>
        </div>
      </div>
      <div class="ui checkbox field">
        <input type="checkbox" name="wellForm" checked>
        <label>Make my tests well-formed</label>
      </div>
    </form>
  {% endcall %}

  {% call modal(title="Upload a new file", id="case-file-upload") %}
    <form class="ui form" action="{{ url('polygon:session_create_case', problem.id) }}" method="POST"
          data-progress-bar="#case-upload-progress">
      {% csrf_token %}
      <input type="hidden" name="type" value="upload">
      <p>Upload an input file or tests wrapped in a zip archive.</p>
      <div class="field">
        <label for="files">Choose a file</label>
        <div class="ui fluid file input action">
          <input type="text" readonly>
          <input type="file" name="file" autocomplete="off">
          <div class="ui button">Select...</div>
        </div>
      </div>
    </form>
  {% endcall %}

  {% call modal(title='Generate input', id='generate-input-modal') %}
    <p>Please enter parameters line by line. Leave empty if there is no parameter.</p>
    <form class="ui form" action="{{ url('polygon:session_create_case', problem.id) }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="type" value="generate">
      <div class="field">
        <label>Generator:</label>
        {{ program_list_selector("generator") }}
      </div>
      <div class="field">
        <label for="input">This will generate [[ generateParamLength ]] cases.</label>
        <textarea name="param" v-model="generateParam"></textarea>
      </div>
    </form>
  {% endcall %}

  {% call modal(title='Stress test', id='stress-test-modal') %}
    <form class="ui form" action="{{ url('polygon:session_create_case', problem.id) }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="type" value="stress">
      <div class="field">
        <label>Suspect:</label>
        {{ program_list_selector("submission") }}
      </div>
      <div class="field">
        <label>Generator:</label>
        {{ program_list_selector("generator") }}
      </div>
      <div class="field">
        <label for="input">This will generate [[ generateParamLength ]] cases.</label>
        <textarea name="param" v-model="generateParam"></textarea>
      </div>
      <div class="field">
        <label>Time:</label>
        <select class="ui selection dropdown">
          <option value="1">1 min</option>
          <option value="2">2 mins</option>
          <option value="3">3 mins</option>
          <option value="4">4 mins</option>
          <option value="5">5 mins</option>
        </select>
      </div>
    </form>
  {% endcall %}

  <div class="ui modal" id="case-edit-modal">
    <div class="header">
      Case Editor
    </div>
    <div class="content">
      <form class="ui form">
        <div class="inline fields">
          <div class="field">
            <label>Point</label>
            <input type="number" name="point">
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="sample">
              <label>Sample</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="pretest">
              <label>Pretest</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="reform">
              <label>Reformat texts</label>
            </div>
          </div>
        </div>
        <div class="ui equal width grid">
          <div class="column">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="tab-editor-input">Editor</a>
              <a class="item" data-tab="tab-upload-input">Upload</a>
              <div class="right menu">
                <span class="item"><b>Input</b></span>
              </div>
            </div>
            <div class="ui bottom attached segment">
              <input type="hidden" name="inputType" value="editor">
              <div class="ui active tab" data-tab="tab-editor-input" data-type="editor">
                <textarea name="inputText" spellcheck="false" autocomplete="off"></textarea>
              </div>
              <div class="ui tab" data-tab="tab-upload-input" data-type="upload">
                <div class="field">
                  <label for="files">Choose a file</label>
                  <div class="ui fluid file input action">
                    <input type="text" readonly>
                    <input type="file" name="inputFile" autocomplete="off">
                    <div class="ui button">Select...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="tab-editor-output">Editor</a>
              <a class="item" data-tab="tab-upload-output">Upload</a>
              <div class="right menu">
                <span class="item"><b>Output</b></span>
              </div>
            </div>
            <div class="ui bottom attached segment">
              <input type="hidden" name="outputType" value="editor">
              <div class="ui active tab" data-tab="tab-editor-output" data-type="editor">
                <div class="field">
                  <textarea name="outputText" spellcheck="false" autocomplete="off"></textarea>
                </div>
              </div>
              <div class="ui tab" data-tab="tab-upload-output" data-type="upload">
                <div class="field">
                  <label for="files">Choose a file</label>
                  <div class="ui fluid file input action">
                    <input type="text" readonly>
                    <input type="file" name="outputFile" autocomplete="off">
                    <div class="ui button">Select...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="actions">
      <div class="ui deny button">Discard</div>
      <div class="ui positive right labeled icon button">OK <i class="checkmark icon"></i></div>
    </div>
  </div>

  </div>

  <div class="ui basic modal tiny" id="success-modal">
    <div class="ui icon green inverted header">
      <i class="check circle icon"></i>
      Congratulations!
    </div>
    <div class="content" style="text-align: center;">
      <p>Your changes have been saved.</p>
    </div>
  </div>

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}
{##}
{#{% macro option_dropdown() %}#}
{#  <div class="ui icon right pointing dropdown button">#}
{#    <i class="options icon"></i>#}
{#    <div class="menu">#}
{#      <div class="item">#}
{#        <i class="cut icon"></i> Split input#}
{#      </div>#}
{#      <div class="divider"></div>#}
{#      <a class="item" :href="'{{ url('polygon:session_download_case_input', problem.id) }}?fingerprint=' + element.fingerprint" target="_blank">#}
{#        <i class="cloud download icon"></i> Download input#}
{#      </a>#}
{#      <a class="item" :href="'{{ url('polygon:session_download_case_output', problem.id) }}?fingerprint=' + element.fingerprint" target="_blank">#}
{#        <i class="cloud download icon"></i> Download output#}
{#      </a>#}
{#      <div class="item" @click="showDeleteDialog" :data-fingerprint="element.fingerprint"#}
{#           data-action="{{ url('polygon:session_delete_case', problem.id) }}">#}
{#        <i class="trash icon"></i> Delete#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#{% endmacro %}#}
{##}
{#{% macro reform_property_list() %}#}
{#  <ul class="list">#}
{#    <li>each line finishes with EOLN;</li>#}
{#    <li>doesn't contain characters with codes less than 32;</li>#}
{#    <li>doesn't contain leading or trailing spaces;</li>#}
{#    <li>doesn't contain two or more consecutive spaces;</li>#}
{#    <li>doesn't contain leading or trailing empty lines;</li>#}
{#    <li>file is not empty.</li>#}
{#    <li>file encoding must be utf-8.</li>#}
{#  </ul>#}
{#{% endmacro %}#}
{##}
{#{% macro span_pretest_and_sample() %}#}
{#  <span class="click-able icon label" @click="postLink" :data-fingerprint="element.fingerprint"#}
{#        data-action="{{ url('polygon:session_toggle_sample_case', problem.id) }}"#}
{#        data-tooltip="Sample test" data-inverted="" style="margin-left:1em">#}
{#    <i class="tv icon blue" v-if="element.sample"></i>#}
{#    <i class="tv icon grey" v-else></i>#}
{#  </span>#}
{#  <span class="click-able icon label" @click="postLink" :data-fingerprint="element.fingerprint"#}
{#        data-action="{{ url('polygon:session_toggle_pretest_case', problem.id) }}"#}
{#        data-tooltip="Pretest" data-inverted="">#}
{#    <i class="hide icon blue" v-if="element.pretest"></i>#}
{#    <i class="hide icon grey" v-else></i>#}
{#  </span>#}
{#{% endmacro %}#}
{##}
{#{% macro span_icon_status() %}#}
{#  Modified [[ element.modified_time ]],#}
{#  [[ Math.round(element.size / 1024) ]] KB.#}
{#  Worth <a @click="showDialogWithOneForm" data-target="#case-point-modal"#}
{#        :data-fingerprint="element.fingerprint" :data-point="element.point">[[ element.point ]] points</a>.<br>#}
{##}
{#  <span class="click-able icon label" @click="showDialogWithOneForm" data-target="#case-reform-modal"#}
{#        :data-fingerprint="element.fingerprint" data-action="{{ url('polygon:session_reform_case', problem.id) }}">#}
{#    <i class="check circle icon pink" v-if="element.well_form"></i>#}
{#    <i class="help icon pink" v-else></i>#}
{#    Well formed</span>#}
{##}
{#  <span class="click-able icon label" @click="showDialogWithOneForm" data-target="#select-program-modal"#}
{#        :data-fingerprint="element.fingerprint" :data-program="appData.validator"#}
{#        data-action="{{ url('polygon:session_validate_case', problem.id) }}">#}
{#    <i class="check circle icon violet" v-if="element.validated == 1"></i>#}
{#    <i class="remove icon violet" v-else-if="element.validated == -1"></i>#}
{#    <i class="help icon violet" v-else></i>#}
{#    Validated</span>#}
{##}
{#  <span class="click-able icon label" @click="showDialogWithOneForm" data-target="#select-program-modal"#}
{#        :data-fingerprint="element.fingerprint" :data-program="appData.model"#}
{#        data-action="{{ url('polygon:session_run_case_with_model', problem.id) }}">#}
{#    <i class="check circle icon teal" v-if="element.model == 1"></i>#}
{#    <i class="remove icon teal" v-else-if="element.model == -1"></i>#}
{#    <i class="help icon teal" v-else></i>#}
{#    Model output</span>#}
{##}
{#  <span class="click-able icon label" @click="showDialogWithOneForm" data-target="#check-output-modal"#}
{#        :data-fingerprint="element.fingerprint" :data-program="appData.model" :data-checker="appData.checker"#}
{#        data-action="{{ url('polygon:session_check_case_output', problem.id) }}">#}
{#    <i class="check circle icon yellow" v-if="element.checked == 1"></i>#}
{#    <i class="remove icon yellow" v-else-if="element.checked == -1"></i>#}
{#    <i class="help icon yellow" v-else></i>#}
{#  Checked</span>#}
{#{% endmacro %}#}
{##}
{#{% block problem_content %}#}
{##}
{#  <div class="ui segments">#}
{##}
{#    <div class="ui right aligned segment">#}
{#      <div class="ui top attached progress" id="case-upload-progress" style="display:none">#}
{#        <div class="bar"></div>#}
{#      </div>#}
{#      <div class="ui dropdown onhover">#}
{#        <button class="ui icon button positive compact text"><i class="plus icon"></i> Add</button>#}
{#        <div class="menu">#}
{#          <div class="item" v-on:click="showDialogWithOneForm" data-target="#case-add" data-block="true">#}
{#            <i class="write icon"></i> Manually</div>#}
{#          <div class="item" v-on:click="showDialogWithOneForm" data-target="#case-file-upload">#}
{#            <i class="upload icon"></i> Upload</div>#}
{#          <div class="item" v-on:click="showDialogWithOneForm" data-target="#generate-input-modal" data-block="true">#}
{#            <i class="keyboard icon"></i> Generate</div>#}
{#          <div class="item" v-on:click="showDialogWithOneForm" data-target="#stress-test-modal" data-block="true">#}
{#            <i class="hourglass start icon"></i> Stress</div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="ui segment">#}
{#      <div class="ui header">Current</div>#}
{#      <draggable class="ui middle aligned list" v-model="caseList" :options="{group:'caseList'}">#}
{#        <div class="item" v-for="(element, index) in caseList" :key="element.fingerprint">#}
{#          <div class="right floated content">#}
{#            {{ option_dropdown() }}#}
{#          </div>#}
{#          <i class="neuter icon"></i>#}
{#          <div class="content">#}
{#            <div class="click-able header">#}
{#              <span data-get-action="{{ url('polygon:session_preview_case', problem.id) }}"#}
{#                    @click="previewCase" :data-fingerprint="element.fingerprint">#}
{#                Case [[ index + 1 ]]#}
{#              </span>#}
{#              {{ span_pretest_and_sample() }}#}
{#            </div>#}
{#            <div class="description">{{ span_icon_status() }}</div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="ui message" v-if="caseList.length == 0">Empty yet. Drag cases here.</div>#}
{#      </draggable>#}
{#    </div>#}
{#    <div class="ui segment">#}
{#      <div class="ui header">Unused Cases</div>#}
{#      <draggable class="ui middle aligned list" v-model="unusedCaseList" :options="{group:'caseList'}">#}
{#        <div class="item" v-for="element in unusedCaseList" :key="element.fingerprint">#}
{#          <div class="right floated content">#}
{#            {{ option_dropdown() }}#}
{#          </div>#}
{#          <i class="genderless icon"></i>#}
{#          <div class="content">#}
{#            <div class="click-able header">#}
{#              <span data-get-action="{{ url('polygon:session_preview_case', problem.id) }}"#}
{#                    @click="previewCase" :data-fingerprint="element.fingerprint">#}
{#                Case NaN#}
{#              </span>#}
{#              {{ span_pretest_and_sample() }}#}
{#            </div>#}
{#            <div class="description">{{ span_icon_status() }}</div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="ui message" v-if="unusedCaseList.length == 0">Empty yet. Drag cases here.</div>#}
{#      </draggable>#}
{#    </div>#}
{##}
{#    <!-- Toolbox -->#}
{##}
{#    <div class="ui segment">#}
{##}
{#      <div class="ui icon bottom left pointing dropdown button">#}
{#        <i class="travel icon"></i>#}
{#        <div class="menu">#}
{#          <div class="item" @click="showDialogWithOneForm" data-target="#case-reform-modal"#}
{#               data-action="{{ url('polygon:session_reform_all_case', problem.id) }}">#}
{#            Reform all cases#}
{#          </div>#}
{#          <div class="item" @click="showDialogWithOneForm" data-target="#select-program-modal"#}
{#               :data-program="appData.validator" data-action="{{ url('polygon:session_validate_all_case', problem.id) }}">#}
{#            Validate all cases#}
{#          </div>#}
{#          <div class="item" @click="showDialogWithOneForm" data-target="#select-program-modal"#}
{#               :data-program="appData.model" data-action="{{ url('polygon:session_run_all_case_with_model', problem.id) }}">#}
{#            Produce all outputs#}
{#          </div>#}
{#          <div class="item" @click="showDialogWithOneForm" data-target="#check-output-modal"#}
{#               :data-program="appData.model" :data-checker="appData.checker"#}
{#               data-action="{{ url('polygon:session_check_all_case_output', problem.id) }}">#}
{#            Check all cases#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="ui right floated buttons">#}
{#        <a class="ui button" @click="updateCaseList">Reset</a>#}
{#        <div class="or"></div>#}
{#        <a class="ui teal button" @click="saveCaseOrders"#}
{#           data-action="{{ url('polygon:session_update_orders', problem.id) }}">#}
{#          Save orders</a>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{##}
{#  {% call modal(title="Reform a case", id="case-reform-modal") %}#}
{#    <p>Case-reform will do the following. To make sure:</p>#}
{#    {{ reform_property_list() }}#}
{#    <form class="ui form" action="" method="POST">#}
{#      {% csrf_token %}#}
{#      <div class="ui checkbox field">#}
{#        <input type="checkbox" name="onlyInput">#}
{#        <label>Reform input only</label>#}
{#      </div>#}
{#    </form>#}
{#  {% endcall %}#}
{##}
{#  {% call modal(title="Readjust case point", id="case-point-modal") %}#}
{#    <form class="ui form" action="{{ url('polygon:session_update_case_point', problem.id) }}" method="POST">#}
{#      {% csrf_token %}#}
{#      <div class="ui field">#}
{#        <label>Worth points</label>#}
{#        <input type="number" name="point">#}
{#      </div>#}
{#    </form>#}
{#  {% endcall %}#}
{##}
{#  <div class="ui longer small modal" id="case-preview-modal">#}
{#    <div class="header">Preview Case</div>#}
{#    <div class="scrolling content">#}
{#      <div class="ui header">Input</div>#}
{#      <pre class="ui segment"><code>[[ previewCaseInput ]]</code></pre>#}
{#      <div class="ui header">Output</div>#}
{#      <pre class="ui segment"><code>[[ previewCaseOutput ]]</code></pre>#}
{#    </div>#}
{#  </div>#}
{##}
{#  {% call modal(title="Select a program", id="select-program-modal") %}#}
{#    <form class="ui form" action="" method="POST">#}
{#      {% csrf_token %}#}
{#      <div class="field">#}
{#        <div class="ui selection dropdown fluid">#}
{#          <label>Use</label>#}
{#          <input type="hidden" name="program" data-important="true">#}
{#          <i class="dropdown icon"></i>#}
{#          <div class="text"></div>#}
{#          <div class="menu">#}
{#            <div class="item" v-for="program in appData.program_file_list" :data-value="program.filename">[[ program.filename ]] ([[ program.type ]])</div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </form>#}
{#  {% endcall %}#}
{##}
{#  {% call modal(title="Check output", id="check-output-modal") %}#}
{#    <form class="ui form" action="" method="POST">#}
{#      {% csrf_token %}#}
{#      <div class="field">#}
{#        <div class="ui selection dropdown fluid">#}
{#          <label>Run with</label>#}
{#          <input type="hidden" name="program" data-important="true">#}
{#          <i class="dropdown icon"></i>#}
{#          <div class="text"></div>#}
{#          <div class="menu">#}
{#            <div class="item" v-for="program in appData.program_file_list" :data-value="program.filename">[[ program.filename ]] ([[ program.type ]])</div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="field">#}
{#        <div class="ui selection dropdown fluid">#}
{#          <label>Check with</label>#}
{#          <input type="hidden" name="checker" data-important="true">#}
{#          <i class="dropdown icon"></i>#}
{#          <div class="text"></div>#}
{#          <div class="menu">#}
{#            <div class="item" v-for="program in appData.program_file_list" :data-value="program.filename">[[ program.filename ]] ([[ program.type ]])</div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </form>#}
{#  {% endcall %}#}
{##}
{##}
{#{% endblock %}#}
