{% extends 'polygon/base.jinja2' %}

{% block title %}
  Problems
{% endblock %}

{% block content %}

  <table class="ui celled table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="5">
          <button id="contest-create-button" class="ui right floated small primary labeled icon button">
            <i class="server icon"></i> Add Problem
          </button>
        </th>
      </tr>
      <tr>
        <th>Title</th>
        <th class="collapsing">Alias</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problem_list %}
        <tr>
          <td><a href="{{ url('polygon:problem_preview', problem.pk) }}">{{ problem.title }}</a></td>
          <td>{{ problem.alias }}</td>
          <td>{{ problem.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.update_time | date('Y-m-d H:i:s') }}</td>
          <td><a href="{{ url('polygon:problem_edit', problem.pk) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
