{% extends 'polygon/problem/base.jinja2' %}
{% from 'components/problem.jinja2' import problem_view with context %}
{% from 'components/submit.jinja2' import submit_view with context %}

{% block problem_content %}

  {{ problem_view(problem.title, False) }}

  <h3 class="ui header" style="margin-top: 4em;">Submit your code here</h3>
  {{ submit_view(submit_action=url('problem:submit', problem.id)) }}

{% endblock %}

{% block script %}
  <script src="/static/node_modules/ace-builds/src-noconflict/ace.js"></script>
  <script src="/static/node_modules/vue/dist/vue.min.js"></script>
{% endblock %}