{% extends 'polygon/base.jinja2' %}

{% block title %}Contest Edit - {% endblock %}

{% block content %}

  {% include 'polygon/components/contest_header.jinja2' %}
  {% include 'components/form.jinja2' %}

{% endblock %}
