{% extends 'polygon/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block title %}Contest Submissions - {% endblock %}

{% block content %}
  {% include 'polygon/components/contest_header.jinja2' %}

  {{ status(rejudge=True) }}

{% endblock %}