{% extends 'polygon/base.jinja2' %}
{% from 'components/status.jinja2' import status with context %}

{% block title %}Problem Status - {% endblock %}

{% block content %}
  {% include 'polygon/components/problem_header.jinja2' %}

  {{ status(hide_problems=True) }}

{% endblock %}