{% extends 'polygon/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}Problem Edit - {% endblock %}

{% block content %}
  {% include 'polygon/components/problem_header.jinja2' %}

  {% include 'components/form.jinja2' %}

{% endblock %}