{% extends 'polygon/base.jinja2' %}

{% block title %}Problem Meta - {% endblock %}

{% block content %}
  <h1 class="ui header">Problem {{ problem.id }} Management</h1>

  <form class="ui form">
    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>ID</label>
          <input type="text" readonly name="id" value="{{ problem.id }}">
        </div>
        <div class="field">
          <label>Alias</label>
          <input type="text" name="alias" value="{{ problem.alias }}">
        </div>
      </div>
      <div class="three fields">

      </div>
    </div>
  </form>
  {% include 'components/search_user.jinja2' %}
{% endblock %}