{% extends 'polygon/base.jinja2' %}

{% block title %}Edit Session - {% endblock %}

{% block content %}
<h1 class="ui header">Session: {{ user.username }}/{{ problem.alias }}</h1>
<div id="session-edit-app" data-api-route="{{ url('polygon:session_update_api', session.id) }}">
  <div class="ui pointing secondary tabular menu">
    <div class="item" data-tab="meta">Meta</div>
    <div class="item" data-tab="statement">Statement</div>
    <div class="item" data-tab="files">Files</div>
    <div class="item" data-tab="tests">Tests</div>
    <div class="item" data-tab="cases">Cases</div>
    <div class="item" data-tab="program">Programs</div>
    <div class="item" data-tab="access">Access</div>
  </div>
  <div class="ui tab" data-tab="meta">
    {% include 'polygon/edit/meta.jinja2' %}
  </div>
  <div class="ui tab" data-tab="statement">
    {% include 'polygon/edit/statement.jinja2' %}
  </div>
  <div class="ui tab" data-tab="files">
    {% include 'polygon/edit/files.jinja2' %}
  </div>
  <div class="ui tab" data-tab="tests">
    <!-- Tab Content !-->
  </div>
  <div class="ui tab" data-tab="cases">
    <!-- Tab Content !-->
  </div>
  <div class="ui tab" data-tab="program">
    {% include 'polygon/edit/program.jinja2' %}
  </div>
  <div class="ui tab" data-tab="access">
    <!-- Tab Content !-->
  </div>
</div>

  {% call modal(title="Delete confirmation", id="delete-confirmation") %}
    <p>Are you sure you want to delete? All your changes will be lost.</p>
    <form id="delete-confirmation-form" action="" method="POST">
      {% csrf_token %}
    </form>
  {% endcall %}

{% endblock %}
