{% extends 'polygon/base.jinja2' %}
{% from 'components/modal.jinja2' import modal with context %}

{% block title %}Sessions - {% endblock %}

{% block content %}


  <div class="ui header">
    <div class="ui labeled button right floated" id="session-create-button">
      <div class="ui button">
        <i class="plus icon"></i> Add
      </div>
      <a class="ui basic label" href="{{ url('problem:list') }}">
        {{ problemset_count }}
      </a>
    </div>
    <h1>Sessions</h1>
  </div>

  {% include 'components/message.jinja2' %}

  {% for problem in problems %}
    <div class="ui list accordion">
      {% if problem.access_type != 'READ' %}
        <button class="ui right floated primary basic button icon synchronize" data-problem="{{ problem.id }}">
          <i class="refresh icon"></i>
        </button>
        <a href="{{ url('polygon:problem_preview', problem.id) }}" class="ui right floated secondary basic button icon">
          <i class="browser icon"></i>
        </a>
      {% endif %}
      <div class="item">
        <i class="folder icon"></i>
        <div class="content">
          <div class="title">
            <div class="header">{{ problem.id }} - {{ problem.alias }}</div>
            <div class="description">{{ problem.access_type }} clearance, last updated {{ problem.update_time | date('Y-m-d H:i:s') }}.</div>
          </div>
          <div class="list content">
            {% for session in problem.sessions %}
              <div class="item">
                <i class="fork icon"></i>
                <div class="content">
                  <div class="header"><a href="{{ url('polygon:session_edit', session.id) }}">Version {{ session.user.username }}</a></div>
                  <div class="description">Last synchronized {{ session.last_synchronize | date('Y-m-d H:i:s') }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% call modal(title="Create a new session", id="session-create") %}
    <form class="ui form" id="session-create-form" action="{{ url('polygon:session_create') }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <div class="field">
        <label>Alias</label>
        <input type="text" name="alias" placeholder="Contains only ascii letters, digits, - and _. Length at least 4.">
      </div>
    </form>
  {% endcall %}

  {% call modal(title="Synchronize a session", id="session-synchronize") %}
    <p>Are you sure you want to synchronize? All your changes will be lost.</p>
    <form id="session-synchronize-form" action="{{ url('polygon:session_pull') }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <input type="hidden" name="problem" value="">
    </form>
  {% endcall %}

{% endblock %}
