{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Problems
{% endblock %}

{% block backstage_content %}

  <table class="ui celled definition table center aligned">
    <thead class="full-width">
      <tr>
        <th>Visible</th>
        <th>Name</th>
        <th>Alias</th>
        <th>Created</th>
        <th>Update</th>
        <th>Edit</th>
        <th colspan="2">Access</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problem_list %}
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('backstage:problem_visible_switch', problem.id) }}" type="checkbox" {% if problem.visible %}checked{% endif %}>
            </div>
          </td>
          <td>{{ problem.title }}</td>
          <td>{{ problem.alias }}</td>
          <td>{{ problem.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.update_time | date('Y-m-d H:i:s') }}</td>
          <td><a href="{{ url('backstage:problem_edit', problem.pk) }}">Edit</a></td>
          <td><a class="post-link" data-link="{{ url('backstage:problem_access_add', problem.pk) }}">Add Me</a></td>
          <td><a href="{{ url('backstage:problem_meta', problem.pk) }}">Manage</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

{% endblock %}
