{% extends 'backstage/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block content_header %}
  Edit Problem #{{ problem.pk }}
{% endblock %}

{% block backstage_content %}
  <form class="ui form" method="POST">
    {% csrf_token %}

    <h3 class="ui header">Access</h3>
    <div class="field">
      <label>They have admin clearance:</label>
      {{ user_search_multiple(name='admin', exist=admin_list) }}
    </div>
    <div class="field">
      <button type="submit" class="ui button positive">Save</button>
    </div>
  </form>
{% endblock %}
