{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Edit Problem #{{ problem.pk }}
{% endblock %}

{% block backstage_content %}
  <p><a class="btn btn-default" target="_blank" href="{{ url('backstage:problem_file', problem.pk) }}">Static files</a></p>

  {% include 'components/form.jinja2' %}
{% endblock %}
