{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Problem Tags
{% endblock %}

{% block backstage_content %}

  <table class="ui celled table">
    <thead>
      <tr>
        <th colspan="4">
          <button class="ui right floated primary labeled icon button modal-link" data-target="#tag-add">
            <i class="server icon"></i> Add Tag
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tag_list %}
        <tr>
          <td>{{ tag.name }}</td>
          <td class="right aligned collapsing">
            <a href="{{ url('backstage:tag_edit', tag.pk) }}">Edit</a>
          </td>
          <td class="right aligned collapsing">
            <a class="delete-link" data-link="{{ url('backstage:tag_delete', tag.pk) }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% call modal(id="tag-add", title="Add a tag", action=url('backstage:tag_add')) %}
    {% csrf_token %}
    <div class="field">
      <label>Tag name:</label>
      <input type="text" name="name">
    </div>
  {% endcall %}

{% endblock %}
