{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}

  <table class="ui celled small table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="8">
          <div class="ui right floated buttons">
            <a href="{{ url('polygon:revision_program_create', problem.id, revision.id) }}" class="ui primary labeled icon button">
              <i class="add icon"></i> Add Program
            </a>
            <a href="{{ url('polygon:revision_program_import', problem.id, revision.id) }}" class="ui button">Import</a>
          </div>
        </th>
      </tr>
      <tr>
        <th class="collpasing">Active</th>
        <th class="collapsing">#</th>
        <th>Name</th>
        <th>Tag</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing">Edit</th>
        <th class="collapsing">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for program in program_list %}
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('polygon:revision_program_toggle', problem.id, revision.id, program.id) }}" type="checkbox" {% if program.is_active %}checked{% endif %}>
            </div>
          </td>
          <td>{{ program.pk }}</td>
          <td><a href="{{ url('polygon:revision_program_preview', problem.id, revision.id, program.id) }}">{{ program.name }}</a></td>
          <td>{{ program.get_tag_display() }}</td>
          <td>{{ program.create_time | date('Y-m-d H:i') }}</td>
          <td>{{ program.update_time | date('Y-m-d H:i') }}</td>
          <td><a href="{{ url('polygon:revision_program_update', problem.id, revision.id, program.id) }}">Edit</a></td>
          <td><a href="javascript:void(0);" class="post prompt" data-link="{{ url('polygon:revision_program_delete', problem.id, revision.id, program.id) }}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}