{% load staticfiles %}
{% load navitem_active %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <title>{% if title %}{{ title }}{% else %}AI Playground{% endif %}</title>
</head>

<body>

  <header class="navbar navbar-light navbar-static-top bd-navbar">
    <div class="container">
      <nav>
        <div class="clearfix">
        <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
          <a class="navbar-brand hidden-md-up" href="#">EOJ</a>
        </div>
        <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-item nav-link" href="{% url 'home' %}">EOJ</a>
            </li>
            <li class="nav-item {% navitem_active request 'problem' %}">
              <a class="nav-item nav-link {{ problist_active }}" href="{% url 'problem_list' %}">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link {{ status_active }}" href="#">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link {{ challenge_active }}" href="#">Contest</a>
            </li>
            {% if request.user.is_authenticated %}
              <div class="float-md-right">
                <li class="nav-item">
                  <a class="nav-link text-gray-dark" href="#">{{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              </div>
            {% else %}
              <div class="float-md-right">
                <ul class="nav navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'backstage:index' %}">Admin</a>
                  </li>
                </ul>
              </div>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>


  {% block content %}
  {% endblock %}

  <footer class="bd-footer text-muted">
    <div class="container">
      <ul class="bd-footer-links">
        <li><a href="https://github.com/ultmaster/eoj3">GitHub</a></li>
        <li><a href="{% url 'home' %}">Homepage</a></li>
      </ul>
      <p>Team: <a href="https://github.com/ultmaster">@ultmaster</a> and <a href="https://github.com/zerolfx">@zerolfx</a>.</p>
      <p>Proudly powered by <a href="https://v4-alpha.getbootstrap.com/">Bootstrap v4-alpha</a>.</p>
    </div>
  </footer>
</div>


<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>



{% block script %}
{% endblock %}
</body>
</html>
