{% extends 'html_base.jinja2' %}

{% block _content %}

{% block broadcast_content %}{% endblock %}
{% include 'components/navbar.jinja2' %}
  <div class="ui main container pusher">
    <h1 class="ui header">{% block page_header %}#page_header{% endblock %}</h1>
{% block content %}
{% endblock %}
  </div>
{% include 'components/footer.jinja2' %}

{% endblock %}