{% extends 'base.jinja2' %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Contests</h1>
    </div>
  </div>

  <div class="container">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="8%">#</th>
          <th width="42%">Title</th>
          <th width="22%">Start</th>
          <th width="10%">Length</th>
          <th width="8%"><i class="material-icons">person</i></th>
          <th width="10%">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for contest in contest_list %}
          <tr>
            <td scope="row">{{ contest.pk }}</td>
            <td><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
            <td>{{ contest.start_time | date('Y-m-d H:i')}}</td>
            <td>{{ contest.length | timedelta }}</td>
            <td>&times; {{ contest.participant_size }}</td>
            <td>{{ contest.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ my_paginator() }}
  </div>

{% endblock %}
