{% extends 'base.html' %}
{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Contest List</h1>
    </div>
  </div>

  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th width="8%">#</th>
          <th width="40%">Title</th>
          <th width="22%">Start</th>
          <th width="10%">Length</th>
          <th width="20%" align="center">Participants</th>
        </tr>
      </thead>
      <tbody>
        {% for contest in contest_list %}
          <tr>
            <td scope="row">{{ contest.pk }}</td>
            <td><a href="{% url 'contest:dashboard' contest.pk %}">{{ contest.title }}</a></td>
            <td>{{ contest.start_time }}</td>
            <td>02:00</td>
            <td>2300</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <nav aria-label="pagination-nav">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}
