{% extends 'base.jinja2' %}

{% block title %}Contests - {% endblock %}

{% block page_header %}Contests{% endblock %}

{% block content %}

  <div class="ui secondary menu small">
    <a class="{{ active('contest:list') }} item" href="{{ url('contest:list') }}">REGULAR</a>
    <a class="{{ active('contest:gym') }} item" href="{{ url('contest:gym') }}">GYM</a>
  </div>

  <table class="ui celled table">
    <thead>
      <tr  class="center aligned">
        <th class="collapsing">#</th>
        <th>Name</th>
        <th class="collapsing">Public</th>
        <th class="collapsing">Standings</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr class="center aligned">
          <td class="semi-bold {% if not contest.visible %}deleted{% endif %}">{{ contest.pk }}</>
          <td><a href="{{ url('contest:dashboard', contest.pk) }}">{{ contest.title }}</a></td>
          <td>{% if contest.public %}Public{% else %}Private{% endif %}</td>
          <td><i class="icon fitted user" aria-hidden="true"></i> <a href="{{ url('contest:standings', contest.pk) }}">&times; {{ contest.participant_size }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{{ my_paginator() }}

{% endblock %}
