{% extends 'base.jinja2' %}
{% from 'components/username_display.jinja2' import username_display with context %}
{% from 'components/comment.jinja2' import comment_view with context %}

{% block title %}Discuss - Problem #{{ pk }} - {% endblock %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Discuss - Problem #{{ pk }}</h1>
    </div>
  </div>

  <div class="container">
    <p><a href="{{ url('problem', pk) }}">Go back to the problem</a></p>
    <div class="content-mini-section">
      {% if comment_list %}
        {% for comment in comment_list %}
          {{ comment_view(comment) }}
        {% endfor %}
        {{ my_paginator() }}
      {% else %}
        <p>The discussion zone is still empty yet.</p>
      {% endif %}
    </div>
    {% if request.user.is_authenticated %}
      <div class="content-section">
        <form action="{{ url('blog:problem_add_comment', pk) }}" method="POST">
          <h4>Join the discussion</h4>
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" id="comment-text" name="text" rows="3" placeholder="Try to be brief. Linebreaks are not supported."></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    {% endif %}
  </div>

{% endblock %}
