{# has a weird name; it means personal profile... #}

{% extends 'base.jinja2' %}
{% from 'components/profile_card.jinja2' import profile_card with context %}
{% from 'components/blog_preview.jinja2' import blog_preview %}

{% block title %}Profile - {% endblock %}

{% block page_header %}{{ profile.get_username_display() }}{% endblock %}

{% block content %}

  <div class="ui stackable grid">

    <div class="eleven wide column">

      {% if is_author %}<a class="ui labeled icon button primary" href="{{ url('blog:create') }}"><i class="icon add"></i>Write a blog</a>{% endif %}
      <div class="ui feed">
        {% if blog_list %}
          {% for blog in blog_list %}
            {{ blog_preview(blog) }}
          {% endfor %}
          {{ my_paginator() }}
        {% endif %}
      </div>
    </div>

    <div class="five wide column">
      {{ profile_card(profile, solved) }}
      <form class="ui form" action="{{ url('blog:goto') }}" method="post">
        {% csrf_token %}
        <div class="ui action fluid input">
          <input type="text" name="name" placeholder="Username here...">
          <button type="submit" class="ui button">Go to</button>
        </div>
      </form>
    </div>

  </div>

  <div class="ui hidden divider"></div>

  <div id="sub-heatmap">
    <div class="ui header">Submission Heatmap</div>
    <div id="cal-heatmap"></div>
  </div>

{% endblock %}

{% block script %}
  <script src="/static/node_modules/d3/d3.min.js"></script>
  <script src="/static/node_modules/cal-heatmap/cal-heatmap.min.js"></script>
  <script>
    var yearsAgo = function (year) {
      now = new Date();
      now.setYear(now.getFullYear() - year);
      now.setMonth(now.getMonth() + 1);
      return now;
    };

    var cal = new CalHeatMap();
    var date = new Date();
    cal.init({
      start: yearsAgo(1),
      itemSelector: "#cal-heatmap",
      itemName: ["submission", "submissions"],
      domain: "month",
      subDomain: "day",
      data: "/api/submission/user/{{ profile.username }}",
      dataType: "json",
{#      domainMargin: 5,#}
      legend: [1, 2, 3, 4],
      cellSize: 12,
      legendColors: ["#ecf5e2", "#232181"]
    });
  </script>
{% endblock %}