{# has a weird name; it means personal profile... #}

{% extends 'base.jinja2' %}
{% from 'components/nickname.jinja2' import clickable_nickname with context %}

{% block title %}View Profile - {% endblock %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Blog</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 col-sm-push-8">
        <div style="margin-top:0" class="text-center id-card">
          <div>
            <img width=80%" src="{{ profile.get_alien_large_src() }}">
            <h3>{{ profile.get_username_display() | safe }}</h3>
          </div>
          <br>
          <p>{% if profile.school %}From {{ profile.school }}<br>{% endif %}
          Register: {{ profile.create_time | date('Y-m-d H:i:s') }}
          </p>
          {% if profile.motto %}<p><strong>{{ profile.motto }}</strong></p>{% endif %}
          <p><a href="{{ url('status') }}?author={{ profile.username }}">See all submissions</a></p>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Go to</h3>
          </div>
          <div class="panel-body">
            <form action="{{ url('blog:goto') }}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="Username please">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-sm-pull-4 bd-content">
        {% if is_author %}<p><a href="{{ url('blog:create') }}">Create a new blog</a></p>{% endif %}
        {% if blog_list %}
          {% for blog in blog_list %}
          <div class="content-section">
            <h3><a href="{{ url('blog:detail', blog.pk) }}">{{ blog.title }}</a></h3>
            <div class="bs-callout">
              {{ blog.text | markdown | get_intro | safe }}
            </div>
            <div class="text-right">{{ clickable_nickname(blog.author) }} last edited at {{ blog.edit_time | date('Y-m-d H:i:s') }}</div>
          </div>
          {% endfor %}
          {{ my_paginator() }}
        {% else %}
          <p>This guy is too lazy to write a blog.</p>
        {% endif %}
      </div>
    </div>
  </div>



{% endblock %}