{# has a weird name; it means personal profile... #}

{% extends 'base.jinja2' %}
{% from 'components/profile_card.jinja2' import profile_card with context %}
{% from 'components/blog_preview.jinja2' import blog_preview %}

{% block css %}
  <link rel="stylesheet" href="/static/node_modules/cal-heatmap/cal-heatmap.css" />
{% endblock %}
{% block title %}Profile - {% endblock %}

{% block page_header %}{{ profile.get_username_display() }}{% endblock %}

{% block content %}

  <div class="ui grid">

    <div class="eleven wide column">

      {% if is_author %}<a class="ui button" href="{{ url('blog:create') }}">Create a new blog</a>{% endif %}
      <div class="ui feed">
        {% if blog_list %}
          {% for blog in blog_list %}
            {{ blog_preview(blog) }}
          {% endfor %}
          {{ my_paginator() }}
        {% endif %}
      </div>
    </div>

    <div class="five wide column">
      {{ profile_card(profile, solved) }}
      <form class="ui form" action="{{ url('blog:goto') }}" method="post">
        {% csrf_token %}
        <div class="ui action fluid input">
          <input type="text" name="name" placeholder="Username here...">
          <button type="submit" class="ui button">Go to</button>
        </div>
      </form>
    </div>


  </div>

{% endblock %}

{% block script %}
  <script src="/static/node_modules/d3/d3.min.js"></script>
  <script src="/static/node_modules/cal-heatmap/cal-heatmap.min.js"></script>
  <script>
    var cal = new CalHeatMap();
    var date = new Date();
    cal.init({
      itemSelector: "#cal-heatmap",
      itemName: ["submission", "submissions"],
      start: new Date(date.setFullYear(date.getFullYear() - 1)).setMonth(date.getMonth() + 1),
      domain: "month",
      subDomain: "day",
      data: "/api/submission/user/{{ profile.username }}",
      dataType: "json",
      domainMargin: 5,
      legend: [1, 2, 3, 4]
    });
  </script>
{% endblock %}