{% extends 'base.jinja2' %}
{% block content %}


  <div class="masthead" style="background-image: url({{ bg }});">
    <div class="masthead-container">
      <h1>ECNU Online Judge</h1>
      <span>It is more than coding.</span>
    </div>
  </div>

    <div class="container">
      <h1>Features</h1>
      <div class="content-section">
        <h2>Problems</h2>
        <p class="lead">for all to explore.</p>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <h4>OI Rules</h4>
            <p>Interesting AI Problems! Basically, you can submit your program and compete with others.
              OI Problems are graded according to test cases. It is even possible to gain some score when your
              algorithm is not completely correct.</p>
          </div>
          <div class="col-sm-6 mb-3">
            <h4>ACM Rules</h4>
            <p>Many traditional problems, based on standard input and output, using the
              rule of ACM-ICPC contest. You can practice your programming skills here. The verdict will only be
              Yes or No. Note that this is also widely used in college examinations.</p>
          </div>
        </div>
        <p class="lead">
          <a role="button" class="btn btn-default" href="{{ url('problem_list') }}">Explore problems</a>
        </p>
      </div>
      <hr>
      <div class="content-section">
        <h2>Contests</h2>
        <p>TODO</p>
      </div>
    </div>

    <script>
      setTimeout(function() {
        $(".masthead-container").css('background', 'rgba(0, 0, 0, 0.5)');
      }, 1000);
    </script>

{% endblock %}
