{% extends 'base.jinja2' %}
{#{% block broadcast_content %}#}
{#  {% if broadcast_message %}#}
{#    <a href="{{ broadcast_link }}" target="_blank" class="v4-tease">{{ broadcast_message }}</a>#}
{#  {% endif %}#}
{#{% endblock %}#}

{% block content %}

  <section class="section-hero">
    <section id="overview" class="grid-container container text-center">
      <div class="overview-title">
        <h1>ECNU Online Judge</h1>
        <h4><span class="typed-element"></span></h4>
      </div>
      <a class="button large" href="{% if not user.is_authenticated %}{{ url('login') }}?next={{ request.path }}{% else %}{{ url('problem:list') }}{% endif %}">Get Started</a>
    </section>
  </section>

{% endblock %}


{% block script %}
  <script src="/static/node_modules/typed.js/lib/typed.min.js"></script>
  <script src="/static/js/type.js"></script>
{% endblock %}