{% extends 'base.html' %}
{% block content %}


  <div class="bd-masthead">
    <div class="container">
      <span class="bd-booticon">AI</span>
      <h1>What is AI Playground?</h1>
      <p class="lead mb-2">AI Playground is a platform where you can submit your program and compete with others.<br/>
                          You will have fun mindstorming, coding and sharing ideas.</p>
      <a class="btn btn-outline btn-lg" href="#">Get started</a>
    </div>
  </div>

  <div class="bd-featurette">
    <div class="container">
      <h2 class="bd-featurette-title">Problems</h2>
      <p class="lead">Problems for all to explore.</p>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <h4>AI Problems</h4>
          <p>Interesting AI Problems! Basically, you can submit your program and compete with others.
            Competitions between AI and AI can be really fierce.
            And there will be a rating calculated after each round.</p>
        </div>
        <div class="col-sm-6 mb-3">
          <h4>Traditional Problems</h4>
          <p>There are also many traditional problems, based on standard input and output, using the
            rule of ACM-ICPC contest. You can practice your programming skills here. What is special, however,
            is that you can also add your own problem here.</p>
        </div>
      </div>
      <p class="lead">
        <button class="btn btn-bs btn-outline">Explore problems</button>
      </p>
    </div>
  </div>

  <div class="bd-featurette">
    <div class="container">
      <h2 class="bd-featurette-title">Community</h2>
      <p class="lead">Problems for all to explore.</p>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <h4>AI Problems</h4>
          <p>Interesting AI Problems! Basically, you can submit your program and compete with others.
            Competitions between AI and AI can be really fierce.
            And there will be a rating calculated after each round.</p>
        </div>
        <div class="col-sm-6 mb-3">
          <h4>Traditional Problems</h4>
          <p>There are also many traditional problems, based on standard input and output, using the
            rule of ACM-ICPC contest. You can practice your programming skills here. What is special, however,
            is that you can also add your own problem here.</p>
        </div>
      </div>
      <p class="lead">
        <button class="btn btn-bs btn-outline">Explore problems</button>
      </p>
    </div>
  </div>

{% endblock %}
