{% extends 'base.jinja2' %}

{% block page_header %}Log-in to your account{% endblock %}

{% block content %}

  {% include 'components/form.jinja2' %}
  <p><a href="{{ url('account:reset_password') }}">Forget your password?</a><br>
    <a href="{{ url('register') }}">Do not have an account?</a></p>

{% endblock %}

{% block script %}
  <script src="/static/js/captcha.js"></script>
{% endblock %}