{% extends 'base.jinja2' %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Sign in now</h1>
    </div>
  </div>

  <div class="container">
    {% include 'components/form.jinja2' %}
  </div>

{% endblock %}
