{% extends 'base.html' %}
{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Problem #1001</h1>
    </div>
  </div>

  <div class="container">
    <div class="problem-header">
      <h2>A+B Problem</h2>
      <div class="property">
        <p><strong>Time limit per test: </strong>2.5 seconds</p>
        <p><strong>Time limit all tests: </strong>15 seconds</p>
        <p><strong>Memory limit: </strong>128 megabytes</p>
        <p><strong>Accepted / Submit: </strong>330 / <a href="#">998</a></p>
      </div>
    </div>

{#    <div>{{ problem.description_html }}</div>#}
  <div class="problem-body">
    <p><code>hel$$lo</code>   <script type="math/tex">e^x</script>\n</p>
    <p>Each New Year Timofey and his friends cut down a tree of <span class="tex-span"><i>n</i></span> vertices and bring it home. After that they paint all the <span class="tex-span"><i>n</i></span> its vertices, so that the <span class="tex-span"><i>i</i></span>-th vertex gets color <span class="tex-span"><i>c</i><sub class="lower-index"><i>i</i></sub></span>.</p>
    <p>Now it's time for Timofey birthday, and his mother asked him to remove the tree. Timofey removes the tree in the following way: he takes some vertex in hands, while all the other vertices move down so that the tree becomes rooted at the chosen vertex. After that Timofey brings the tree to a trash can.</p>
    <p>Timofey doesn't like it when many colors are mixing together. A subtree annoys him if there are vertices of different color in it. Timofey wants to find a vertex which he should take in hands so that there are no subtrees that annoy him. He doesn't consider the whole tree as a subtree since he can't see the color of the root vertex.</p>
    <p>A subtree of some vertex is a subgraph containing that vertex and all its descendants.</p>
    <p>Your task is to determine if there is a vertex, taking which in hands Timofey wouldn't be annoyed.</p>
    <h3>Input</h3>
    <p>The first line contains single integer <span class="tex-span"><i>n</i></span> (<span class="tex-span">2 ≤ <i>n</i> ≤ 10<sup class="upper-index">5</sup></span>)&nbsp;— the number of vertices in the tree.</p>
    <p>Each of the next <span class="tex-span"><i>n</i> - 1</span> lines contains two integers <span class="tex-span"><i>u</i></span> and <span class="tex-span"><i>v</i></span> (<span class="tex-span">1 ≤ <i>u</i>, <i>v</i> ≤ <i>n</i></span>, <span class="tex-span"><i>u</i> ≠ <i>v</i></span>), denoting there is an edge between vertices <span class="tex-span"><i>u</i></span> and <span class="tex-span"><i>v</i></span>. It is guaranteed that the given graph is a tree.</p>
    <p>The next line contains <span class="tex-span"><i>n</i></span> integers <span class="tex-span"><i>c</i><sub class="lower-index">1</sub>, <i>c</i><sub class="lower-index">2</sub>, ..., <i>c</i><sub class="lower-index"><i>n</i></sub></span> (<span class="tex-span">1 ≤ <i>c</i><sub class="lower-index"><i>i</i></sub> ≤ 10<sup class="upper-index">5</sup></span>), denoting the colors of the vertices.</p>
  </div>

  <form class="form" action="#" method="POST">
    {% csrf_token %}
    <input type="hidden" name="problem_id" value="{{ problem.id }}">
    <input type="hidden" name="user_id" value="{{ request.user.username }}">
    <div class="form-group form-inline float-xs-right">
      <label for="languageSelect">Language</label>
      <select class="form-control" name="languageSelect">
        <option value="c">C++</option>
        <option value="j">Java</option>
        <option value="p">Python</option>
      </select>
    </div>
    <div class="form-group">
      <textarea rows="18" name="code" class="form-control" style="resize:none; font-family: monospace;"></textarea>
    </div>
    <div class="container mx-0 px-0 mb-3">
      <div class="col-md-6 form-group">
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Submit My Code</button>
      </div>
      <div class="col-md-6 form-group">
        <button class="btn btn-lg btn-outline-warning btn-block" type="submit">I Want To Challenge</button>
      </div>
    </div>
  </form>
  </div>

{% endblock %}

{% block script %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js"]
    });
  </script>
  <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js"></script>

{% endblock %}