{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Problem #{{ problem.pk }}</h1>
    </div>
  </div>

  <div class="container">
    <div class="problem-header">
      <h2>{{ problem.title }}</h2>
      <div class="property">
        <p><strong>Time limit per test: </strong>{% widthratio problem.time_limit 1000 1 %} seconds</p>
        <p><strong>Time limit all tests: </strong>{% widthratio problem.sum_time_limit 1000 1 %} seconds</p>
        <p><strong>Memory limit: </strong>{{ problem.memory_limit }} megabytes</p>
        <p><strong>Accept / Submit: </strong><a href="#">{{ problem.total_accepted_number }} / {{ problem.total_submit_number }}</a></p>
      </div>
    </div>

{#    <div>{{ problem.description_html }}</div>#}
  <div class="problem-body">
    {{ body | safe }}
  </div>

  <form class="form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="form-group form-inline float-xs-right">
      {{ form.lang.label_tag }}
      {% render_field form.lang class+="mx-2 form-control" %}
    </div>
    <div class="form-group">
      {% render_field form.code class+="form-control" rows="18" style="font-family: monospace;" %}
    </div>
    <button class="btn btn-lg btn-outline-primary" type="submit">Submit my code</button>

  </form>
  </div>

{% endblock %}

{% block script %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js"]
    });
  </script>
  <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js"></script>

{% endblock %}