{% extends 'base.jinja2' %}
{% from 'components/problem.jinja2' import problem_view with context %}

{% block title %}Problem #{{ problem.pk }} - {% endblock %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Problem #{{ problem.pk }}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-sm-push-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Statistics</h3></div>
          <div class="panel-body">
            <p><strong>Accepted: </strong>{{ problem.total_accept_number }}<br>
              <strong>Submissions: </strong>{{ problem.total_submit_number }}</p>
            <p><a href="{{ url('status') }}?problem={{ problem.pk }}">Go to status</a></p>
          </div>
        </div>
        {% if request.user.is_authenticated %}
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Recent attempts</h3></div>
            {% if submissions %}
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>When</th>
                  <th>Verdict</th>
                </tr>
                </thead>
                <tbody>
                {% for sub in submissions %}
                  <tr>
                    <td scope="row"><a href="{{ url('submission', sub.pk) }}" target="_blank">{{ sub.pk }}</a></td>
                    <td scope="row">{{ sub.create_time | date('Y-m-d H:i:s') }}</td>
                    <td class="verdict-{{ sub.get_verdict_color() }}">{{ sub.get_status_display() }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="panel-body">
                It is empty yet.
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Discussion</h3></div>
          <div class="panel-body">
            <a href="{{ url('blog:discuss', problem.pk) }}">Go to discussion</a>
          </div>
        </div>
        {% if tags %}
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Tags</h3></div>
            <div class="panel-body">
              {% for tag in tags %}
                <span class="badge" style="margin-right:2px;">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

      <div class="col-12 col-sm-8 col-sm-pull-4 bd-content">
        {{ problem_view(problem.title, problem.total_accept_number, problem.total_submit_number, False) }}

        {% if user.is_authenticated() %}
          <hr style="margin-bottom: 2em;">
          <h3>Submit your code</h3>
          {% include 'components/message.jinja2' %}
          <form class="form" action="{{ request.path }}" method="post" onsubmit="setVal()">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label">{{ form.lang.label }}</label>
              {{ render_field(form.lang, {'class': 'form-control'}) }}
            </div>
            <div class="form-group {% if form.code.errors %}has-error{% endif %}">
              <label class="control-label">{{ form.code.label }}</label>
              <input type="hidden" name="code" id="id_code" value="{{ form.code.value() or "" }}">
              <div id="editor" style="height: 400px; position: relative"></div>
              {% for error in form.code.errors %}
                <span id="help-block" class="help-block">{{ error | escape }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        {% endif %}

      </div>
    </div>
  </div>

  {% include 'components/math_support.jinja2' %}

{% endblock %}

{% block script %}
  <script src="/static/node_modules/ace-builds/src-noconflict/ace.js"></script>
  <script src="/static/js/editor.js"></script>
{% endblock %}