{% extends 'base.jinja2' %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Problems</h1>
    </div>
  </div>

  <div class="container">
    <form class="form-inline" role="search">
      <div class="form-group">
        <input type="text" class="form-control" value="{% if keyword %}{{ keyword }}{% endif %}" name="keyword" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 4em;">#</th>
            <th>Name</th>
            <th style="width: 7em" class="text-center">Solved</th>
          </tr>
        </thead>
        <tbody>
          {% for problem in problem_list %}
            <tr>
              <th scope="row">{{ problem.pk }}</th>
              <td><span style="float:left; padding-left:2px;"><a href="{{ url('problem', problem.pk) }}">{{ problem.title }}</a></span>
                <div class="pull-right">{% for tag in problem.tags %}<a href="?{{ url_replace(request, 'tag', tag) }}" class="badge" style="margin-right:2px;">{{ tag }}</a>{% endfor %}</div>
{#                  {# <span class="text-muted" style="float:right; padding-right:2px;"><small>{{ problem.source }}</small></span>#}</td>
              <td>{{ problem.total_accept_number }} / {{ problem.total_submit_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {{ my_paginator() }}

  </div>


{% endblock %}
