{% extends 'base.jinja2' %}

{% block page_header %}注册{% endblock %}

{% block content %}

  <div class="container">
    {% include 'components/form.jinja2' %}
  </div>
  <p><a href="{{ url('login') }}">已有账户？</a></p>

{% endblock %}

{% block script %}
{% include 'components/rsa_encrypt.jinja2' %}
{% endblock %}
