{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Create an account</h1>
    </div>
  </div>

  <div class="container">
    <form action="{% url "register" %}" method="post">
      {% csrf_token %}
      {% for field in form %}

        {% if not field.errors %}
          <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class+="form-control" placeholder=field.help_text %}
          </div>
        {% else %}
          <div class="form-group has-warning">
            {{ field.label_tag }}
            {% render_field field class+="form-control form-control-warning" placeholder=field.help_text %}
            {% for error in field.errors %}
              <div class="form-control-feedback">{{ error | escape}}</div>
            {% endfor %}
          </div>
        {% endif %}

      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}
