{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Create an account</h1>
    </div>
  </div>

  <div class="container">
    <form action="{% url "register" %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class+="form-control" placeholder=field.help_text %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}
