{% extends 'base.jinja2' %}

{% block title %}Search - {% endblock %}

{% block page_header %}Cows, Pandas, Sheep, Rabbits...{% endblock %}

{% block content %}

  <form class="ui form">
    <div class="ui icon input">
      <input type="text" name="q" value="{{ q }}" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <input type="submit" style="display: none;">
  </form>

  {% if query_time %}
    <h5 class="ui header">
      <div class="sub header">Query {{ search_list | length }} records in {{ query_time }} seconds.</div>
    </h5>

  {% endif %}

  <div class="ui big feed">
  {% for ret in search_list %}
    <div class="event">
    {% if ret.__class__.__name__ == 'Problem' %}
      <div class="label">
        <i class="puzzle icon"></i>
      </div>
      <div class="content">
        <a href="{{ url('problem:detail', ret.pk) }}" class="summary">
          Problem #{{ ret.pk }}: {{ ret.title }}
        </a>
        <div class="extra text">
          {% cache 3600 'problem_preview#' + ret.pk.__str__() + '#' + ret.update_time.__str__() %}
            {{ ret.description | markdown | get_intro }}
          {% endcache %}
        </div>
        {% if ret.source %}
          <a class="meta" href="{{ url('problem:list') }}?source={{ ret.source }}">
            Source: {{ ret.source }}
          </a>
        {% endif %}
      </div>
    {% elif ret.__class__.__name__ == 'User' %}
      <div class="label">
        <a href="{{ url('generic', ret.pk) }}"><img src="{{ ret.avatar_small.url }}"></a>
      </div>
      <div class="content">
        <div class="summary">
          {{ username_display(ret) }}
        </div>
        <div class="meta">
          Last login: {{ ret.last_login | naturaltime }}
        </div>
      </div>
    {% elif ret.__class__.__name__ == 'Contest' %}
      <div class="label">
        <i class="flag checkered icon"></i>
      </div>
      <div class="content">
        <a href="{{ url('contest:dashboard', ret.pk) }}" class="summary">
          Contest/Gym: {{ ret.title }}
        </a>
        {% if not ret.always_running %}
          <div class="extra text">
            Start: {{ ret.start_time | naturaltime }}
          </div>
        {% endif %}
      </div>
    {% elif ret.__class__.__name__ == 'Blog' %}
      <div class="label">
        <i class="edit icon"></i>
      </div>
      <div class="content">
        <a class="summary">
          Blog: <a href="{{ url('blog:detail', ret.pk) }}">{{ ret.title }}</a> by {{ username_display(ret.author) }}
        </a>
        <div class="extra text">
          {% cache 3600 'blog_preview#' + ret.pk.__str__() + '#' + ret.edit_time.__str__() %}
            {{ ret.text | markdown | get_intro }}
          {% endcache %}
        </div>
        <div class="meta">
          Edited {{ ret.edit_time | naturaltime }}
        </div>
      </div>
    {% endif %}
    </div>
  {% endfor %}
  </div>

{% endblock %}
