{% extends 'base.jinja2' %}

{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Online Status</h1>
    </div>
  </div>

  <div class="container scrollable">

    <form class="form-inline mb-3" action="{{ request.path }}" method="get">
      {% csrf_token %}
      <input type="text" class="form-control mb-2 mr-4" id="keyword" name="keyword" placeholder="Keyword">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th width="9%">#</th>
          <th width="14%">Who</th>
          <th width="27%">Problem</th>
          <th width="25%">When</th>
          <th width="25%">Verdict</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submission_list %}
          <tr>
            <td scope="row"><a href="{{ url('submission', submission.pk) }}">{{ submission.pk }}</a></td>
            <td>{{ submission.author.username }}</td>
            <td>{{ submission.problem }}</td>
            <td>{{ submission.create_time | date('Y-m-d H:i') }}</td>
            <td class="text-{{ submission.get_verdict_color() }}">{{ submission.get_status_display() }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ my_paginator() }}
  </div>

{% endblock %}
