{% extends 'base.jinja2' %}


{% block css %}
<link href="{{ static('css/highlight.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Submission #{{ submission.pk }}</h1>
    </div>
  </div>



  <div class="container">
    <div class="alert alert-{{ submission.get_verdict_color() }} mb-4" role="alert">
      <span class="verdict-lg">{{ submission.get_status_display() }}</span>
    </div>
    <div class="property">
      <p><strong>Verdict: </strong>{{ submission.get_status_display() }}</p>
      <p><strong>Language: </strong>{{ submission.get_lang_display() }}</p>
      <p><strong>Problem: </strong>{{ submission.problem }}</p>
      <p><strong>Author: </strong>{{ submission.author.username }}</p>
      <p><strong>Created: </strong>{{ submission.create_time }}</p>
      {% if submission.is_judged %}
        <p><strong>Judged: </strong>{{ submission.judge_end_time }}</p>
        <p><strong>Code length: </strong>{{ submission.code_length }}B</p>
        <p><strong>Time: </strong>{{ submission.get_time_display() }}</p>
        <p><strong>Memory: </strong>{{ submission.get_memory_display() }}</p>
      {% endif %}
    </div>
    <div class="code-block">
      <pre><code>{{ code | safe }}</code></pre>
    </div>
    {% if detail %}
      <h3>Detail</h3>
      {% for message in detail %}
        <div class="card card-outline-{{ message.color }} mb-2">
          <div class="card-block detail">
            <p><strong>Case #{{ message.count }}:</strong> time: {{ message.time }}ms, memory: {{ message.memory }}KB,
              verdict: <strong>{{ message.verdict | status_choice }}</strong></p>
          </div>
        </div>
      {% endfor %}
    {% endif %}

  </div>

{% endblock %}
