{% extends 'base.jinja2' %}
{% from 'components/nickname.jinja2' import clickable_nickname with context %}

{% block title %}Submission #{{ submission.id }} - {% endblock %}

{% block page_header %}Submission #{{ submission.id }}{% endblock %}

{% block content %}

  {{ submission_block }}

  {% if submission.author == request.user %}
    {% if contest %}
      <div id="past-submissions" data-url="{{ url('contest:past_submission', contest.id) }}"></div>
    {% else %}
      <div id="past-submissions" data-url="{{ url('problem:past_submission', problem.id) }}"></div>
    {% endif %}
  {% endif %}
  
{% endblock %}

{% block script %}
  <script src="/static/js/submit.js"></script>
{% endblock %}