{% extends 'base.jinja2' %}


{% block content %}

  <div class="bd-pageheader">
    <div class="container">
      <h1>Submission #{{ submission.pk }}</h1>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-{{ submission.get_verdict_color() }}" role="alert">
      <span class="verdict-lg">{{ submission.get_status_display() }}</span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Who</th>
            <th>Problem</th>
            <th>Lang</th>
            <th>Verdict</th>
            <th>Sent</th>
            {% if submission.is_judged() %}
            <th>Judged</th>
            <th>Time</th>
            <th>Memory</th>
            {% endif %}
            {% if rejudge_available %}
            <th>Rejudge</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ submission.pk }}</td>
            <td>{{ submission.author }}</td>
            <td><a href="{{ url('problem', submission.problem_id) }}">{{ submission.problem }}</a></td>
            <td>{{ submission.get_lang_display() }}</td>
            <td>{{ submission.get_status_display() }}</td>
            <td>{{ submission.create_time | date('Y-m-d H:i:s') }}</td>
            {% if submission.is_judged() %}
            <td>{{ submission.judge_end_time | date('Y-m-d H:i:s') }}</td>
            <td>{{ submission.get_time_display() }}</td>
            <td>{{ submission.get_memory_display() }}</td>
            {% endif %}
            {% if rejudge_available %}
            <td><a role="button" class="btn btn-default" href="{{ url('rejudge', submission.pk) }}">Rejudge</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="code-block">
      {{ code | safe }}
    </div>
    {% if is_judged %}
      {% if detail %}
        {% for message in detail %}
          <div class="panel panel-{{ message.color }}">
            <div class="panel-heading">
              <h3 class="panel-title">Case #{{ message.count }}</h3>
            </div>
            <div class="panel-body">
              time: {{ message.time }}ms, memory: {{ message.memory }}KB, verdict: <strong>{{ message.verdict | status_choice }}</strong>
            </div>
          </div>
        {% endfor %}
      {% elif detail_ce %}
        <h3>Compile Error Message</h3>
        <div class="code-block">
          {{ detail_ce }}
        </div>
      {% endif %}
    {% endif %}

  </div>

{% endblock %}
