{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}

  {% include 'components/message.jinja2' %}

  <table id="case-list-table" class="ui celled small very compact table center aligned">
    <thead class="full-width">
      {% set col_width = 7 %}
      {% if revision.enable_group %}
      {% set col_width = col_width + 1 %}
      {% endif %}
      {% if not revision_readonly %}
      {% set col_width = col_width + 3 %}
      <tr class="ui sticky">
        <th colspan="{{ col_width }}">
          <div class="ui right floated buttons">
            <a href="{{ url('polygon:revision_case_create', problem.id, revision.id) }}" class="ui right floated primary labeled icon button">
              <i class="add icon"></i> 增加测试数据
            </a>
            <div class="ui icon top right pointing dropdown button">
              <i class="wrench icon"></i>
              <div class="menu">
                <a class="item post prompt" data-link="{{ url('polygon:revision_case_order_natural', problem.id, revision.id) }}">重新标号</a>
                {% if revision.enable_group %}
                <a class="item post prompt" data-link="{{ url('polygon:revision_case_order_natural', problem.id, revision.id) }}?group=1">重新标分组编号</a>
                {% endif %}
                <a class="item post prompt gather" data-link="{{ url('polygon:revision_case_delete', problem.id, revision.id) }}">删除选定的</a>
                <a class="item post ask gather" data-link="{{ url('polygon:revision_case_order_move', problem.id, revision.id) }}" data-question="移动到编号为几的后面 (输入 0 移动到最前面):">移动选定的</a>
                <a class="item post prompt gather" data-link="{{ url('polygon:revision_case_toggle_sample', problem.id, revision.id) }}">修改是否为样例</a>
                <a class="item post ask gather" data-link="{{ url('polygon:revision_case_group_assign', problem.id, revision.id) }}" data-question="分配分组，从 1 开始标号">分配分组</a>
              </div>
            </div>
          </div>
        </th>
      </tr>
      {% endif %}
      <tr>
        <th class="collapsing"><div class="ui fitted checkbox"><input type="checkbox" name="all"></div></th>
        <th class="collpasing">#</th>
        <th>输入</th>
        <th>输出</th>
        <th>说明</th>
        {% if revision.enable_group %}
        <th>分组</th>
        {% endif %}
        <th class="collapsing">创建</th>
        <th class="collapsing">更新</th>
        {% if not revision_readonly %}
        <th class="collapsing" colspan="2">编辑</th>
        <th class="collapsing">删除</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for case in case_list %}
        <tr>
          <td><div class="ui fitted checkbox slice"><input type="checkbox" name="{{ case.pk }}"></div></td>
          <td>{{ case.case_number }}</td>
{#          <td>{{ case.pk }}</td>#}
          <td class="left aligned selectable"><a href="{{ url('polygon:revision_case_preview', problem.id, revision.id, case.id) }}?t=input"><pre style="margin:0">{{ case.input_preview }}</pre></a></td>
          <td class="left aligned selectable"><a href="{{ url('polygon:revision_case_preview', problem.id, revision.id, case.id) }}?t=output"><pre style="margin:0">{{ case.output_preview }}</pre></a></td>
          <td class="left aligned">{% for comment in case.comments %}{{ comment }}{% if not loop.last %}<br>{% endif %}{% endfor %}</td>
          {% if revision.enable_group %}
          <td>{{ case.group }}</td>
          {% endif %}
          <td>{{ case.create_time | date('H:i M.d') }}</td>
          <td>{{ case.update_time | date('H:i M.d') }}</td>
        {% if not revision_readonly %}
          <td><a href="{{ url('polygon:revision_case_update_file', problem.id, revision.id, case.id) }}">数据</a></td>
          <td><a href="{{ url('polygon:revision_case_update_info', problem.id, revision.id, case.id) }}">设置</a></td>
          <td><a class="post prompt" data-link="{{ url('polygon:revision_case_delete', problem.id, revision.id, case.id) }}">删除</a></td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block local_script %}
  <script>
  $('.ui.sticky')
    .sticky({
      context: '#case-list-table',
      onStick: function () {
        $(this).find("th").width($(this).width());
      }
    })
  ;
  </script>
{% endblock %}
