{% macro render_comments(comments, flag) %}
  {% for item in comments %}
    {% if (not item.comment.is_removed or item.children) %}
      <div class="comment">
        <a class="avatar" href="{{ url('profile', item.comment.user.pk) }}">
         <img src="{{ item.comment.user.avatar_small.url }}">
        </a>
        <div class="content">
          {{ username_display(item.comment.user, additional_class="author") }}
          <div class="metadata">
            <span class="date">{{ item.comment.submit_date | naturaltime }}</span>
          </div>
          <div class="text">
            {% if item.comment.is_removed %}
              [已删除]
            {% else %}
              {{ item.comment.comment | markdown | safer | safe }}
            {% endif %}
          </div>
          {% if not item.comment.is_removed %}
            <div class="actions">
              {% if item.comment.level < 5 %}
                <a class="reply" data-pk="{{ item.comment.pk }}">回复</a>
              {% endif %}
              {% if allow_feedback %}
                <a class="like-link" data-link="{{ url('comments-xtd-api-feedback') }}" data-comment="{{ item.comment.pk }}" data-flag="like">
                  <i class="thumbs {% if item.likes_flag != 1 %}outline{% endif %} up icon"></i>
                  <span>{{ item.likes_count }}</span>
                </a>
                <a class="like-link" data-link="{{ url('comments-xtd-api-feedback') }}" data-comment="{{ item.comment.pk }}" data-flag="dislike">
                  <i class="thumbs {% if item.likes_flag != -1 %}outline{% endif %} down icon"></i>
                  <span>{{ item.dislikes_count}}</span>
                </a>
              {% endif %}
              {% if allow_flagging and (user == item.comment.user or user is admin) %}
                <a class="like-link" data-link="{{ url('comments-xtd-api-flag') }}" data-comment="{{ item.comment.pk }}" data-flag="report">
                  <i class="trash outline icon"></i>
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% if item.children %}
          <div class="comments">
            {{ render_comments(item.children, True) }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

<div class="ui comments">
  {{ render_comments(comments, False) }}
</div>
