<span class="reply-to clear-reply-to" data-tooltip="Click to reply to the post">
    {{ _('You are replying to') }}<b class="reply-to-name">{{ _('the post') }}</b>
</span>

{% include 'components/form.jinja2' %}