{% extends 'backstage/base.jinja2' %}

{% block content_header %}
  Privileges
{% endblock %}

{% block backstage_content %}

  {% include 'components/message.jinja2' %}

  <form class="form-inline" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name="keyword" value="{% if keyword %}{{ keyword }}{% endif %}" placeholder="Search">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="admin" {% if admin %}checked{% endif %}> Non-regulars only
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">Register</th>
          <th width="30%">Email</th>
          <th width="25%">Who</th>
          <th width="15%">Privilege</th>
          <th width="10%">Password</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
          <tr>
            <td scope="row"> {{ user.create_time | date('Y-m-d H:i:s') }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{% if user.privilege == 'root' %}<span class="text-warning">{{ user.get_privilege_display() }}</span>
            {% else %}
              <a href="javascript:void(0);" class="privilege-link" data-link="{{ url('backstage:account_privilege_switch', user.pk) }}">
              {{ user.get_privilege_display() }}</a>
            {% endif %}</td>
            <td><a data-toggle="modal" data-url="{{ url('backstage:account_password_change', user.pk) }}" href="#changePassword" class="text-danger">Reset</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {{ my_paginator() }}

  <div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
       aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="changePasswordLabel">Reset password</h4>
        </div>
        <form class="form-horizontal" style="margin-bottom:0" id="changePasswordForm" action="" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input class="form-control" id="password" name="password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary modal-submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $('#changePassword').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var url = button.data('url');
      $(this).find('#changePasswordForm').attr('action', url);
      console.log($(this).find('#changePasswordForm').attr('action'));
    });
    $(".privilege-link").on('click', function(e) {
      var link = $(e.target).data('link');
      $.get(link, {}, function (data) {
          location.reload();
        }
      );
    });
  </script>

{% endblock %}
