{% from 'components/nickname.jinja2' import clickable_nickname with context %}

{% macro blog_preview(blog) %}
  {# overflow hidden (temporary) #}
  <div class="event" style="overflow-x: hidden;">
    <div class="label">
      <a href="{{ url('generic', blog.author.username) }}"><img src="{{ blog.author.avatar_small.url }}"></a>
    </div>
    <div class="content">
      <div class="summary">
        {{ clickable_nickname(blog.author, tiny=True) }} posted {{ blog.title }}
        <div class="date">
          {{ blog.edit_time | naturaltime }}
        </div>
        <p></p>
      </div>
      <div class="extra text">
        {{ blog.text | markdown | get_intro }} <a href="{{ url('blog:detail', blog.pk) }}">...more</a>
      </div>
    </div>
  </div>
{% endmacro %}