<div class="ui tiny basic modal" id="delete-confirmation">
  <div class="ui icon header">
    <i class="trash icon"></i>
    删除确认
  </div>
  <div class="content">
    <p>是否确定删除？该操作可能无法撤销。</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>