<div class="ui tiny basic modal" id="delete-confirmation">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Delete Confirmation
  </div>
  <div class="content">
    <p>Are you sure you want to delete? You may not undo this operation.</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>