<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">服务</h4>
        <div class="ui inverted link list">
          <a href="{{ url('home') }}" class="item">首页</a>
          <a href="{{ url('feedback') }}" class="item">反馈</a>
          <a href="{{ url('polygon:home') }}" class="item">Polygon</a>
          <a href="/wiki/index.php?title=Main_Page" class="item">Wiki</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">开源</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/ultmaster/eoj3" class="item">Github</a>
          <a href="https://github.com/ultmaster/ejudge" class="item">eJudge</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">关于我们</h4>
        <p>团队: <a href="https://github.com/ultmaster">@ultmaster</a>, <a href="https://github.com/zerolfx">@zerol</a>, <a href="https://github.com/kblackcn">@kblack</a>.<br>
        联系方式: <a href="mailto:acmsupport@admin.ecnu.edu.cn">acmsupport@admin.ecnu.edu.cn</a></p>
      </div>
    </div>
  </div>
</div>
