<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="{{ url('home') }}" class="item">Homepage</a>
          <a href="{{ url('faq') }}" class="item">F. A. Q.</a>
          <a href="{{ url('feedback') }}" class="item">Feedback</a>
          <a href="{{ url('polygon:home') }}" class="item">Polygon</a>
          <a href="/wiki/" class="item">Wiki</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Open Source</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/ultmaster/eoj3" class="item">Github Repo</a>
          <a href="https://github.com/ultmaster/ejudge" class="item">eJudge</a>
          <a href="https://ultmaster.github.io/eoj3/" class="item">EOJ Docs</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Credits</h4>
        <p>Created by <a href="https://github.com/ultmaster">@ultmaster</a> and <a href="https://github.com/zerolfx">@zerolfx</a>.<br>
        Contact us via <a href="mailto:acmsupport@admin.ecnu.edu.cn">acmsupport@admin.ecnu.edu.cn</a></p>
      </div>
    </div>
  </div>
</div>