{% include 'components/message.jinja2' %}

<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}">
  {% for field in form %}
    {% if not field.errors %}
      {% if field.label in ['Visible', 'Public'] %}  {# TODO hard code #}
        <div class="form-check mb-3">
          <label class="form-check-label">
            {{ render_field(field, {'class': 'form-check-input', 'placeholder': field.help_text}) }}
            {{ field.label }}
          </label>
        </div>
      {% else %}
        <div class="form-group">
          {{ field.label_tag() }}
          {{ render_field(field, {'class': 'form-control', 'placeholder': field.help_text}) }}
        </div>
      {% endif %}
    {% else %}
      <div class="form-group has-warning">
        {{ field.label_tag() }}
      {{ render_field(field, {'class': 'form-control form-control-warning', 'placeholder': field.help_text}) }}
        {% for error in field.errors %}
          <div class="form-control-feedback">{{ error | escape }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  {% for error in form.non_field_errors() %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save</button>
</form>