{% include 'components/message.jinja2' %}

<form action="{{ request.get_full_path() }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    {% if not field.errors %}
      {% if field.field.widget.__class__.__name__ == 'CheckboxInput' %}
        <div class="form-group">
          <div class="checkbox">
            <label>
              {{ render_field(field, {'placeholder': field.help_text}) }} {{ field.label }}
            </label>
          </div>
        </div>
      {% elif field.field.widget.__class__.__name__ == 'ClearableFileInput' %}
        <div class="form-group">
          {{ field.label_tag() }}
        <input type="file" id="{{ field.id_for_label }}" name="avatar">
        </div>
      {% else %}
        <div class="form-group">
          {{ field.label_tag() }}
          {{ render_field(field, {'class': 'form-control', 'placeholder': field.help_text}) }}
        </div>
      {% endif %}
    {% else %}
      <div class="form-group has-warning">
        {{ field.label_tag() }}
      {{ render_field(field, {'class': 'form-control form-control-warning', 'placeholder': field.help_text, 'aria-describedby': 'help-block'}) }}
        {% for error in field.errors %}
        <span id="help-block" class="help-block">{{ error | escape }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  {% for error in form.non_field_errors() %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
$('form').submit(function(){
  $(this).find('button[type=submit]').prop('disabled', true);
});
</script>