{% macro modal(title, size="tiny", action=None, id="modal", negative_button_name="Close", button_name="OK") %}
  <div class="ui basic {{ size }} modal" id="{{ id }}">
    <div class="ui header">{{ title }}</div>
    <div class="content">
      {% if action %}
        <form class="ui form" action="{{ action }}" method="POST">
          {{ caller() }}
        </form>
      {% else %}
        {{ caller() }}
      {% endif %}
    </div>
    <div class="actions">
      <div class="ui basic cancel inverted button">
        <i class="remove icon"></i>
        {{ negative_button_name }}
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        {{ button_name }}
      </div>
    </div>
  </div>
{% endmacro %}