{% macro username_dropdown() %}
  {% if user.is_authenticated %}
    <div class="ui dropdown simple item">
      <div class="text">{{ request.user.username }}</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url('profile', request.user.pk) }}">个人档案</a>
        <a class="item" href="{{ url('blog:index', request.user.pk) }}">博客</a>
        <a class="item" href="{{ url('problem:status') }}?user={{ request.user.pk }}">提交记录</a>
        <a class="item" href="{{ url('account:profile') }}">个人设置</a>
        <a class="item" href="{{ url('migrate') }}">迁移</a>
        <a class="item" href="{{ url('feedback') }}">反馈</a>
      {% if user is admin %}
        <a class="item" href="{{ url('backstage:index') }}">Backstage</a>
      {% endif %}
      {% if user.polygon_enabled %}
        <a class="item" href="{{ url('polygon:problem_list_2') }}">Polygon</a>
      {% endif %}
        <a class="item" href="{{ url('logout') }}?next={{ request.path }}">登出</a>
      </div>
    </div>
  {% else %}
    <div class="item"><a class="ui primary button" href="{{ url('login') }}?next={{ request.path }}">登入</a></div>
  {% endif %}
{% endmacro %}


<div class="ui top fixed menu" id="navbar">

  <div class="ui container" id="navbar-small">
    <div class="ui pointing dropdown link item">
      <i class="content icon"></i>
      <span class="text"><b>EOJ</b></span>
      <div class="menu">
        <a class="item" href="{{ url('home') }}">首页</a>
        <a class="item" href="{{ url('contest:list') }}">比赛</a>
        <a class="item" href="{{ url('problem:list') }}">题目集</a>
        <a class="item" href="{{ url('contest:gym') }}">作业</a>
      </div>
    </div>

    <div class="right menu">
      {{ username_dropdown() }}
    </div>
  </div>

  <div class="ui container" id="navbar-large">
    <a class="{{ active('home') }} item" href="{{ url('home') }}"><i class="home icon"></i>首页</a>
    <a class="{{ active('contest:list') }} item" href="{{ url('contest:list') }}"><i class="flag icon"></i>比赛</a>
    <a class="item {{ active('problem:*') }}" href="{{ url('problem:list') }}"><i class="book icon"></i>题目集</a>
    <a class="{{ active('contest:gym') }} item" href="{{ url('contest:gym') }}"><i class="paper plane icon"></i>作业</a>


    <div class="right menu">
      <div class="ui category search item massive-search">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="搜索...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      {{ username_dropdown() }}
    </div>
  </div>
</div>
