<div class="ui top fixed menu" id="navbar">
  <div class="ui container">
    <a class="{{ active('home') }} item" href="{{ url('home') }}">Home</a>
    <a class="item {{ active('problem:*') }}" href="{{ url('problem:list') }}">Problems</a>
    <a class="item {{ active('contest:*') }}" href="{{ url('contest:list') }}">Contests</a>
    <div class="right menu">
      <div class="ui category search item massive-search">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search animals...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      {% if user.is_authenticated %}
        <div class="ui dropdown simple item">
          <div class="text">{{ request.user.username }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="{{ url('generic', request.user.username) }}">Blog</a>
            <a class="item" href="{{ url('problem:status') }}?author={{ request.user.pk }}">Submissions</a>
            <a class="item" href="{{ url('account:profile') }}">Settings</a>
            <a class="item" href="{{ url('account:migrate') }}">Migrate</a>
            <a class="item" href="{{ url('feedback') }}">Feedback</a>
          {% if user is admin %}
            <a class="item" href="{{ url('backstage:index') }}">Backstage</a>
          {% endif %}
            <a class="item" href="{{ url('logout') }}?next={{ request.path }}">Logout</a>
          </div>
        </div>
      {% else %}
        <div class="item"><a class="ui primary button" href="{{ url('login') }}?next={{ request.path }}">Login</a></div>
      {% endif %}
    </div>
  </div>
</div>
