{% macro username_dropdown() %}
  {% if user.is_authenticated %}
    <div class="ui dropdown simple item">
      <div class="text">{{ request.user.username }}</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url('profile', request.user.pk) }}">{{ _('Profile') }}</a>
        <a class="item" href="{{ url('blog:index', request.user.pk) }}">{{ _('Blog') }}</a>
        <a class="item" href="{{ url('problem:status') }}?user={{ request.user.pk }}">{{ _('Submission') }}</a>
        <a class="item" href="{{ url('account:profile') }}">{{ _('Settings') }}</a>
        <a class="item" href="{{ url('account:payment') }}">{{ _('Payment') }}</a>
        <a class="item" href="{{ url('migrate') }}">{{ _('Migrate') }}</a>
        <a class="item" href="{{ url('feedback') }}">{{ _('Feedback') }}</a>
      {% if user is admin %}
        <a class="item" href="{{ url('backstage:index') }}">{{ _('Backstage') }}</a>
      {% endif %}
      {% if user.polygon_enabled %}
        <a class="item" href="{{ url('polygon:problem_list_2') }}">{{ _('Polygon') }}</a>
      {% endif %}
        <a class="item" href="{{ url('logout') }}?next={{ request.path }}">{{ _('Logout') }}</a>
      </div>
    </div>
  {% else %}
    <div class="item"><a class="ui primary button" href="{{ url('login') }}?next={{ request.path }}">{{ _('Login') }}</a></div>
  {% endif %}
{% endmacro %}


<div class="ui top fixed menu" id="navbar">

  <div class="ui container" id="navbar-small">
    <div class="ui pointing dropdown link item">
      <i class="content icon"></i>
      <span class="text"><b>EOJ</b></span>
      <div class="menu">
        <a class="item" href="{{ url('home') }}">{{ _('Home') }}</a>
        <a class="item" href="{{ url('contest:list') }}">{{ _('Contests') }}</a>
        <a class="item" href="{{ url('problem:list') }}">{{ _('Problems') }}</a>
        <a class="item" href="{{ url('contest:gym') }}">{{ _('Gym') }}</a>
      </div>
    </div>

    <div class="right menu">
      {{ username_dropdown() }}
    </div>
  </div>

  <div class="ui container" id="navbar-large">
    <a class="{{ active('home') }} item" href="{{ url('home') }}"><i class="home icon"></i>{{ _('Home') }}</a>
    <a class="{{ active('contest:list') }} item" href="{{ url('contest:list') }}"><i class="flag icon"></i>{{ _('Contests') }}</a>
    <a class="item {{ active('problem:*') }}" href="{{ url('problem:list') }}"><i class="book icon"></i>{{ _('Problems') }}</a>
    <a class="{{ active('contest:gym') }} item" href="{{ url('contest:gym') }}"><i class="paper plane icon"></i>{{ _('Gym') }}</a>

    <div class="right menu">
      <div class="ui category search item massive-search">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="{{ _('Search...') }}">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      {{ username_dropdown() }}
    </div>
  </div>
</div>
