{% macro clickable_nickname(user, tag_name='h5', i_am_not_header=False) %}
  <{{ tag_name }} class="{% if not i_am_not_header %}ui header{% endif %} {{ user.magic }}">
    <a style="color: inherit;" href="{{ url('generic', user.username) }}">{{ user.username }}</a>
  </{{ tag_name }}>
{% endmacro %}
