{% macro clickable_nickname(user, tag_name='h5', tiny=False, additional_class="") %}
  {% if tiny %}
    <a class="text semi-bold {{ additional_class }} {{ user.magic }}" href="{{ url('generic', user.username) }}">{{ user.username }}</a>
  {% else %}
    <a class="ui header {{ additional_class }} {{ user.magic }}" href="{{ url('generic', user.username) }}">{{ user.username }}</a>
  {% endif %}
{% endmacro %}
