{% load range %}

{% if is_paginated %}
  <nav aria-label="pagination-nav">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
      {% endif %}


      {% for page_num in page_obj.paginator.page_range %}
        {% ifequal page_num page_obj.number%}
          <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endifequal %}
      {% endfor %}


      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}