{# WARNING: this should be only cited by author or admins #}

{% if submission_list %}
  <h3 class="ui horizontal divider header">
    最近提交
  </h3>

  <table class="ui celled table striped center aligned compact">
    <thead>
      <tr>
        <th>#</th>
        <th>提交时间</th>
        <th>评测时间</th>
        <th>语言</th>
        <th>评测结果</th>
        <th>耗时</th>
        <th>内存</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in submission_list %}
        <tr>
        <td>
        {% if not submission.contest_id %}
          <a href="{{ url('problem:submission', submission.problem_id, submission.id) }}">{{ submission.id }}{% if contest %}*{% endif %}</a>
        {% else %}
          <a href="{{ url('contest:submission', submission.contest_id, submission.id) }}">{{ submission.id }}</a>
        {% endif %}

        </td>
          <td>{{ submission.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ submission.judge_end_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ submission.get_lang_display() }}</td>
          <td><h5 class="ui header status-span" {% if show_percent %}data-sp="1"{% endif %} data-score="{{ submission.status_score }}" data-status="{{ submission.status }}" data-test="{{ submission.status_test }}"></h5></td>
          <td>{{ submission.get_time_display() }}</td>
          <td>{{ submission.get_memory_display() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if view_more %}
    <a href="{{ url('contest:my', contest.pk) }}" class="ui right floated primary button">查看所有 <i class="right chevron icon"></i></a>
  {% endif %}

{% endif %}