{# WARNING: this should be only cited by author or admins #}

{% if submission_list %}
  <h3 class="ui horizontal divider header">
    PAST SUBMISSIONS
  </h3>

  <table class="ui celled table striped center aligned compact">
    <thead>
      <tr>
        <th>#</th>
        <th>Sent</th>
        <th>Judged</th>
        {% if contest %}
          <th>Problem</th>
        {% endif %}
        <th>Lang</th>
        <th>Verdict</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in submission_list %}
        <tr>
        {% if not contest %}
          <td><a href="{{ url('problem:submission', submission.problem_id, submission.id) }}">{{ submission.id }}</a></td>
        {% else %}
          <td><a href="{{ url('contest:submission', contest.id, submission.id) }}">{{ submission.id }}</a></td>
        {% endif %}
          <td>{{ submission.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ submission.judge_end_time | date('Y-m-d H:i:s') }}</td>
        {% if contest %}
          <td><a href="{{ url('contest:problem', contest.pk, submission.contest_problem.identifier) }}">{{ submission.contest_problem }}</a></td>
        {% endif %}
          <td>{{ submission.get_lang_display() }}</td>
          <td><h5 class="ui header status-span" data-status="{{ submission.status }}"></h5></td>
          <td>{{ submission.get_time_display() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}