{% macro post_link(selector) %}
  <script>
    $("{{ selector }}").on('click', function(e) {
        var link = $(e.target).data('link');
        $.post(link, {'csrfmiddlewaretoken': Cookies.get('csrftoken')}, function (data) {
                location.reload();
            }
        );
    });
  </script>
{% endmacro %}