{% macro problem_view(title, contest) %}
  <div class="problem-header">
    <div class="property">
      <p><strong>Time limit per test: </strong>{{ problem.time_limit / 1000 }} seconds</p>
      <p><strong>Memory limit: </strong>{{ problem.memory_limit }} megabytes</p>
    </div>
  </div>

  <div class="problem-body">
    {% if problem.description %}
      <div class="passage">
        {{ problem.description | markdown | safer | safe }}
      </div>
    {% endif %}
    {% if problem.input %}
      <h3 class="title">Input</h3>
      {{ problem.input | markdown | safer | safe }}
    {% endif %}
    {% if problem.output %}
      <h3 class="title">Output</h3>
      {{ problem.output | markdown | safer | safe }}
    {% endif %}
    {% if problem.sample %}
      <div class="passage examples">
        <h3 class="title">Examples</h3>
        {% for input, output in problem.sample_display %}
          <div class="example">
            <div class="input">
              <div class="title">Input</div>
              <pre>{{ input }}</pre>
            </div>
            <div class="output">
              <div class="title">Output</div>
              <pre>{{ output }}</pre>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if problem.hint %}
      <h3 class="title">Note</h3>
      {{ problem.hint | markdown | safer | safe }}
    {% endif %}
    {% if not contest and problem.source %}
      <h3 class="title">Source</h3>
      <p>{{ problem.source }}</p>
    {% endif %}
  </div>
{% endmacro %}