{% macro problem_view(title, ac, all, contest) %}
  <div class="problem-header">
    <h2>{{ title }}</h2>
    <div class="property">
      <p><strong>Time limit per test: </strong>{{ problem.time_limit / 1000 }} seconds</p>
      <p><strong>Time limit all tests: </strong>{{ problem.sum_time_limit / 1000 }} seconds</p>
      <p><strong>Memory limit: </strong>{{ problem.memory_limit }} megabytes</p>
      {% if contest %}
        {% if not is_frozen %}
          <p><strong>Accept / Submit: </strong>{{ ac }} / {{ all }}</p>
        {% else %}
          <p><strong>Accept / Submit: </strong>N/A</p>
        {% endif %}
      {% else %}
        <p><strong>Accept / Submit: </strong><a href="{{ url('status') }}?problem={{ problem.pk }}">{{ ac }} / {{ all }}</a></p>
        <p><strong>Discussion: </strong><a href="{{ url('blog:discuss', problem.pk) }}">View</a></p>
      {% endif %}
    </div>
  </div>

  <div class="problem-body">
    {% if problem.description %}
      <div class="passage">
        {{ problem.description | markdown | safe }}
      </div>
    {% endif %}
    {% if problem.input %}
      <h3 class="title">Input</h3>
      {{ problem.input | markdown | safe }}
    {% endif %}
    {% if problem.output %}
      <h3 class="title">Output</h3>
      {{ problem.output | markdown | safe }}
    {% endif %}
    {% if problem.sample %}
      <div class="passage examples">
        <h3 class="title">Examples</h3>
        {{ problem.sample | sample | safe }}
      </div>
    {% endif %}
    {% if problem.hint %}
      <h3 class="title">Note</h3>
      {{ problem.hint | markdown | safe }}
    {% endif %}
    {% if not contest %}
      {% if problem.source %}
        <h3 class="title">Source</h3>
        {{ problem.source }}
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}