<div class="ui category search item user-search">
  <div class="ui transparent icon input">
    <input class="prompt" type="text" placeholder="Search animals...">
    <i class="search link icon"></i>
  </div>
  <div class="results"></div>
</div>