{# This template is for author only if access directly #}

<table class="ui celled table structured">
  <thead>
    <tr class="center aligned">
      <th>#</th>
      {% if not hide_problem %}
      <th>Problem</th>
      {% endif %}
      <th>Language</th>
      <th>Sent</th>
      <th>Judged</th>
      <th>Verdict</th>
      <th>CPU</th>
      {% if server %}
      <th>Judge</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr class="center aligned">
      <th rowspan="{% if submission.status_message %}3{% else %}2{% endif %}" style="padding:1em">{{ submission.id }}</th>
    {% if not hide_problem %}
      {% if submission.contest_id and submission.contest_problem %}
        <td><a href="{{ url('contest:problem', submission.contest_id, submission.contest_problem.identifier) }}">{{ submission.contest_problem }}</a></td>
      {% else %}
        <td><a href="{{ url('problem:detail', submission.problem_id) }}">{{ submission.problem }}</a></td>
      {% endif %}
    {% endif %}
      <td>{{ submission.get_lang_display() }}</td>
      <td>{{ submission.create_time | date('Y-m-d H:i:s') }}</td>
      <td>{{ submission.judge_end_time | date('Y-m-d H:i:s') }}</td>
      <td><h5 class="ui header status-span with-icon" {% if show_percent %}data-sp="1"{% endif %} data-score="{{ submission.status_score }}" data-status="{{ submission.status_private }}"></h5></td>
      <td>{{ submission.get_time_display() }}</td>
      {% if server %}
      <td>{{ server }}</td>
      {% endif %}
    </tr>
    <tr>
      {% set my_colspan = 6 %}
      {% if hide_problem %}
        {% set my_colspan = my_colspan - 1 %}
      {% endif %}
      {% if server %}
        {% set my_colspan = my_colspan + 1 %}
      {% endif %}
      <td colspan="{{ my_colspan }}">
        <div class="testcases" style="display: block;">
          {% for status_number, detail in submission.status_detail_display %}
            <span class="status-icon" data-tooltip="{{ detail }}" data-status="{{ status_number }}"><i class="icon"></i></span>
          {% endfor %}
        </div>
      </td>
    </tr>
    {% if submission.status_message %}
      <tr><td colspan="{{ my_colspan }}"><pre style="white-space: pre-wrap;">{{ submission.status_message }}</pre></td></tr>
    {% endif %}
  </tbody>
</table>

{% if submission.allow_case_download %}
  <a class="ui info icon message" href="{{ url('pay_report') }}?sub={{ submission.pk }}">
    <i class="circle help outline icon"></i>
    <div class="content">
      <div class="header">
        Need some help?
      </div>
      <p>Buy full debug report to see what's wrong.</p>
    </div>
  </a>
{% endif %}