{% from 'components/modal.jinja2' import modal %}

{% macro status(in_contest=False, hide_problems=False, rejudge=False, code_length=False, show_ip=False, anti_cheat=False) %}

  <table class="ui celled table center aligned compact unstackable status">
    <thead>
      <tr>
        <th>#</th>
        <th>When</th>
        {% if not hide_users %}
        <th>
          <div class="ui dropdown status-filter search" data-filter-type="user" data-value="{{ param_user }}" {% if contest %}data-filter-contest="{{ contest.pk }}"{% endif %}>
            <span class="text">Who</span>
            <div class="menu">
              <div class="item">Who</div>
            </div>
          </div>
          <span class="restore"><i class="close icon"></i></span>
        </th>
        {% endif %}
        {% if not hide_problems %}
          {% if contest %}
            <th>
              <div class="ui dropdown status-filter local" data-filter-type="problem" data-value="{{ param_problem }}">
                <div class="text">Problem</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Problems">
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-value="all">(All)</div>
                    {% for contest_problem in contest.contest_problem_list %}
                    <div class="item" data-value="{{ contest_problem.identifier }}">{{ contest_problem }}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </th>
          {% else %}
            <th>
              <div class="ui dropdown status-filter search" data-filter-type="problem" data-value="{{ param_problem }}">
                <span class="text">Problem</span>
                <div class="menu">
                  <div class="item">Problem</div>
                </div>
              </div>
              <span class="restore"><i class="close icon"></i></span>
            </th>
          {% endif %}
        {% endif %}
        <th>
          <div class="ui dropdown status-filter" data-filter-type="lang" data-value="{{ param_lang }}">
            <div class="text">Lang</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Languages">
              </div>
              <div class="scrolling menu">
                <div class="item" data-value="all">(All)</div>
                {% for identifier, display in lang_choices %}
                <div class="item" data-value="{{ identifier }}">{{ display }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </th>
        <th>
          {% if allow_verdict_query %}
            <div class="ui scrolling dropdown status-filter" data-filter-type="verdict" data-value="{{ param_verdict }}">
              <div class="text">Verdict</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="all">(All)</div>
                {% for identifier, display in verdict_choices %}
                <div class="item" data-value="v{{ identifier }}">{{ display }}</div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            Verdict
          {% endif %}
        </th>
      {% if show_percent %}
        <th>Percent</th>
      {% endif %}
      {% if code_length %}
        <th>Length</th>
      {% endif %}
        <th>Time</th>
      {% if rejudge %}
        <th><a class="modal-link" data-target="#rejudge-confirmation">Rejudge</a></th>
      {% endif %}
      {% if show_ip %}
        <th>IP</th>
      {% endif %}
      {% if anti_cheat %}
        <th>Cheat (IP)</th>
        <th>Cheat (Dup)</th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for submission in submission_list %}
        <tr>
          <td>
          {% if not submission.contest_id %}<a href="{{ url('problem:submission', submission.problem_id, submission.id) }}">{{ submission.id }}{% else %}<a href="{{ url('contest:submission', submission.contest_id, submission.id) }}">{{ submission.id }}{% endif %}{% if not all_valid and ((contest and submission.contest_id != contest.pk) or (not contest and submission.contest_id)) %}*{% endif %}
          </a></td>
          <td>{{ submission.create_time | date('Y-m-d H:i:s') }}</td>
        {% if not hide_users %}
          <td>{{ username_display(submission.author) }}</td>
        {% endif %}
          {% if not hide_problems %}
            {% if not contest %}
              <td><a href="{{ url('problem:detail', submission.problem_id) }}">{{ submission.problem }}</a></td>
            {% else %}
              {% if submission.contest_problem %}
                <td><a href="{{ url('contest:problem', contest.pk, submission.contest_problem.identifier) }}">{{ submission.contest_problem }}</a></td>
              {% else %}
                <td>N/A</td>
              {% endif %}
            {% endif %}
          {% endif %}
          <td>{{ submission.get_lang_display() }}</td>
          <td><h5 class="ui header status-span" data-status="{{ submission.status }}"></h5></td>
        {% if show_percent %}
          <td>{{ submission.status_percent | round(1) }} %</td>
        {% endif %}
        {% if code_length %}
          <td>{{ submission.code_length }} B</td>
        {% endif %}
          <td>{{ submission.get_time_display() }}</td>
        {% if rejudge %}
          <td><a data-link="{{ url('polygon:rejudge_submission', submission.id) }}" class="post-link">Rejudge</a></td>
        {% endif %}
        {% if judge_server %}
          <td>{{ submission.judge_server }}</td>
        {% endif %}
        {% if show_ip %}
          <td>{{ submission.ip }}</td>
        {% endif %}
        {% if anti_cheat %}
          <td>{% if submission.cheat_tag_ip %}
            <a href="{{ url('polygon:contest_anti_cheat_report', submission.contest_id, submission.id) }}">Report</a>
          {% else %}No{% endif %}</td>
          <td>{% if submission.cheat_tag_dup %}
            <a href="{{ url('polygon:contest_anti_cheat_report', submission.contest_id, submission.id) }}">Report</a>
          {% else %}No{% endif %}</td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if paginator %}
    {{ my_paginator() }}
  {% endif %}

  {% if rejudge %}
    {% call modal(title="Rejudge confirmation", id="rejudge-confirmation") %}
      {% if not contest %}
        <p>Are you sure you want to rejudge all submissions?</p>
        <form action="{{ url('polygon:rejudge_problem', problem.id) }}" method="POST">
          {% csrf_token %}
        </form>
      {% else %}
      <form class="ui form" action="{{ url('polygon:contest_rejudge', contest.id) }}" method="POST">
        {% csrf_token %}
        <div class="field">
          <div class="ui dropdown selection">
            <input type="hidden" name="problem">
            <div class="default text">Select Problem</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="all">(All)</div>
              {% for contest_problem in contest.contest_problem_list %}
              <div class="item" data-value="{{ contest_problem.problem_id }}">{{ contest_problem }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
      {% endif %}
    {% endcall %}
  {% endif %}

{% endmacro %}
