{% macro submit_view(submit_action="") %}

  {% include 'components/message.jinja2' %}

  <form class="ui form" action="{{ submit_action }}" method="post">
    {% csrf_token %}
    <div class="ui segments">
      <div class="ui right aligned compact segment">
        <div class="ui selection search language dropdown">
          <input name="lang" id="id_lang" type="hidden" value="python">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            {% for identifier, display in lang_choices %}
            <div class="item" data-value="{{ identifier }}">{{ display }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ui compact segment">
        <input type="hidden" name="code" id="id_code">
        <div id="editor" style="height: 400px; position: relative"></div>
      </div>
      <div class="ui compact right aligned segment">
        <button class="ui right labeled icon green button" id="problem-submit">
           <i class="icon send"></i> Submit
        </button>
      </div>
    </div>

  </form>

  <div id="older-submission" data-api-route="{{ url('problem:submission', problem.id) }}">
    <div v-if="current >= 0 && current < submission.length" style="margin-top: 3em">
      <h3 class="ui horizontal divider header">
        SUB #[[ submission[current].id ]]
      </h3>
      <div class="ui segment">
        <a class="ui top right attached label clipboard" :data-clipboard-text="subcurrent.code">
          <i class="copy icon"></i> [[ LANGUAGE_DISPLAY[subcurrent.lang] ]]
        </a>
        <div v-html="subcurrent.code_as_html"></div>
      </div>
      <table class="ui celled table structured">
        <thead>
          <tr class="center aligned">
            <th>#</th>
            <th>Language</th>
            <th>Send</th>
            <th>Judged</th>
            <th>Verdict</th>
            <th>CPU</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center aligned">
            <th rowspan="2" style="padding:1em">[[ subcurrent.id ]]</th>
            <td>[[ LANGUAGE_DISPLAY[subcurrent.lang] ]]</td>
            <td>[[ subcurrent.create_time_display ]]</td>
            <td>[[ subcurrent.judge_time_display ]]</td>
            <td><h5 :class="['ui', 'header', STATUS_COLOR[subcurrent.status] ]">
              <i :class="['icon', 'circle', 'fitted', STATUS_ICON[subcurrent.status] ]"></i>
              [[ STATUS[subcurrent.status] ]]
            </h5></td>
            <td>[[ time ]]</td>
          </tr>
          <tr>
            <td colspan="5" style="padding-top:4em; padding-bottom: 4em; padding-left: 2em; padding-right: 2em;">
              <div v-if="subcurrent.status == -2 || subcurrent.status == -3">
                <div class="ui active large centered inline loader"></div>
              </div>
              <p v-if="subcurrent.status_detail_list.length > 1">
                <span v-for="(detail, index) in subcurrent.status_detail_list"
                      :data-tooltip="(index+1) + '/' + (subcurrent.status_detail_list.length) + ': ' + STATUS[detail.verdict]">
                  <i :class="['ui', 'icon', 'bordered', 'fitted', 'small', STATUS_ICON[detail.verdict], STATUS_COLOR[detail.verdict] ]"></i>
                </span>
              </p>
              <div v-if="subcurrent.status_message.length > 0">
                <h3 class="ui header">Error Message</h3>
                <pre style="white-space: pre-wrap;">[[ subcurrent.status_message ]]</pre>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="submission.length > 0" id="current-submission" style="margin-top: 3em">
      <h3 class="ui horizontal divider header">
        PAST SUBMISSIONS
      </h3>
      <div class="ui labels">
        <a v-for="(sub, index) in submission" :class="['ui', 'label', STATUS_COLOR[sub.status]]" :key="sub.id"
          @click="toggleCurrent" :index="index">
          [[ STATUS[sub.status] ]]
          <div class="detail">#[[ sub.id ]]</div>
        </a>
      </div>
    </div>
  </div>

{% endmacro %}