{% if testcases %}
<div class="ui header">
  <i class="ordered list icon"></i>
  <div class="content">
    {{ _('Judgement protocol') }}
    <div class="sub header">{{ _('First 512 bytes.') }}</div>
  </div>
</div>

<div class="submission-report">
  <div class="passage examples">
  {% for case in testcases %}
    <div class="indicator" id="report{{ loop.index }}"><b>{{ _('Case') }} #{{ loop.index }}: {{ case.meta }}</b></div>
    <div class="example">
      <div class="input">
        <div class="title">Input</div>
        <pre>{{ case.input }}</pre>
      </div>
      <div class="output">
        <div class="title">Output</div>
        <pre>{{ case.output }}</pre>
      </div>
      {% if case.stderr %}
      <div class="stderr">
        <div class="title">Stderr</div>
        <pre>{{ case.stderr }}</pre>
      </div>
      {% endif %}
      <div class="answer">
        <div class="title">Answer</div>
        <pre>{{ case.answer }}</pre>
      </div>
      <div class="checker">
        <div class="title">Checker's comment</div>
        <pre>{{ case.checker }}</pre>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

  <a class="ui fixed circular button icon" href="#top">
    <i class="arrow up icon"></i>
  </a>
  <style>
    .fixed.button {
      position: fixed;
      bottom: 2.5em;
      right: 2em;
      height: auto;
      white-space: nowrap;
      overflow: hidden;
      z-index: 1;
    }
  </style>


{% endif %}