{% macro submit_view(submit_action="") %}

  {% include 'components/message.jinja2' %}

  <form class="ui form" action="{{ submit_action }}" method="post">
    {% csrf_token %}
    <div class="ui segments">
      <div class="ui right aligned compact segment">
        <div class="ui selection search language dropdown">
          <input name="lang" id="id_lang" type="hidden" value="python">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            {% for identifier, display in lang_choices %}
            <div class="item" data-value="{{ identifier }}">{{ display }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ui compact segment">
        <input type="hidden" name="code" id="id_code">
        <div id="editor" style="height: 400px; position: relative"></div>
      </div>
      <div class="ui compact right aligned segment">
        <button class="ui right labeled icon green button" id="problem-submit">
           <i class="icon send"></i> Submit
        </button>
      </div>
    </div>

  </form>

  <div id="older-submission" data-api-route="{{ url('problem:submission', problem.id) }}">
    <div v-html="subcurrent" style="margin-top: 3em;"></div>
    <div v-if="submission.length > 0" id="current-submission" style="margin-top: 3em">
      <h3 class="ui horizontal divider header">
        PAST SUBMISSIONS
      </h3>
      <div class="ui labels">
        <a v-for="(sub, index) in submission" :class="['ui', 'label', STATUS_COLOR[sub.status]]" :key="sub.id"
          @click="toggleCurrent" :index="index">
          [[ STATUS[sub.status] ]]
          <div class="detail">#[[ sub.id ]]</div>
        </a>
      </div>
    </div>
  </div>

{% endmacro %}