{% macro submit_view() %}

  {% include 'components/message.jinja2' %}

  <form class="ui form" action="" method="post">
    {% csrf_token %}
    <div class="ui segments">
      <div class="ui right aligned compact segment">
        <!-- TODO: default language -->
        <div class="ui selection search language dropdown">
          <input name="code" id="id_lang" type="hidden" value="python">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            {% for identifier, display in lang_choices %}
            <div class="item" data-value="{{ identifier }}">{{ display }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ui compact segment">
        <input type="hidden" name="code" id="id_code">
        <div id="editor" style="height: 400px; position: relative"></div>
      </div>
      <div class="ui compact right aligned segment">
        <button class="ui right labeled icon green button">
           <i class="icon send"></i> Submit
        </button>
      </div>
    </div>

  </form>

  <div id="older-submission" data-api-route="{{ url('problem:submission', problem.id) }}" style="margin-top: 4em">
    <div v-if="current >= 0 && current < submission.length">
      <div v-html="submission[current].code_as_html"></div>
    </div>
    <div v-if="submission.length > 0">
      <h3 class="ui horizontal divider header">
        PAST SUBMISSIONS
      </h3>
      <div class="ui labels">
        <a v-for="sub in submission" :class="['ui', 'label', STATUS_COLOR[sub.status]]">
          [[ STATUS[sub.status] ]]
          <div class="detail">#[[ sub.id ]]</div>
        </a>
      </div>
    </div>
  </div>

{% endmacro %}