<a class="user text {% if color %}semi-bold {{ color }}{% endif %} {{ additional_class }}" href="{{ url('profile', user_id) }}">{% if color == 'legendary' %}{{ first_name }}<span class="user text red">{{ second_name }}</span> {% else %} {{ username }} {% endif %} {% if ghost %}<i class="snapchat ghost grey icon"></i>{% endif %}{% if in_contest %}<a class="ui no-margin text {{ color }}" href="{{ url('contest:dashboard', in_contest) }}" data-inverted="" data-tooltip="Contestant"><i class="ui icon flag outline"></i></a>{% elif legend %}<i class="ui icon cloud"></i>{% endif %}</a>
