{% extends 'polygon/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}Contest Manage - {% endblock %}

{% block content %}
  <h1 class="ui header">Contest: {{ contest.title }}</h1>

  <div class="ui pointing secondary menu">
    <a class="item {{ active('polygon:contest_meta') }}" href="{{ url('polygon:contest_meta', contest.id) }}">Meta</a>
    <a class="item {{ active('polygon:contest_problem') }}" href="{{ url('polygon:contest_problem_manage', contest.id) }}">Problems</a>
    <a class="item {{ active('polygon:contest_invitation') }}" href="{{ url('polygon:contest_invitation', contest.id) }}">Invitations</a>
    <a class="item {{ active('polygon:contest_participant') }}" href="{{ url('polygon:contest_participant', contest.id) }}">Participants</a>
    <a class="item {{ active('polygon:contest_status') }}" href="{{ url('polygon:contest_status', contest.id) }}">Submissions</a>
    <a class="item" href="{{ url('polygon:contest_anti_cheat_status', contest.id) }}">Anti-Cheat</a>
    <a class="item" href="{{ url('contest:standings', contest.id) }}?privilege=true" target="_blank">Standings</a>
  </div>

  {% block contest_content %}
  {% endblock %}

{% endblock %}