{% extends 'polygon/contest/base.jinja2' %}

{% block contest_content %}

  <h3 class="ui dividing header">Summary</h3>
  <ul class="ui list">
    <li class="item">Title: {{ contest.title }}</li>
    <li class="item">PDF Statement: {{ contest.pdf_statement }}, <a class="post prompt" data-link="{{ url('polygon:contest_drop_statement', contest.id) }}">drop PDF statement</a>.</li>
    <li class="item">Participants: {{ contest.participants.count() }}</li>
  </ul>

  <h3 class="ui dividing header">Edit</h3>

  <div class="ui fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Edit Authors
    </div>
    <div class="content">
      <form class="ui form" method="POST" action="{{ url('polygon:contest_author_manage', contest.id) }}">
        {% csrf_token %}
        <div class="field">
          {{ user_search_multiple(name='author', exist=author_list) }}
        </div>
        <button class="ui submit button">You Must Save Here</button>
      </form>
    </div>
  </div>
  <div class="ui fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Edit Admin Access
    </div>
    <div class="content">
      <form class="ui form" method="POST" action="{{ url('polygon:contest_access_manage', contest.id) }}">
        {% csrf_token %}
        <div class="field">
          {{ user_search_multiple(name='admin', exist=admin_list) }}
        </div>
        <button class="ui submit button">You Must Save Here</button>
      </form>
    </div>
  </div>
  <div class="ui fluid accordion" style="margin-bottom: 2em;">
    <div class="title">
      <i class="dropdown icon"></i>
      Edit Volunteer Access
    </div>
    <div class="content">
      <form class="ui form" method="POST" action="{{ url('polygon:contest_volunteer_manage', contest.id) }}">
        {% csrf_token %}
        <div class="field">
          {{ user_search_multiple(name='volunteer', exist=volunteer_list) }}
        </div>
        <button class="ui submit button">You Must Save Here</button>
      </form>
    </div>
  </div>

  {% include 'components/form.jinja2' %}


{% endblock %}
