{% extends 'polygon/contest/base.jinja2' %}

{% block contest_content %}

  {% include 'components/message.jinja2' %}
  <div class="ui buttons">
    <button class="ui primary button modal-link" data-target="#addInvitationModal">Add invitations</button>
    <button class="ui button modal-link" data-toggle="modal" data-target="#importInvitationModal">Import from namelist</button>
    <a role="button" class="ui button" href="{{ url('polygon:contest_invitation_download', contest.pk) }}">Download as csv</a>
  </div>

  <table class="ui table center aligned">
    <thead>
      <tr>
        <th>Invitation</th>
        <th>Comment</th>
        <th>Assign</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for invitation in invitation_list %}
        <tr>
          <td>{{ invitation.code }}</td>
          <td>{{ invitation.comment }}</td>
          <td><a class="modal-link" data-target="#assignInvitationModal" data-action="{{ url('polygon:contest_invitation_assign', contest.pk, invitation.pk) }}">Assign</a></td>
          <td><a class="post-link" data-link="{{ url('polygon:contest_invitation_delete', contest.pk, invitation.pk) }}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

  {% call modal(title="Paste your namelist", id="importInvitationModal", action=url('polygon:contest_invitation_create', contest.pk)) %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="field"><textarea name="list" id="list" rows="7" placeholder="One record per line"></textarea></div>
  {% endcall %}

  {% call modal(title="Assign invitations", id="assignInvitationModal", action="#") %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="field">
      <label>Username:</label>
      <input name="username">
    </div>
  {% endcall %}

  {% call modal(title="Add invitations", id="addInvitationModal", action=url('polygon:contest_invitation_create', contest.pk)) %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="field">
      <label>Count:</label>
      <input type="number" value="1" id="number" name="number">
    </div>
  {% endcall %}

{% endblock %}
