{% extends 'polygon/base.jinja2' %}

{% block title %}Contests - {% endblock %}

{% block content %}

  <table class="ui celled table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="6">
          <button id="contest-create-button" class="ui right floated primary labeled icon button">
            <i class="server icon"></i> Add Contest
          </button>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Public</th>
        <th>Open</th>
        <th>Visible</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contest_list %}
        <tr>
          <td><a href="{{ url('polygon:contest_meta', contest.id) }}">{{ contest.title }}</a></td>
          <td class="collapsing">{{ contest.start_time | date('Y-m-d H:i:s') }}</td>
          <td class="collapsing">{{ contest.end_time | date('Y-m-d H:i:s') }}</td>
          <td class="collapsing">{{ contest.public }}</td>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('polygon:contest_toggle_open', contest.id) }}" type="checkbox" {% if contest.open_problems %}checked{% endif %}>
            </div>
          </td>
          <td class="collapsing">
            <div class="ui fitted slider checkbox immediate">
              <input data-link="{{ url('polygon:contest_toggle_visible', contest.id) }}" type="checkbox" {% if contest.visible %}checked{% endif %}>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="ui basic tiny modal" id="contest-create">
    <div class="ui icon header">
      <i class="flag checkered icon"></i>
      Create a contest
    </div>
    <div class="content">
      <p>Are you sure you want to create a contest? You can not undo this.</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <a class="ui green ok inverted button post-link" data-link="{{ url('polygon:contest_create') }}">
        <i class="checkmark icon"></i>
        Yes
      </a>
    </div>
  </div>

{% endblock %}
