{% extends 'polygon/contest/base.jinja2' %}

{% block contest_content %}

  <div id="contest-problem-app" data-api-route="{{ url('polygon:contest_problem_manage', contest.id) }}?data=true">
    <table class="ui celled center aligned table">
      <thead>
        <tr>
          <th colspan="8" class="right aligned">
            <div class="ui action input">
              <div class="ui multiple search selection dropdown problem-search"
                 data-query="{{ url('api:problem_search') }}?kw={query}&managing=true">
                <input type="hidden" id="add_problem_input">
                <i class="dropdown icon"></i>
                <div class="default text">Search for problems</div>
                <div class="menu"></div>
              </div>
              <div class="ui teal button" @click="addProblem" data-url="{{ url('polygon:contest_problem_create', contest.id) }}">Add</div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="collapsing">#</th>
          <th class="collapsing">ID</th>
          <th>Alias</th>
          <th>Title</th>
          <th>Weight</th>
          <th>Accepted</th>
          <th>Solved</th>
          <th class="collapsing">Edit</th>
        </tr>
      </thead>
      <tbody is="draggable" v-model="appData" element="tbody">
        <tr v-for="ele in appData" :key="ele.pid">
          <td class="collapsing center aligned"><a href="javascript:void(0)" @click="readjustProblemIdentifier" :data-id="ele.pid">[[ ele.identifier ]]</a></td>
          <td class="collapsing center aligned">[[ ele.id ]]</td>
          <td>[[ ele.alias ]]</td>
          <td>[[ ele.title ]]</td>
          <td><a href="javascript:void(0)" @click="readjustProblemPoint" :data-id="ele.pid">[[ ele.weight ]]</a></td>
          <td class="center aligned">[[ ele.ac1 + ' / ' + ele.tot1 + ' (' + ele.ratio1.toFixed(2) + '%)' ]]</td>
          <td class="center aligned">[[ ele.ac2 + ' / ' + ele.tot2 + ' (' + ele.ratio2.toFixed(2) + '%)' ]]</td>
          <td class="center aligned"><a href="javascript:void(0)" @click="deleteConfirmation" data-url="{{ url('polygon:contest_problem_delete', contest.id) }}" :data-pid="ele.pid">Delete</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr><th colspan="8" class="right aligned">
          <button class="ui teal button" @click="reorderProblem" data-url="{{ url('polygon:contest_problem_reorder', contest.id) }}">Save orders</button>
        </th></tr>
      </tfoot>
    </table>
  </div>

  {% call modal(title="Readjust problem identifier", id="problem-identifier-modal") %}
    <form class="ui form" action="{{ url('polygon:contest_problem_readjust_identifier', contest.id) }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="problem">
      <div class="ui field">
        <input type="text" name="identifier">
      </div>
    </form>
  {% endcall %}

  {% call modal(title="Readjust problem point", id="problem-point-modal") %}
    <form class="ui form" action="{{ url('polygon:contest_problem_readjust_point', contest.id) }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="problem">
      <div class="ui field">
        <label>Worth points</label>
        <input type="number" name="weight">
      </div>
    </form>
  {% endcall %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}
