{% extends 'polygon/problem2/base.jinja2' %}

{% block problem_content %}
  {% include 'components/form.jinja2' %}

  <div class="ui dividing header">Related Revisions</div>

  <table class="ui celled center aligned table">
    <thead>
      <tr>
        <th>Revision</th>
        <th>Create</th>
        <th>Update</th>
        <th>Author</th>
        <th>Status</th>
        <th>Based on</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for revision in revision_list %}
      <tr>
        <td>{{ revision.revision }}</td>
        <td>{{ revision.create_time | date('Y-m-d H:i') }}</td>
        <td>{{ revision.update_time | date('Y-m-d H:i') }}</td>
        <td>{{ username_display(revision.user) }}</td>
        <td>{{ revision.get_status_display() }}</td>
        <td>{% if revision.based_on %}{{ revision.based_on }}{% endif %}</td>
        <td>{% if revision.status == 0 %}<a href="{{ url('polygon:revision_update', problem.id, revision.id) }}">Continue</a>{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
