{% extends 'polygon/base.jinja2' %}
{% from 'components/search_user.jinja2' import user_search_multiple %}

{% block title %}Problem #{{ problem.id }} - {% endblock %}

{% block css %}
<style>
  pre {
    margin: 0;
  }
</style>
{% endblock %}

{% block content %}
  <h1 class="ui header">Problem #{{ problem.id }} (Revision {{ revision.revision }})</h1>

  <div class="ui text stackable menu">
    <a class="item {{ active('polygon:revision_update') }}" href="{{ url('polygon:revision_update', problem.id, revision.id) }}">Revision</a>
    <a class="item {{ active('polygon:revision_statement') }}" href="{{ url('polygon:revision_statement', problem.id, revision.id) }}">Statements</a>
    <a class="item {{ active('polygon:revision_asset') }}" href="{{ url('polygon:revision_asset', problem.id, revision.id) }}">Assets</a>
    <a class="item {{ active('polygon:revision_program') }}" href="{{ url('polygon:revision_program', problem.id, revision.id) }}">Programs</a>
    <a class="item {{ active('polygon:revision_case') }}" href="{{ url('polygon:revision_case', problem.id, revision.id) }}">Cases</a>
    <a class="item {{ active('polygon:revision_task') }}" href="{{ url('polygon:revision_task', problem.id, revision.id) }}">Tasks</a>
    <a class="item" href="{{ url('polygon:problem_status', problem.id) }}" target="_blank">Submits</a>
    <a class="item" href="{{ url('problem:detail', problem.id) }}" target="_blank">Preview</a>
    {#    <a class="item {{ active('polygon:problem_status') }}" href="{{ url('polygon:problem_status', problem.id) }}">Submits</a>#}
  </div>

  <div class="ui inverted dimmer" id="loading-dimmer">
    <div class="ui text loader">Loading</div>
  </div>

  {% if not disable_grid %}
  <div class="ui grid">
    <div class="twelve wide column">
    {% endif %}
      {% block problem_content %}
      {% endblock %}
    {% if not disable_grid %}
    </div>
    <div class="four wide column">
      <div class="ui info small message">
        <div class="header">
          Quick Review
        </div>
        <ul class="list">
          <li class="item"><b>Problem ID:</b> {{ problem.pk }}</li>
          <li class="item"><b>Problem Alias:</b> {{ problem.alias }}</li>
          <li class="item"><b>Revision:</b> {{ revision.revision }}</li>
          <li class="item"><b>Statement:</b>
            {% if revision.active_statement %}
              <a href="{{ url('polygon:revision_statement_preview', problem.id, revision.id, revision.active_statement_id) }}">{{ revision.active_statement.name }}</a>
            {% else %}
              <a href="{{ url('polygon:revision_statement', problem.id, revision.id) }}"><span class="text red bold" style="font-weight:bold;">None</span></a>
            {% endif %}
          </li>
          <li class="item"><b>Checker:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_checker %}
                {{ revision.active_checker.name }}
              {% else %}
                <span class="text orange bold" style="font-weight:bold;" data-tooltip="Default checker is supported. Check help for details.">default</span>
              {% endif %}
            </a>
          </li>
          <li class="item"><b>Validator:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_validator %}
                {{ revision.active_validator.name }}
              {% else %}
                None
              {% endif %}
            </a>
          </li>
          <li class="item"><b>Interactor:</b>
            <a href="{{ url('polygon:revision_program', problem.id, revision.id) }}">
              {% if revision.active_interactor %}
                {{ revision.active_interactor.name }}
              {% else %}
                None
              {% endif %}
            </a>
          </li>
          <li class="item"><b>Cases:</b>
            <a href="{{ url('polygon:revision_case', problem.id, revision.id) }}">
              {{ revision.cases.count() }}
            </a>
          </li>
          <li class="item"><b>Time limit:</b> {{ revision.time_limit }} ms</li>
          <li class="item"><b>Memory limit:</b> {{ revision.memory_limit }} MB</li>
        </ul>
      </div>
      <a class="ui green fluid small button post prompt" data-link="{{ url('polygon:revision_confirm', problem.id, revision.id) }}" style="margin-bottom: 0.75em">Publish</a>
      <a class="ui fluid small button post prompt" data-link="{{ url('polygon:revision_create', problem.id) }}" style="margin-bottom: 0.75em">Start New Revision From Version Online</a>
      <a class="ui fluid small button" href="{{ url('polygon:problem_basic_info', problem.id) }}" target="_blank" style="margin-bottom: 0.75em">Update Basic Info</a>
      <a class="ui fluid small negative button post prompt" data-link="{{ url('polygon:revision_discard', problem.id, revision.id) }}"  style="margin-bottom: 0.75em">Discard</a>

    </div>
  </div>
  {% endif %}

  {% include 'components/delete_confirmation.jinja2' %}

{% endblock %}