{% extends 'polygon/base.jinja2' %}

{% block title %}Problems - {% endblock %}

{% block content %}

  <table class="ui celled table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="6">
          <button id="contest-create-button" class="ui right floated primary labeled icon button">
            <i class="server icon"></i> Add Problem
          </button>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th class="collapsing">Alias</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing">Revisions</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problem_list %}
        <tr>
          <td>{{ problem.pk }}</td>
          <td>{{ problem.alias }}</td>
          <td>{{ problem.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.update_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.revisions__count }} revisions total<br>
          {% if problem.latest_revision %}<a href="{{ url('polygon:revision_update', problem.pk, problem.latest_revision.pk) }}">Latest revision</a>
          {% else %}<a class="post-link" data-link="{{ url('polygon:revision_create', problem.pk) }}">Start new revision</a>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

  <div class="ui basic tiny modal" id="contest-create">
    <div class="ui icon header">
      <i class="fork icon"></i>
      Create a problem
    </div>
    <div class="content">
      <p>Are you sure you want to create a problem? You can not undo this.</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <a class="ui green ok inverted button post-link" data-link="{{ url('polygon:problem_create_2') }}">
        <i class="checkmark icon"></i>
        Yes
      </a>
    </div>
  </div>

{% endblock %}
