{% extends 'polygon/base.jinja2' %}

{% block title %}Problems - {% endblock %}

{% block content %}

  <form class="ui form" name="searchForm">
    <div class="ui icon input">
      <input type="text" name="q" value="{{ search_text }}" placeholder="Search...">
      <i class="inverted circular search link icon" onclick="document.forms.searchForm.submit()"></i>
    </div>
  </form>

  {% if suggest_problem %}
    <div class="ui positive message">
      <i class="close icon"></i>
      <div class="header">
        Is it possible that you are searching by ID?
      </div>
      <p>Click <a href="{% if suggest_problem.latest_revision %}{{ url('polygon:revision_update', suggest_problem.pk, suggest_problem.latest_revision.pk) }}{% else %}{{ url('polygon:problem_list_2') }}?exact={{ search_text }}{% endif %}">Problem {{ suggest_problem.pk }}</a> here to go direct to the edit zone.</p>
    </div>
  {% endif %}

  {% include 'components/message.jinja2' %}

  <table class="ui celled small table center aligned">
    <thead class="full-width">
      <tr>
        <th colspan="9">
          <div class="ui right floated buttons">
            <a class="ui button post ask" data-link="{{ url('polygon:problem_clone') }}" data-question="Type in the problem ID you want to clone. If you want a contest problem, please type <ContestID>-<ProblemID>, for example, 79-A, or 33-1021.">
              Request Clone
            </a>
            <a class="ui primary labeled icon button post prompt" data-link="{{ url('polygon:problem_create_2') }}">
              <i class="server icon"></i> Add Problem
            </a>
          </div>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th class="collapsing">Alias</th>
        <th class="collapsing">Title</th>
        <th class="collapsing">Source</th>
        <th class="collapsing">Created</th>
        <th class="collapsing">Updated</th>
        <th class="collapsing" colspan="2">Revisions</th>
        <th class="collapsing">Basics</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problem_list %}
        <tr>
          <td>{{ problem.pk }}</td>
          <td>{{ problem.alias }}</td>
          <td>{{ problem.title }}</td>
          <td>{{ problem.source }}</td>
          <td>{{ problem.create_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.update_time | date('Y-m-d H:i:s') }}</td>
          <td>{{ problem.revisions__count }} total</td>
          <td>
          {% if problem.latest_revision %}<a href="{{ url('polygon:revision_update', problem.pk, problem.latest_revision.pk) }}">Latest revision</a>
          {% else %}<a class="post prompt" data-link="{{ url('polygon:revision_create', problem.pk) }}">Start new revision</a>{% endif %}
          </td>
          <td><a href="{{ url('polygon:problem_basic_info', problem.id) }}">Metainfo</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ my_paginator() }}

{% endblock %}
