{% extends 'problem2/base.jinja2' %}

{% block problem_content %}

  <h2 class="ui header">{{ statement.title }} <a href="{{ url('polygon:revision_statement_update', problem.id, revision.id, statement.id) }}"><i class="edit icon"></i></a></h2>
  <div class="problem-body">
    {% if statement.description %}
      <div class="passage">
        {{ statement.description | markdown | safe }}
      </div>
    {% endif %}
    {% if statement.input %}
      <h3 class="title">Input</h3>
      {{ statement.input | markdown | safer | safe }}
    {% endif %}
    {% if statement.output %}
      <h3 class="title">Output</h3>
      {{ statement.output | markdown | safer | safe }}
    {% endif %}
    {% if samples %}
      <div class="passage examples">
        <h3 class="title">Examples</h3>
        {% for input, output in samples %}
          <div class="example">
            <div class="input">
              <div class="title">Input</div>
              <pre class="sample-content">{{ input }}</pre>
            </div>
            <div class="output">
              <div class="title">Output</div>
              <pre class="sample-content">{{ output }}</pre>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if statement.hint %}
      <h3 class="title">Note</h3>
      {{ statement.hint | markdown | safer | safe }}
    {% endif %}
  </div>


{% endblock %}
